<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="ktorrent" version="3">
<MenuBar>
  <Menu name="file"><text>&amp;File</text>
	  <Action name="file_new"/>
	  <Action name="file_open"/>
	  <Action name="file_open_silently"/>
	  <Action name="paste_url"/>
	  <Separator/>
	  <Action name="import" />
	  <Action name="ipfilter_action"/>
	  <Merge/>
  </Menu>
  <Menu name="Downloads"><text>Downloads</text>
	<Action name="start" />
	<Action name="stop" />
	<Action name="remove" />
	<Separator/>
	<Action name="start_all"/>
	<Action name="stop_all"/>
	<Separator/>
	<Action name="check_data"/>
	<Separator/>
	<Action name="queue_action"/>
	<Action name="queue_pause" />
	<Separator/>
	<Action name="speed_limits"/>
  </Menu>
</MenuBar>

<Menu name="Groups"><text>Groups</text>
	<Action name="open_tab"/>
	<Separator/>
	<Action name="new_group" />
	<Action name="edit_group_name" />
	<Action name="remove_group" />
	<Separator/>
	<Action name="edit_group_policy" />
	<Merge/>
</Menu>

<ToolBar name="mainToolBar" noMerge="1"><text>Main Toolbar</text>
    <Action name="file_new"/>
    <Action name="file_open"/>
    <Separator/>
    <Action name="edit_copy"/>
    <Action name="edit_paste"/>
    <Separator/>
    <Action name="ipfilter_action"/>
</ToolBar>
<ToolBar name="DownloadToolBar" noMerge="1"><text>Download Toolbar</text>
	<Action name="start"/>
	<Action name="stop"/>
	<Action name="remove"/>
	<Action name="start_all"/>
	<Action name="stop_all"/>
	<Separator/>
	<Action name="queue_action"/>
	<Action name="queue_pause" />
</ToolBar>
</kpartgui>
