[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KTorrent/Plugin
Name=KTorrent Plugin
Name[ast]=Complementu de KTorrent
Name[be]=Утулка KTorrent
Name[bg]=Приставка на KTorrent
Name[bs]=Priključak KTorenta
Name[ca]=Connector del KTorrent
Name[ca@valencia]=Connector del KTorrent
Name[cs]=KTorrent modul
Name[da]=KTorrent-plugin
Name[de]=KTorrent-Modul
Name[el]=Πρόσθετο KTorrent
Name[en_GB]=KTorrent Plugin
Name[es]=Complemento de KTorrent
Name[et]=KTorrenti plugin
Name[fi]=KTorrent-liitännäinen
Name[fr]=Module externe KTorrent
Name[ga]=Breiseán KTorrent
Name[gl]=Complemento de KTorrent
Name[hne]=केटोरेंट प्लगइन
Name[hr]=Priključak za KTorrent
Name[hu]=KTorrent bővítmény
Name[is]=KTorrent íforrit
Name[it]=Estensione KTorrent
Name[ja]=KTorrent プラグイン
Name[kk]=KTorrent плагині
Name[km]=កម្មវិធី​ជំនួយ KTorrent
Name[lt]=KTorrent įskiepis
Name[lv]=KTorrent spraudnis
Name[mr]=के-टोरंट प्लगइन
Name[nb]=KTorrent-modul
Name[nds]=KTorrent-Moduul
Name[ne]=केडीई टोरेन्ट प्लगइन
Name[nl]=KTorrent-plugin
Name[nn]=KTorrent-tillegg
Name[pl]=Wtyczka KTorrent
Name[pt]='Plugin' do KTorrent
Name[pt_BR]=Plugin do KTorrent
Name[ro]=Modul KTorrent
Name[ru]=Модуль KTorrent
Name[si]=KTorrent ප්ලගිනය
Name[sk]=KTorrent Plugin
Name[sl]=Vstavek za KTorrent
Name[sq]=KTorrent Plugin
Name[sr]=Прикључак К‑торента
Name[sr@ijekavian]=Прикључак К‑торента
Name[sr@ijekavianlatin]=Priključak KTorrenta
Name[sr@latin]=Priključak KTorrenta
Name[sv]=Ktorrent-insticksprogram
Name[tr]=KTorrent Eklentisi
Name[uk]=Додаток до KTorrent
Name[x-test]=xxKTorrent Pluginxx
Name[zh_CN]=KTorrent 插件
Name[zh_TW]=KTorrent 外掛程式
