[Desktop Entry]
Name=KTorrent
Name[hi]=केटोरेंट
Name[ne]=केडीई टोरेन्ट
Name[sv]=Ktorrent
Name[th]=โปรแกรม KTorrent
Name[x-test]=xxKTorrentxx
GenericName=BitTorrent Client
GenericName[be]=Кліент BitTorrent
GenericName[bg]=Бит Торент клиент
GenericName[ca]=Client de BitTorrent
GenericName[cs]=BitTorrent klient
GenericName[da]=BitTorrent-klient
GenericName[de]=BitTorrent-Programm
GenericName[el]=Πελάτης BitTorrent
GenericName[es]=Cliente de BitTorrent
GenericName[et]=BitTorrenti klient
GenericName[fr]=Client BitTorrent
GenericName[ga]=Cliant BitTorrent
GenericName[gl]=Cliente de BitTorrent
GenericName[hi]=बिटटोरेंट क्लाएंट
GenericName[it]=Client BitTorrent
GenericName[ja]=BitTorrent クライアント
GenericName[km]=កម្មវិធី BitTorrent
GenericName[lt]=BitTorrent klientas
GenericName[lv]=BitTorrent klients
GenericName[nb]=BitTorrent-klient
GenericName[nds]=BitTorrent-Client
GenericName[ne]=बीट टोरेन्ट क्लाइन्ट
GenericName[nl]=BitTorrent-cliënt
GenericName[nn]=Ein BitTorrent-klient.
GenericName[pl]=Klient BitTorrent
GenericName[pt]=Cliente de BitTorrent
GenericName[pt_BR]=Cliente BitTorrent
GenericName[ro]=Client BitTorrent
GenericName[ru]=Клиент BitTorrent
GenericName[sk]=BitTorrent Klient
GenericName[sl]=Odjemalec za BitTorrent
GenericName[sv]=BitTorrent-klient
GenericName[th]=โปรแกรมสำหรับ BitTorrent
GenericName[tr]=BitTorrent İstemcisi
GenericName[uk]=Клієнт BitTorrent
GenericName[x-test]=xxBitTorrent Clientxx
GenericName[zh_CN]=BitTorrent 客户端
GenericName[zh_TW]=BitTorrent 客戶端程式
Exec=ktorrent %i -caption "%c" %u
Icon=ktorrent
Type=Application
DocPath=ktorrent/index.html
MimeType=application/x-bittorrent;application/x-torrent;
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.ktorrent.ktorrent
Comment=A BitTorrent program for KDE
Comment[be]=Кліент BitTorrent для KDE
Comment[bg]=Бит Торент клиент за KDE
Comment[ca]=Un programa de BitTorrent per al KDE
Comment[cs]=BitTorrent pro KDE
Comment[da]=Et BitTorrent-program til KDE
Comment[de]=Ein BitTorrent-Programm für KDE
Comment[el]=Μία εφαρμογή BitTorrent για το KDE
Comment[es]=Un programa de BitTorrent para KDE
Comment[et]=KDE BitTorrenti rakendus
Comment[fr]=Un programme BitTorrent pour KDE
Comment[ga]=Clár BitTorrent KDE
Comment[gl]=Un programa de bittorrent para KDE
Comment[it]=Un programma BitTorrent per KDE
Comment[ja]=KDE のための BitTorrent プログラム
Comment[km]=កម្មវិធី BitTorrent សម្រាប់ KDE
Comment[lt]=BitTorrent programa KDE aplinkai
Comment[lv]=Bittorrent programma KDE darbvirsmai
Comment[nb]=Et BitTorrent-program for KDE
Comment[nds]=En BitTorrent-Programm för KDE
Comment[ne]=केडीईका लागि बीट टोरेन्ट कार्यक्रम
Comment[nl]=Een BitTorrent-programma voor KDE
Comment[nn]=Eit BitTorrent-program for KDE.
Comment[pl]=Klient bittorrent dla KDE
Comment[pt]=Um programa de BitTorrent para o KDE
Comment[pt_BR]=Um programa BitTorrent para o KDE
Comment[ro]=Client BitTorrent pentru KDE
Comment[ru]=Клиент BitTorrent для KDE
Comment[sk]=BitTorrent klient pre KDE
Comment[sl]=KDE-jev program za BitTorrent
Comment[sv]=Ett BitTorrent-program för KDE
Comment[th]=โปรแกรม BitTorrent สำหรับ KDE
Comment[tr]=KDE için BitTorrent uygulaması
Comment[uk]=Програма BitTorrent для KDE
Comment[x-test]=xxA BitTorrent program for KDExx
Comment[zh_CN]=一个 KDE 的 BitTorrent 程序
Comment[zh_TW]=KDE 的 BitTorrent 程式
Terminal=false
Categories=Qt;KDE;Network;FileTransfer;P2P;
