[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KTorrent/Plugin
Name=KTorrent Plugin
Name[ca]=Connector del KTorrent
Name[da]=KTorrent-plugin
Name[de]=KTorrent-Modul
Name[el]=Πρόσθετο KTorrent
Name[es]=Complemento de KTorrent
Name[et]=KTorrenti plugin
Name[fr]=Module externe KTorrent
Name[gl]=Extensión de KTorrent
Name[it]=Plugin KTorrent
Name[ja]=KTorrent プラグイン
Name[lt]=KTorrent įskiepis
Name[lv]=KTorrent spraudnis
Name[nb]=KTorrent-modul
Name[nds]=KTorrent-Moduul
Name[nl]=KTorrent-plugin
Name[pl]=Wtyczka KTorrent
Name[pt]='Plugin' do KTorrent
Name[pt_BR]=Plug-in do KTorrent
Name[sv]=Ktorrent-insticksprogram
Name[uk]=Втулка KTorrent
Name[zh_CN]=KTorrent 插件
Name[zh_TW]=KTorrent 外掛程式
