[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KTorrent/Plugin
Name=KTorrent Plugin
Name[ar]=قابس KTorrent
Name[bg]=Приставка за KTorrent
Name[br]=Lugent KTorrent
Name[ca]=Connector KTorrent
Name[cs]=KTorrent modul
Name[da]=KTorrent-plugin
Name[de]=KTorrent-Modul
Name[el]=Πρόσθετο KTorrent
Name[eo]=KTorrent Kromprogramo
Name[es]=Complemento de KTorrent
Name[et]=KTorrenti plugin
Name[eu]=KTorrent plugina
Name[fa]=وصلۀ KTorrent
Name[fi]=KTorrentin liitännäinen
Name[ga]=Breiseán KTorrent
Name[gl]=Extensión de KTorrent
Name[hr]=KTorrent dodatak
Name[hu]=KTorrent-bővítőmodul
Name[is]=KTorrent íforrit
Name[it]=Plugin KTorrent
Name[ja]=KTorrent プラグイン
Name[ka]=KTorrent-ის მოდული
Name[km]=កម្មវិធី​ជំនួយ KTorrent
Name[lt]=KTorrent įskiepis
Name[mk]=Приклучок за KTorrent
Name[nb]=KTorrent-modul
Name[nds]=KTorrent-Moduul
Name[ne]=केडीई टोरेन्ट प्लगइन
Name[nl]=KTorrent-plugin
Name[pl]=Wtyczka KTorrent
Name[pt]='Plugin' do KTorrent
Name[pt_BR]=Plugin KTorrent
Name[sr]=KTorrent прикључак
Name[sr@Latn]=KTorrent priključak
Name[sv]=Ktorrent-insticksprogram
Name[tr]=KTorrent Eklentisi
Name[uk]=Втулок KTorrent
Name[zh_TW]=KTorrent 外掛程式
