[Desktop Entry]
Name=KTorrent
Name[ar]=سيولك
Name[ast]=KTorrent
Name[be]=KTorrent
Name[bg]=KTorrent
Name[bs]=KTorent
Name[ca]=KTorrent
Name[ca@valencia]=KTorrent
Name[cs]=KTorrent
Name[da]=KTorrent
Name[de]=KTorrent
Name[el]=KTorrent
Name[en_GB]=KTorrent
Name[es]=KTorrent
Name[et]=KTorrent
Name[fi]=KTorrent
Name[fr]=KTorrent
Name[ga]=KTorrent
Name[gl]=KTorrent
Name[hi]=केटोरेंट
Name[hne]=केटोरेंट
Name[hr]=KTorrent
Name[hu]=KTorrent
Name[is]=KTorrent
Name[it]=KTorrent
Name[ja]=KTorrent
Name[kk]=KTorrent
Name[km]=KTorrent
Name[ko]=KTorrent
Name[lt]=KTorrent
Name[lv]=KTorrent
Name[mr]=के-टोरंट
Name[ms]=KTorrent
Name[nb]=KTorrent
Name[nds]=KTorrent
Name[ne]=केडीई टोरेन्ट
Name[nl]=KTorrent
Name[nn]=KTorrent
Name[pl]=KTorrent
Name[pt]=KTorrent
Name[pt_BR]=KTorrent
Name[ro]=KTorrent
Name[ru]=KTorrent
Name[si]=KTorrent
Name[sk]=KTorrent
Name[sl]=KTorrent
Name[sq]=KTorrent
Name[sr]=К‑торент
Name[sr@ijekavian]=К‑торент
Name[sr@ijekavianlatin]=KTorrent
Name[sr@latin]=KTorrent
Name[sv]=Ktorrent
Name[th]=โปรแกรม KTorrent
Name[tr]=KTorrent
Name[ug]=KTorrent
Name[uk]=KTorrent
Name[x-test]=xxKTorrentxx
Name[zh_CN]=KTorrent
Name[zh_TW]=KTorrent
GenericName=BitTorrent Client
GenericName[ar]=عميل بِت‌تورنت
GenericName[ast]=Veceru BitTorrent
GenericName[be]=Кліент BitTorrent
GenericName[bg]=Клиент за торент
GenericName[bs]=BitTorent klijent
GenericName[ca]=Client de BitTorrent
GenericName[ca@valencia]=Client de BitTorrent
GenericName[cs]=BitTorrent klient
GenericName[da]=BitTorrent-klient
GenericName[de]=BitTorrent-Programm
GenericName[el]=Πελάτης BitTorrent
GenericName[en_GB]=BitTorrent Client
GenericName[es]=Cliente de BitTorrent
GenericName[et]=BitTorrenti klient
GenericName[fi]=BitTorrent-ohjelma
GenericName[fr]=Client BitTorrent
GenericName[ga]=Cliant BitTorrent
GenericName[gl]=Cliente de BitTorrent
GenericName[hi]=बिटटोरेंट क्लाएंट
GenericName[hne]=बिटटोरेंट क्लायंट
GenericName[hr]=Klijent za BitTorrent
GenericName[hu]=BitTorrent kliens
GenericName[is]=BitTorrent biðlari
GenericName[it]=Client BitTorrent
GenericName[ja]=BitTorrent クライアント
GenericName[kk]=BitTorrent клиенті
GenericName[km]=ម៉ាស៊ីន​ភ្ញៀវ BitTorrent
GenericName[ko]=비트토렌트 클라이언트
GenericName[lt]=BitTorrent klientas
GenericName[lv]=BitTorrent klients
GenericName[mr]=बिट-टोरंट ग्राहक
GenericName[ms]=Klien BitTorrent
GenericName[nb]=BitTorrent-klient
GenericName[nds]=BitTorrent-Client
GenericName[ne]=बीट टोरेन्ट क्लाइन्ट
GenericName[nl]=BitTorrent-cliënt
GenericName[nn]=BitTorrent-klient
GenericName[pl]=Klient BitTorrent
GenericName[pt]=Cliente de BitTorrent
GenericName[pt_BR]=Cliente BitTorrent
GenericName[ro]=Client BitTorrent
GenericName[ru]=Клиент BitTorrent
GenericName[si]=BitTorrent වැඩසටහන
GenericName[sk]=BitTorrent Klient
GenericName[sl]=Odjemalec za BitTorrent
GenericName[sq]=BitTorrent Klient
GenericName[sr]=Битторент клијент
GenericName[sr@ijekavian]=Битторент клијент
GenericName[sr@ijekavianlatin]=Bittorrent klijent
GenericName[sr@latin]=Bittorrent klijent
GenericName[sv]=BitTorrent-klient
GenericName[th]=โปรแกรมสำหรับ BitTorrent
GenericName[tr]=BitTorrent İstemcisi
GenericName[ug]=بىتتوررېنت خېرىدارى
GenericName[uk]=Клієнт BitTorrent
GenericName[x-test]=xxBitTorrent Clientxx
GenericName[zh_CN]=BitTorrent 客户端
GenericName[zh_TW]=BitTorrent 客戶端程式
Exec=ktorrent %U
Icon=ktorrent
Type=Application
X-DocPath=ktorrent/index.html
MimeType=application/x-bittorrent;application/x-torrent;x-scheme-handler/magnet;
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.ktorrent
Comment=A BitTorrent program by KDE
Comment[ast]=Un programa BitTorrent fechu por KDE
Comment[ca]=Un programa de BitTorrent, creat per la comunitat KDE
Comment[ca@valencia]=Un programa de BitTorrent, creat per la comunitat KDE
Comment[cs]=BitTorrent od KDE
Comment[da]=Et BitTorrent-program fra KDE
Comment[de]=Ein BitTorrent-Programm von KDE
Comment[el]=Μία εφαρμογή BitTorrent από το KDE
Comment[en_GB]=A BitTorrent program by KDE
Comment[es]=Un programa de BitTorrent de KDE
Comment[fr]=Un programme BitTorrent par KDE
Comment[gl]=Un aplicativo BitTorrent por KDE.
Comment[it]=Un programma BitTorrent di KDE
Comment[nl]=Een BitTorrent-programma door KDE
Comment[pl]=Klient bittorrent w ramach KDE
Comment[pt]=Um programa de BitTorrent do KDE
Comment[pt_BR]=Um programa BitTorrent do KDE
Comment[sl]=Program za BitTorrent s strani KDE
Comment[sr]=Битторент програм из КДЕ‑а
Comment[sr@ijekavian]=Битторент програм из КДЕ‑а
Comment[sr@ijekavianlatin]=Bittorrent program iz KDE‑a
Comment[sr@latin]=Bittorrent program iz KDE‑a
Comment[sv]=Ett BitTorrent-program av KDE
Comment[tr]=KDE tarafından BitTorrent uygulaması
Comment[uk]=Програма BitTorrent від KDE
Comment[x-test]=xxA BitTorrent program by KDExx
Comment[zh_CN]=KDE 的 BitTorrent 程序
Comment[zh_TW]=來自 KDE 的 BitTorrent 程式
Terminal=false
Categories=Qt;KDE;Network;FileTransfer;P2P;
