[Desktop Entry]
Name=KTorrent
Name[be]=KTorrent
Name[bg]=KTorrent
Name[bs]=KTorent
Name[ca]=KTorrent
Name[ca@valencia]=KTorrent
Name[cs]=KTorrent
Name[da]=KTorrent
Name[de]=KTorrent
Name[el]=KTorrent
Name[en_GB]=KTorrent
Name[es]=KTorrent
Name[et]=KTorrent
Name[fi]=KTorrent
Name[fr]=KTorrent
Name[ga]=KTorrent
Name[gl]=KTorrent
Name[hi]=केटोरेंट
Name[hne]=केटोरेंट
Name[hr]=KTorrent
Name[hu]=KTorrent
Name[is]=KTorrent
Name[it]=KTorrent
Name[ja]=KTorrent
Name[kk]=KTorrent
Name[km]=KTorrent
Name[ko]=KTorrent
Name[lt]=KTorrent
Name[lv]=KTorrent
Name[mr]=के-टोरंट
Name[ms]=KTorrent
Name[nb]=KTorrent
Name[nds]=KTorrent
Name[ne]=केडीई टोरेन्ट
Name[nl]=KTorrent
Name[nn]=KTorrent
Name[pl]=KTorrent
Name[pt]=KTorrent
Name[pt_BR]=KTorrent
Name[ro]=KTorrent
Name[ru]=KTorrent
Name[si]=KTorrent
Name[sk]=KTorrent
Name[sl]=KTorrent
Name[sq]=KTorrent
Name[sr]=К‑торент
Name[sr@ijekavian]=К‑торент
Name[sr@ijekavianlatin]=KTorrent
Name[sr@latin]=KTorrent
Name[sv]=Ktorrent
Name[th]=โปรแกรม KTorrent
Name[tr]=KTorrent
Name[ug]=KTorrent
Name[uk]=KTorrent
Name[x-test]=xxKTorrentxx
Name[zh_CN]=KTorrent
Name[zh_TW]=KTorrent
GenericName=BitTorrent Client
GenericName[be]=Кліент BitTorrent
GenericName[bg]=Клиент за торент
GenericName[bs]=BitTorent klijent
GenericName[ca]=Client de BitTorrent
GenericName[ca@valencia]=Client de BitTorrent
GenericName[cs]=BitTorrent klient
GenericName[da]=BitTorrent-klient
GenericName[de]=BitTorrent-Programm
GenericName[el]=Πελάτης BitTorrent
GenericName[en_GB]=BitTorrent Client
GenericName[es]=Cliente de BitTorrent
GenericName[et]=BitTorrenti klient
GenericName[fi]=BitTorrent-ohjelma
GenericName[fr]=Client BitTorrent
GenericName[ga]=Cliant BitTorrent
GenericName[gl]=Cliente de BitTorrent
GenericName[hi]=बिटटोरेंट क्लाएंट
GenericName[hne]=बिटटोरेंट क्लायंट
GenericName[hr]=Klijent za BitTorrent
GenericName[hu]=BitTorrent kliens
GenericName[is]=BitTorrent biðlari
GenericName[it]=Client BitTorrent
GenericName[ja]=BitTorrent クライアント
GenericName[kk]=BitTorrent клиенті
GenericName[km]=ម៉ាស៊ីន​ភ្ញៀវ BitTorrent
GenericName[ko]=비트토렌트 클라이언트
GenericName[lt]=BitTorrent klientas
GenericName[lv]=BitTorrent klients
GenericName[mr]=बिट-टोरंट ग्राहक
GenericName[ms]=Klien BitTorrent
GenericName[nb]=BitTorrent-klient
GenericName[nds]=BitTorrent-Client
GenericName[ne]=बीट टोरेन्ट क्लाइन्ट
GenericName[nl]=BitTorrent-cliënt
GenericName[nn]=BitTorrent-klient
GenericName[pl]=Klient BitTorrent
GenericName[pt]=Cliente de BitTorrent
GenericName[pt_BR]=Cliente BitTorrent
GenericName[ro]=Client BitTorrent
GenericName[ru]=Клиент BitTorrent
GenericName[si]=BitTorrent වැඩසටහන
GenericName[sk]=BitTorrent Klient
GenericName[sl]=Odjemalec za BitTorrent
GenericName[sq]=BitTorrent Klient
GenericName[sr]=Битторент клијент
GenericName[sr@ijekavian]=Битторент клијент
GenericName[sr@ijekavianlatin]=Bittorrent klijent
GenericName[sr@latin]=Bittorrent klijent
GenericName[sv]=BitTorrent-klient
GenericName[th]=โปรแกรมสำหรับ BitTorrent
GenericName[tr]=BitTorrent İstemcisi
GenericName[ug]=بىتتوررېنت خېرىدارى
GenericName[uk]=Клієнт BitTorrent
GenericName[x-test]=xxBitTorrent Clientxx
GenericName[zh_CN]=BitTorrent 客户端
GenericName[zh_TW]=BitTorrent 客戶端程式
Exec=ktorrent %U
Icon=ktorrent
Type=Application
X-DocPath=ktorrent/index.html
MimeType=application/x-bittorrent;application/x-torrent;x-scheme-handler/magnet;
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.ktorrent.ktorrent
Comment=A BitTorrent program for KDE
Comment[be]=Кліент BitTorrent для KDE
Comment[bg]=Клиент за торент в KDE
Comment[bs]=BirTorent program za KDE
Comment[ca]=Un programa de BitTorrent per al KDE
Comment[ca@valencia]=Un programa de BitTorrent per al KDE
Comment[cs]=BitTorrent pro KDE
Comment[da]=Et BitTorrent-program til KDE
Comment[de]=Ein BitTorrent-Programm für die KDE-Arbeitsumgebung
Comment[el]=Μία εφαρμογή BitTorrent για το KDE
Comment[en_GB]=A BitTorrent program for KDE
Comment[es]=Un programa de BitTorrent para KDE
Comment[et]=KDE BitTorrenti rakendus
Comment[fi]=KDE:n BitTorrent-ohjelma
Comment[fr]=Un programme BitTorrent pour KDE
Comment[ga]=Clár BitTorrent KDE
Comment[gl]=Un aplicativo BitTorrent de KDE.
Comment[hne]=केडीई बर बिटटोरेंट प्रोग्राम
Comment[hr]=Program BitTorrent za KDE
Comment[hu]=Egy BitTorrent program KDE-hez
Comment[is]=BitTorrent forrit fyrir KDE
Comment[it]=Un programma BitTorrent per KDE
Comment[ja]=KDE のための BitTorrent プログラム
Comment[kk]=KDE-нің BitTorrent бағдарламасы
Comment[km]=កម្មវិធី BitTorrent សម្រាប់ KDE
Comment[ko]=KDE를 위한 비트토렌트 프로그램
Comment[lt]=BitTorrent programa KDE aplinkai
Comment[lv]=Bittorrent programma KDE darbvirsmai
Comment[mr]=केडीई करिता बिट-टोरंट कार्यक्रम
Comment[ms]=Program BitTorrent untuk KDE
Comment[nb]=Et BitTorrent-program for KDE
Comment[nds]=En BitTorrent-Programm för KDE
Comment[ne]=केडीईका लागि बीट टोरेन्ट कार्यक्रम
Comment[nl]=Een BitTorrent-programma voor KDE
Comment[nn]=Eit BitTorrent-program for KDE.
Comment[pl]=Klient bittorrent dla KDE
Comment[pt]=Um programa de BitTorrent para o KDE
Comment[pt_BR]=Um programa BitTorrent para o KDE
Comment[ro]=Client BitTorrent pentru KDE
Comment[ru]=Клиент BitTorrent для KDE
Comment[si]=KDE සඳහා BitTorrent වැඩසටහනක්
Comment[sk]=BitTorrent klient pre KDE
Comment[sl]=KDE-jev program za BitTorrent
Comment[sq]=Një program BitTorrent për KDE
Comment[sr]=Битторент програм за КДЕ
Comment[sr@ijekavian]=Битторент програм за КДЕ
Comment[sr@ijekavianlatin]=Bittorrent program za KDE
Comment[sr@latin]=Bittorrent program za KDE
Comment[sv]=Ett BitTorrent-program för KDE
Comment[th]=โปรแกรม BitTorrent สำหรับ KDE
Comment[tr]=KDE için BitTorrent uygulaması
Comment[ug]=KDE دىكى بىتتوررېنت پروگراممىسى
Comment[uk]=Програма BitTorrent для KDE
Comment[x-test]=xxA BitTorrent program for KDExx
Comment[zh_CN]=一个 KDE 的 BitTorrent 程序
Comment[zh_TW]=KDE 的 BitTorrent 程式
Terminal=false
Categories=Qt;KDE;Network;FileTransfer;P2P;
