[Desktop Entry]
Name=Log Viewer
Name[bg]=Преглед на дневника
Name[ca]=Visor del registre
Name[ca@valencia]=Visor del registre
Name[cs]=Prohlížeč záznamů
Name[da]=Logfremviser
Name[de]=Protokollbetrachter
Name[el]=Προβολή καταγραφής
Name[en_GB]=Log Viewer
Name[es]=Visor del registro
Name[et]=Loginäitaja
Name[fr]=Afficheur de journaux
Name[ga]=Amharcán Logchomhad
Name[gl]=Visor do rexistro
Name[is]=Annálaskoðari
Name[ja]=ログビューア
Name[km]=កម្មវិធី​មើល​កំណត់ហេតុ
Name[lv]=Žurnāla skatītājs
Name[mai]=लॉग प्रदर्शक
Name[nb]=Loggviser
Name[nds]=Logbookkieker
Name[nl]=Log-weergave
Name[nn]=Loggvisar
Name[pl]=Przeglądanie dziennika komunikatów
Name[pt]=Visualizador do Registo
Name[pt_BR]=Visualizador de log
Name[ro]=Vizualizator jurnal
Name[ru]=Просмотр журналов
Name[sl]=Prikazovalnik dnevnika
Name[sr]=Приказивач дневника
Name[sr@latin]=Prikazivač dnevnika
Name[sv]=Loggvisning
Name[tr]=Günlük İzleyicisi
Name[uk]=Переглядач журналу
Name[x-test]=xxLog Viewerxx
Name[zh_CN]=日志查看器
Name[zh_TW]=紀錄檢視器
Comment=Displays the logging output
Comment[bg]=Показване на изхода от дневника
Comment[ca]=Mostra la sortida del registre
Comment[ca@valencia]=Mostra l'eixida del registre
Comment[cs]=Zobrazí výstup záznamu
Comment[da]=Viser log-outputtet
Comment[de]=Zeigt die Protokollausgaben
Comment[el]=Εμφάνιση εξόδου της καταγραφής
Comment[en_GB]=Displays the logging output
Comment[es]=Muestra la salida del registro
Comment[et]=Logiväljundi näitamine
Comment[fr]=Affiche la sortie de journalisation
Comment[ga]=Taispeáin an t-aschur logála
Comment[gl]=Mostra a saída do rexistro
Comment[is]=Birtir úttak annáls
Comment[ja]=ログ出力を表示します
Comment[km]=បង្ហាញ​លទ្ធផល​នៃ​ការ​ចុះ​កំណត់ហេតុ
Comment[lv]=Rāda žurnāla izvadu
Comment[nb]=Viser loggen
Comment[nds]=Wiest de Logbook-Utgaven
Comment[nl]=Toon de log-uitvoer
Comment[nn]=Viser loggen
Comment[pl]=Wyświetla dziennik komunikatów programu
Comment[pt]=Mostra o resultado de registo
Comment[pt_BR]=Exibe o log de saída
Comment[ro]=Afișează înregistrările din jurnal
Comment[ru]=Отображение журналов работы KTorrent
Comment[sl]=Prikazuje izhod beleženja v dnevnik
Comment[sr]=Приказује уписе дневника
Comment[sr@latin]=Prikazuje upise dnevnika
Comment[sv]=Visar loggutmatning
Comment[tr]=Günlük kaydı çıktısını görüntüler
Comment[uk]=Показати відомості з журналу
Comment[x-test]=xxDisplays the logging outputxx
Comment[zh_CN]=显示日志输出
Comment[zh_TW]=顯示紀錄輸出
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktlogviewerplugin
X-KDE-PluginInfo-Author=Joris Guisson, Ivan Vasic
X-KDE-PluginInfo-Email=joris.guisson@gmail.com, ivasic@gmail.com
X-KDE-PluginInfo-Name=LogViewerPlugin
X-KDE-PluginInfo-Website=http://ktorrent.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=utilities-log-viewer
