[Desktop Entry]
Name=Log Viewer
Name[ar]=عارض السّجلات
Name[ast]=Visor de rexistros
Name[bg]=Преглед на дневника
Name[bs]=Prikazivač dnevnika
Name[ca]=Visor del registre
Name[ca@valencia]=Visor del registre
Name[cs]=Prohlížeč záznamů
Name[da]=Logfremviser
Name[de]=Protokollbetrachter
Name[el]=Προβολή καταγραφής
Name[en_GB]=Log Viewer
Name[eo]=Protokolorigardilo
Name[es]=Visor del registro
Name[et]=Loginäitaja
Name[fi]=Lokikatselin
Name[fr]=Afficheur de journaux
Name[ga]=Amharcán Logchomhad
Name[gl]=Visor do rexistro
Name[hr]=Preglednik zapisa
Name[hu]=Naplómegjelenítő
Name[is]=Annálaskoðari
Name[it]=Visore registro
Name[ja]=ログビューア
Name[kk]=Журналын қарау
Name[km]=កម្មវិធី​មើល​កំណត់ហេតុ
Name[ko]=로그 뷰어
Name[lt]=Žurnalo žiūryklė
Name[lv]=Žurnāla skatītājs
Name[mr]=लॉग प्रदर्शक
Name[nb]=Loggviser
Name[nds]=Logbookkieker
Name[nl]=Log-weergave
Name[nn]=Loggvisar
Name[pl]=Przeglądarka dziennika
Name[pt]=Visualizador do Registo
Name[pt_BR]=Visualizador de registros (logs)
Name[ro]=Vizualizator jurnal
Name[ru]=Просмотр журналов
Name[si]=වාර්තා දසුන
Name[sk]=Prehliadač záznamov
Name[sl]=Pregledovalnik dnevnika
Name[sq]=Shikuesi i log
Name[sr]=Приказивач дневника
Name[sr@ijekavian]=Приказивач дневника
Name[sr@ijekavianlatin]=Prikazivač dnevnika
Name[sr@latin]=Prikazivač dnevnika
Name[sv]=Loggvisning
Name[tr]=Günlük İzleyicisi
Name[ug]=خاتىرە كۆرگۈچ
Name[uk]=Переглядач журналу
Name[x-test]=xxLog Viewerxx
Name[zh_CN]=日志查看器
Name[zh_TW]=紀錄檢視器
Comment=Displays the logging output
Comment[ast]=Amuesa la salida del rexistru
Comment[bg]=Показване на изхода от дневника
Comment[bs]=Prikazuje upise dnevnika
Comment[ca]=Mostra la sortida del registre
Comment[ca@valencia]=Mostra l'eixida del registre
Comment[cs]=Zobrazí výstup záznamu
Comment[da]=Viser log-outputtet
Comment[de]=Zeigt die Protokollausgaben
Comment[el]=Εμφάνιση εξόδου της καταγραφής
Comment[en_GB]=Displays the logging output
Comment[es]=Muestra la salida del registro
Comment[et]=Logiväljundi näitamine
Comment[fi]=Näyttää lokitulosteen
Comment[fr]=Affiche la sortie de journalisation
Comment[ga]=Taispeáin an t-aschur logála
Comment[gl]=Mostra o rexistro da saída.
Comment[hu]=A naplózás kimenetének megjelenítése
Comment[is]=Birtir úttak annáls
Comment[it]=Mostra l'output del registro
Comment[ja]=ログ出力を表示します
Comment[kk]=Журнал жазуын көрсету
Comment[km]=បង្ហាញ​លទ្ធផល​នៃ​ការ​ចុះ​កំណត់ហេតុ
Comment[ko]=로그 출력 표시
Comment[lt]=Rodo žurnalo išvestį
Comment[lv]=Rāda žurnāla izvadu
Comment[nb]=Viser loggen
Comment[nds]=Wiest de Logbook-Utgaven
Comment[nl]=Toon de log-uitvoer
Comment[nn]=Viser loggen
Comment[pl]=Wyświetla dziennik powiadomień programu
Comment[pt]=Mostra o resultado de registo
Comment[pt_BR]=Exibe o log de saída
Comment[ro]=Afișează înregistrările din jurnal
Comment[ru]=Отображение журналов работы KTorrent
Comment[si]=වාර්තා ප්‍රතිදානය දර්ශනය කරයි
Comment[sk]=Zobrazí protokolovací výstup
Comment[sl]=Prikazuje izhod beleženja v dnevnik
Comment[sr]=Приказује уписе дневника
Comment[sr@ijekavian]=Приказује уписе дневника
Comment[sr@ijekavianlatin]=Prikazuje upise dnevnika
Comment[sr@latin]=Prikazuje upise dnevnika
Comment[sv]=Visar loggutmatning
Comment[tr]=Günlük kaydı çıktısını görüntüler
Comment[uk]=Показати відомості з журналу
Comment[x-test]=xxDisplays the logging outputxx
Comment[zh_CN]=显示日志输出
Comment[zh_TW]=顯示紀錄輸出
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktlogviewerplugin
X-KDE-PluginInfo-Author=Joris Guisson, Ivan Vasic
X-KDE-PluginInfo-Email=joris.guisson@gmail.com, ivasic@gmail.com
X-KDE-PluginInfo-Name=LogViewerPlugin
X-KDE-PluginInfo-Website=http://kde.org/applications/internet/ktorrent/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=utilities-log-viewer
