[Desktop Entry]
Name=Automatic Resume
Name[ast]=Reanudación automática
Name[bg]=Автоматично продължаване
Name[ca]=Represa automàtica
Name[cs]=Automatické pokračování
Name[da]=Genoptag automatisk
Name[de]=Automatisch fortsetzen
Name[el]=Αυτόματη συνέχιση
Name[en_GB]=Automatic Resume
Name[es]=Reanudación automática
Name[et]=Automaatne taasalustamine
Name[fr]=Reprise automatique
Name[ga]=Lean go hUathoibríoch
Name[gl]=Continuar automaticamente
Name[hne]=अपने अपन रीज्यूम करव
Name[it]=Ripresa automatica
Name[ja]=自動再開
Name[km]=បន្ត​ដោយ​ស្វ័យ​ប្រវត្តិ
Name[lv]=Automātiska atsākšana
Name[nb]=Automatisk gjenopptaking
Name[nds]=Automaatsch Wiedermaken
Name[nl]=Automatisch verdergaan
Name[nn]=Hald fram automatisk
Name[pl]=Automatyczne Wznawianie
Name[pt]=Continuação Automática
Name[pt_BR]=Reinício automático
Name[ro]=Reluare automată
Name[ru]=Автовозобновление
Name[sl]=Samodejno nadaljevanje
Name[sr]=Аутоматско настављање
Name[sr@latin]=Automatsko nastavljanje
Name[sv]=Automatisk återupptagning
Name[tr]=Otomatik Devam Et
Name[uk]=Автоматичне відновлення
Name[x-test]=xxAutomatic Resumexx
Name[zh_CN]=自动恢复
Name[zh_TW]=自動回復
Comment=Script to automatically resume after some time, when the suspended state is enabled
Comment[ca]=Script per a reprendre automàticament després d'un temps, quan està activat l'estat de suspensió
Comment[en_GB]=Script to automatically resume after some time, when the suspended state is enabled
Comment[es]=Script para reanudar automáticamente tras cierto tiempo, cuando está habilitado el estado de suspensión
Comment[et]=Skript automaatseks taasalustamiseks mõne aja pärast, kui sisse on lülitatud paus
Comment[nb]=Et skript som gjenopptar aktiviteten etter en stund hvis hvilefunksjonen er slått på
Comment[nl]=Script voor het automatisch verdergaan na enige tijd, als de onderbreek-status is ingeschakeld
Comment[pt]=Um programa para prosseguir automaticamente, ao fim de algum tempo, quando for activado o estado suspenso
Comment[pt_BR]=Script para reiniciar automaticamente após algum tempo, quando o estado suspender estiver habilitado
Comment[ro]=Script pentru reluarea automată după un timp, cînd e activată starea suspendată
Comment[sv]=Skript för att automatiskt fortsätta efter en viss tid, när vilotillståndet aktiveras
Comment[uk]=Скрипт для автоматичного поновлення через певний проміжок часу, якщо увімкнено стан присипляння.
Comment[x-test]=xxScript to automatically resume after some time, when the suspended state is enabledxx
Comment[zh_TW]=在暫停一段時間後自動回復的文稿
Type=KTorrentScript
Icon=kt-bandwidth-scheduler
X-KTorrent-Script-Author=Joris Guisson
X-KTorrent-Script-Email=joris.guisson@gmail.com
X-KTorrent-Script-Website=http://ktorrent.org/
X-KTorrent-Script-License=GPL
X-KTorrent-Script-File=auto_resume.py

