[Desktop Entry]
Name=AutoResumeScript
Comment=Script to automatically resume after some time, when the paused state is enabled
Type=KTorrentScript
Icon=kt-bandwidth-scheduler
X-KTorrent-Script-Author=Joris Guisson
X-KTorrent-Script-Email=joris.guisson@gmail.com
X-KTorrent-Script-Website=http://ktorrent.org/
X-KTorrent-Script-License=GPL
X-KTorrent-Script-File=auto_resume.py

