[Desktop Entry]
Name=Automatic Resume
Name[ca]=Represa automàtica
Name[da]=Genoptag automatisk
Name[de]=Automatisch fortsetzen
Name[el]=Αυτόματη συνέχιση
Name[es]=Reanudación automática
Name[et]=Automaatne taasalustamine
Name[fr]=Reprise automatique
Name[ga]=Lean go hUathoibríoch
Name[gl]=Continuar automaticamente
Name[hne]=अपने अपन रीज्यूम करव
Name[it]=Ripresa automatica
Name[ja]=自動再開
Name[km]=បន្ត​ដោយ​ស្វ័យ​ប្រវត្តិ
Name[lv]=Automātiska atsākšana
Name[nds]=Automaatsch Wiedermaken
Name[nl]=Automatisch verdergaan
Name[pl]=Automatyczne Wznawianie
Name[pt]=Continuação Automática
Name[pt_BR]=Reinício Automático
Name[ro]=Reluare automată
Name[ru]=Автовозобновление
Name[sl]=Samodejno nadaljevanje
Name[sr]=Аутоматско настављање
Name[sr@latin]=Automatsko nastavljanje
Name[sv]=Automatisk återupptagning
Name[tr]=Otomatik Devam Et
Name[uk]=Автоматичне відновлення
Name[x-test]=xxAutomatic Resumexx
Name[zh_CN]=自动恢复
Name[zh_TW]=自動回復
Comment=Script to automatically resume after some time, when the paused state is enabled
Comment[ca]=Script per a reprendre automàticament després d'un temps, quan està activat l'estat de pausa
Comment[da]=Script til at genoptage automatisk efter et stykke tid, når pausetilstand er aktiveret
Comment[de]=Skript zum automatischen Fortsetzen von pausierten Torrents nach Ablauf einer festgelegten Zeit
Comment[el]=Σενάριο για την αυτόματη συνέχιση λήψενω μετά από κάποιο χρονικό διάστημα, όταν η κατάσταση  παύσης είναι ενεργοποιημένη
Comment[es]=Script para reanudar automáticamente tras cierto tiempo, cuando está habilitado el estado de pausa
Comment[et]=Skript automaatseks taasalustamiseks mõne aja pärast, kui sisse on lülitatud paus
Comment[fr]=Script pour reprendre automatiquement après un certain temps, lorsque l'état de pause est activé
Comment[ga]=Script a leanann ar aghaidh go huathoibríoch tar éis tréimhse éigin, nó atá an clár curtha ar shos
Comment[gl]=Un script para continuar automaticamente despois dalgúnt tempo, cando se activa o estado de pausa
Comment[it]=Script per riprendere automaticamente gli scaricamenti dopo la sospensione
Comment[ja]=一時停止中の torrent を一定時間後に自動的に再開するスクリプト
Comment[km]=ស្គ្រីប​ដើម្បី​បន្ត​ដោយ​ស្វ័យ​ប្រវត្តិ បន្ទាប់​ពី​ពេល​មួយ នៅពេល​បានផ្អាក ស្ថានភាព​ត្រូវ​បានបើក
Comment[lv]=Skripts automātiskai pauzētu torrentu atsākšanai pēc noteikta laika
Comment[nds]=Dat Skript maakt automaatsch na en wiss Tiet wieder, wenn de Anhollen-Status anmaakt is
Comment[nl]=Script voor het automatisch verdergaan na enige tijd, als de pauzestatus is ingeschakeld
Comment[pl]=Skrypt do automatycznego wznawiania po ustalonym czasie, po włączeniu pauzy
Comment[pt]=Um programa para prosseguir automaticamente, ao fim de algum tempo, quando for activado o estado de pausa
Comment[pt_BR]=Script para reiniciar automaticamente após algum tempo, quando o estado pausado estiver habilitado
Comment[ro]=Script pentru reluarea automată după un timp, cînd e activată starea de pauză
Comment[ru]=Сценарий для автоматического возобновления работы после некоторого времени, если она была приостановлена
Comment[sl]=Skript za samodejno nadaljevanje nekaj časa po prekinitvi
Comment[sr]=Скрипта за аутоматско настављање паузираних торената након одређеног времена
Comment[sr@latin]=Skripta za automatsko nastavljanje pauziranih torenata nakon određenog vremena
Comment[sv]=Skript för att automatiskt fortsätta efter en viss tid, när paustillståndet aktiveras
Comment[tr]=Duraklatılmış bir torrenti bir süre sonra otomatik olarak başlatmaya yarayan bir betik
Comment[uk]=Скрипт для автоматичного поновлення через певний проміжок часу, якщо увімкнено стан призупинки.
Comment[x-test]=xxScript to automatically resume after some time, when the paused state is enabledxx
Comment[zh_CN]=当启用暂停状态时，自动在某段时间后恢复下载的脚本
Comment[zh_TW]=在暫停一段時間後自動回復的文稿
Type=KTorrentScript
Icon=kt-bandwidth-scheduler
X-KTorrent-Script-Author=Joris Guisson
X-KTorrent-Script-Email=joris.guisson@gmail.com
X-KTorrent-Script-Website=http://ktorrent.org/
X-KTorrent-Script-License=GPL
X-KTorrent-Script-File=auto_resume.py

