[Desktop Entry]
Name=DownloadOrderScript
Name[de]=Download-Reihenfolge-Skript
Name[el]=Σενάριο σειράς λήψης
Name[es]=Script de orden de descarga
Name[et]=Allalaadimise järjekorra skript
Name[km]=ស្គ្រីប​លំដាប់​ទាញ​យក
Name[nds]=Daallaadreeg-Skript
Name[nl]=Bestandsdownload-volgorde script
Name[pl]=Skrypt kolejności pobierania
Name[pt]=Ordem de Transferência
Name[pt_BR]=Ordem de Transferência
Name[ru]=Порядок загрузки
Name[sv]=Skript för nerladdningsordning
Name[x-test]=xxDownloadOrderScriptxx
Name[zh_CN]=下载顺序脚本
Name[zh_TW]=下載順序文稿
Comment=Script to download files in a user controlled order
Comment[ca]=Script per a baixar fitxers segons un ordre indicat per l'usuari
Comment[de]=Skript zum Herunterladen von Dateien in einer vom Benutzer festgelegten Reihenfolge
Comment[el]=Σενάριο για τη λήψη αρχείων με σειρά ελεγχόμενη από το χρήστη
Comment[es]=Script para descargar archivos en un orden controlado por el usuario
Comment[et]=Skript failide allalaadimiseks kasutaja määratud järjekorras
Comment[ga]=Script a íosluchtaíonn comhaid in ord a rialaíonn an t-úsáideoir
Comment[gl]=Script para obter os ficheiros nunha orden controlada polo usuario
Comment[ja]=ユーザがコントロールする順序でファイルをダウンロードするためのスクリプト
Comment[km]=ស្គ្រីប​ត្រូវ​ទាញ​យក​ឯកសារ​នៅ​ក្នុង​លំដាប់​ដែល​បាន​ត្រួតពិនិត្យ​ដោយ​អ្នក​ប្រើ
Comment[nds]=Skript, dat Dateien in de vun den Bruker angeven Reeg daallaadt
Comment[nl]=Script om bestanden in een gebruikers opgegeven volgorde te downloaden
Comment[pl]=Skrypt kolejności pobierania wg ustawień użytkownika
Comment[pt]=Um programa para obter os ficheiros por uma determinada ordem definida pelo utilizador
Comment[pt_BR]=Um programa para obter os ficheiros por uma determinada ordem definida pelo utilizador
Comment[ru]=Скрипт для загрузки файлов в порядке, контроллируемом пользователем
Comment[sv]=Skript för att ladda ner filer i en ordning bestämd av användaren
Comment[uk]=Скрипт для звантаження файлів у визначеному користувачем порядку
Comment[x-test]=xxScript to download files in a user controlled orderxx
Comment[zh_CN]=以用户可控的顺序下载文件的脚本
Comment[zh_TW]=以使用者控制的順序下載檔案的文稿
Type=KTorrentScript
Icon=text-x-script
X-KTorrent-Script-Author=Joris Guisson
X-KTorrent-Script-Email=joris.guisson@gmail.com
X-KTorrent-Script-Website=http://ktorrent.org/
X-KTorrent-Script-License=GPL
X-KTorrent-Script-File=downloadorder.py

