[Desktop Entry]
Name=Syndication
Name[ast]=Sindicación
Name[bg]=Синдикиране
Name[bs]=Spajanje u sindikat
Name[ca]=Sindicació
Name[ca@valencia]=Sindicació
Name[cs]=Publikování
Name[da]=Syndikering
Name[de]=Syndizierung
Name[el]=Syndication
Name[en_GB]=Syndication
Name[es]=Redifusión
Name[et]=Vood
Name[fi]=Syötteet
Name[fr]=Syndication
Name[ga]=Sindeacáitiú
Name[gl]=Sindicación
Name[hu]=Hírgyűjtő
Name[is]=Fréttastraumar
Name[it]=Sottoscrizioni
Name[ja]=シンジケーション
Name[kk]=Ақпарларды жариялау
Name[km]=ការ​បង្រួម
Name[ko]=피드
Name[lt]=Sindikatas
Name[lv]=Sindikācija
Name[nb]=Syndication
Name[nds]=Strööm
Name[nl]=Syndication
Name[nn]=Nyheitskjelder
Name[pl]=Syndication
Name[pt]=Sindicância
Name[pt_BR]=Agregação
Name[ro]=Redifuzare
Name[ru]=Ленты новостей
Name[si]=හුවාදැක්වීම
Name[sk]=Združovanie
Name[sl]=Zbiranje
Name[sr]=Синдикација
Name[sr@ijekavian]=Синдикација
Name[sr@ijekavianlatin]=Sindikacija
Name[sr@latin]=Sindikacija
Name[sv]=Syndikering
Name[tr]=Dayanışma
Name[ug]=قەدەمداشلاش
Name[uk]=Синдикація
Name[x-test]=xxSyndicationxx
Name[zh_CN]=同步
Name[zh_TW]=Syndication
Comment=Syndication plugin for KTorrent, supporting RSS and Atom feeds
Comment[bg]=Приставка за синдикиране на KTorrent, поддържаща емисии RSS и ATOM
Comment[bs]=Priključak za spajanje u sindikat za KTorent, koji podržava RSS i atom dovode
Comment[ca]=Connector de sindicació per al KTorrent, permet canals RSS i Atom
Comment[ca@valencia]=Connector de sindicació per al KTorrent, permet canals RSS i Atom
Comment[cs]=Modul pro publikování pro KTorrent podporující RSS a kanály Atom
Comment[da]=Syndikeringsplugin til KTorrent, understøtter RSS- og Atom-feeds
Comment[de]=Syndizierungsmodul für KTorrent mit Unterstützung für RSS- und Atom-Nachrichtenquellen
Comment[el]=Πρόσθετο Syndication για το KTorrent, με υποστήριξη ροών RSS και Atom
Comment[en_GB]=Syndication plugin for KTorrent, supporting RSS and Atom feeds
Comment[es]=Complemento de redifusión para KTorrent, que admite fuentes RSS y Atom
Comment[et]=KTorrenti voogude plugin, mis toetab RSS- ja Atomi vooge
Comment[fi]=KTorrentin syöteliitännäinen, joka tukee RSS- ja Atom-syötteitä
Comment[fr]=Module externe de syndication pour KTorrent, prenant en charge les flux « RSS » et « Atom »
Comment[ga]=Breiseán sindeacáitithe le haghaidh KTorrent a thacaíonn le fothaí RSS agus Atom
Comment[gl]=Complemento de sindicación para KTorrent compatíbel con fontes RSS e Atom.
Comment[hu]=RSS- és Atom-hírforrásokat támogató hírgyűjtő bővítmény KTorrenthez
Comment[is]=Fréttastrauma-íforrit fyrir KTorrent, styður RSS og Atom strauma
Comment[it]=Estensione sottoscrizioni per KTorrent, supporta fonti RSS ed Atom
Comment[ja]=RSS と Atom フィードをサポートします
Comment[kk]=KTorrent-тің  RSS және Atom ақпарларын танитын жариялау плагині
Comment[km]=កម្មវិធី​ជំនួយ​ Syndication សម្រាប់ KTorrent គាំទ្រ RSS និង​មតិព័ត៌មាន Atom
Comment[ko]=RSS와 Atom 피드를 지원하는 KTorrent 플러그인
Comment[lt]=Sindikato priedas KTorrent, palaiko RSS ir Atom santraukas
Comment[lv]=Sindikācijas spraudnis, atbalsta RSS un Atom barotnes
Comment[nb]=Syndication-modul for KTorrent som støtter RSS og Atom-strømmer
Comment[nds]=Ströömmoduul för KTorrent, ünnerstütt RSS- un Atom-Strööm
Comment[nl]=Syndication-plugin voor KTorrent, ondersteunt RSS en Atom-feeds
Comment[nn]=Programtillegg for nyheitskjelder for KTorrent, støttar RSS- og Atom-kjelder
Comment[pl]=Wtyczka Syndication dla KTorrent do obsługi kanałów RSS i Atom
Comment[pt]='Plugin' de sindicância do KTorrent, que suporta fontes RSS e Atom
Comment[pt_BR]=Plugin de agregação para o KTorrent, suportando fontes de notícias RSS e Atom
Comment[ro]=Modul de redifuzare pentru KTorrent, ce susține fluxuri RSS și Atom
Comment[ru]=Модуль лент новостей, поддерживаются ленты RSS и Atom
Comment[si]=RSS හා Atom පෝශක වෙත සහාය දක්වන KTorrent සඳහාවන හුවාදක්වනය
Comment[sk]=Syndikačný plugin pre KTorrent, podporujúci RSS a Atom feedy
Comment[sl]=Vstavek za zbiranje virov, ki podpira RSS in Atom
Comment[sq]=Syndication plugin për KTorrent, suporton RSS dhe Atom feeds
Comment[sr]=Прикључак синдикације који подржава РСС и атом доводе
Comment[sr@ijekavian]=Прикључак синдикације који подржава РСС и атом доводе
Comment[sr@ijekavianlatin]=Priključak sindikacije koji podržava RSS i Atom dovode
Comment[sr@latin]=Priključak sindikacije koji podržava RSS i Atom dovode
Comment[sv]=Syndikeringsinsticksprogram för Ktorrent, med stöd för RSS- och Atom-kanaler
Comment[tr]=KTorrent için dayanışma eklentisi, RSS ve Atom kaynakları destekler
Comment[uk]=Додаток синдикації для KTorrent, з підтримкою подач RSS і Atom
Comment[x-test]=xxSyndication plugin for KTorrent, supporting RSS and Atom feedsxx
Comment[zh_CN]=KTorrent 的同步插件，支持 RSS 和 Atom 订阅
Comment[zh_TW]=KTorrent 的 Syndication 外掛程式，支援 RSS 與 Atom。
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktsyndicationplugin
X-KDE-PluginInfo-Author=Joris Guisson
X-KDE-PluginInfo-Email=joris.guisson@gmail.com
X-KDE-PluginInfo-Name=SyndicationPlugin
X-KDE-PluginInfo-Website=http://kde.org/applications/internet/ktorrent/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=application-rss+xml
