[Desktop Entry]
Name=SyndicationPlugin
Name[pt]='Plugin' de Sindicância
Name[pt_BR]='Plugin' de Sindicância
Name[sv]=Syndikeringsinsticksprogram
Comment=Syndication plugin for KTorrent, supporting RSS and Atom feeds
Comment[pt]='Plugin' de sindicância do KTorrent, que suporta fontes RSS e Atom
Comment[pt_BR]='Plugin' de sindicância do KTorrent, que suporta fontes RSS e Atom
Comment[sv]=Syndikeringsinsticksprogram för Ktorrent, med stöd för RSS- och Atom-kanaler
Comment[uk]=Додаток синдикації для KTorrent, з підтримкою подач RSS і Atom
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktsyndicationplugin
X-KDE-PluginInfo-Author=Joris Guisson
X-KDE-PluginInfo-Email=joris.guisson@gmail.com
X-KDE-PluginInfo-Name=SyndicationPlugin
X-KDE-PluginInfo-Website=http://ktorrent.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=application-rss+xml
