[Desktop Entry]
Name=SyndicationPlugin
Name[de]=Syndizierungsmodul
Name[el]=Πρόσθετο Syndication
Name[es]=Complemento de redifusión
Name[nds]=Strööm-Moduul
Name[pl]=Wtyczka Syndication
Name[pt]='Plugin' de Sindicância
Name[pt_BR]='Plugin' de Sindicância
Name[ru]=Ленты новостей
Name[sv]=Syndikeringsinsticksprogram
Name[x-test]=xxSyndicationPluginxx
Name[zh_TW]=Syndication 外掛程式
Comment=Syndication plugin for KTorrent, supporting RSS and Atom feeds
Comment[de]=Syndizierungsmodul für KTorrent mit Unterstützung für RSS- und Atom-Nachrichtenquellen
Comment[el]=Πρόσθετο Syndication για το KTorrent, με υποστήριξη ροών RSS και Atom
Comment[es]=Complemento de redifusión para KTorrent, que admite fuentes RSS y Atom
Comment[gl]=Extensión de sindicación para KTorrent, con soporte para fontes RSS e Atom
Comment[ja]=RSS と Atom フィードをサポートするシンジケーションプラグイン
Comment[km]=កម្មវិធី​ជំនួយ​ Syndication សម្រាប់ KTorrent គាំទ្រ RSS និង​មតិព័ត៌មាន Atom
Comment[nds]=Ströömmoduul för KTorrent, ünnerstütt RSS- un Atom-Strööm
Comment[nl]=Syndication-plugin voor KTorrent, ondersteunt RSS en Atom-feeds
Comment[pl]=Wtyczka Syndication dla KTorrent do obsługi kanałów RSS i Atom
Comment[pt]='Plugin' de sindicância do KTorrent, que suporta fontes RSS e Atom
Comment[pt_BR]='Plugin' de sindicância do KTorrent, que suporta fontes RSS e Atom
Comment[ru]=Модуль лент новостей, поддерживаются ленты RSS и Atom
Comment[sv]=Syndikeringsinsticksprogram för Ktorrent, med stöd för RSS- och Atom-kanaler
Comment[uk]=Додаток синдикації для KTorrent, з підтримкою подач RSS і Atom
Comment[x-test]=xxSyndication plugin for KTorrent, supporting RSS and Atom feedsxx
Comment[zh_TW]=KTorrent 的 Syndication 外掛程式，支援 RSS 與 Atom。
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktsyndicationplugin
X-KDE-PluginInfo-Author=Joris Guisson
X-KDE-PluginInfo-Email=joris.guisson@gmail.com
X-KDE-PluginInfo-Name=SyndicationPlugin
X-KDE-PluginInfo-Website=http://ktorrent.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=application-rss+xml
