[Desktop Entry]
Name=Scan Folder
Name[ast]=Escaniar carpeta
Name[bg]=Претърсване на директория
Name[bs]=Pretraga direktorija
Name[ca]=Explora les carpetes
Name[ca@valencia]=Explora les carpetes
Name[cs]=Procházení složek
Name[da]=Scan mappe
Name[de]=Ordner durchsuchen
Name[el]=Σάρωση φακέλου
Name[en_GB]=Scan Folder
Name[es]=Exploración de carpeta
Name[et]=Kataloogi uurimine
Name[fi]=Etsi kansiosta
Name[fr]=Analyser un dossier
Name[ga]=Scan Fillteán
Name[gl]=Exame de cartafoles
Name[hr]=Pretraži direktorij
Name[hu]=Mappafigyelő
Name[ia]=Scande Dossier
Name[is]=Leita í möppu
Name[it]=Scansione cartella
Name[ja]=スキャンフォルダ
Name[kk]=Қапшықты зерттеу
Name[km]=វិភាគ​ថត
Name[ko]=폴더 탐색
Name[lt]=Skenuoti aplanką
Name[lv]=Mapes skenēšana
Name[nb]=Mappeundersøker
Name[nds]=Ornern dörkieken
Name[nl]=Scanner-map
Name[nn]=Mappesøk
Name[pl]=Przeszukiwanie katalogów
Name[pt]=Sondagem de Pastas
Name[pt_BR]=Examinar pasta
Name[ro]=Citește dosar
Name[ru]=Проверка папок
Name[si]=බහලුම පරිලෝකනය
Name[sk]=Prehľadať priečinok
Name[sl]=Preišči mapo
Name[sq]=Skano Dosjen
Name[sr]=Претрага фасцикле
Name[sr@ijekavian]=Претрага фасцикле
Name[sr@ijekavianlatin]=Pretraga fascikle
Name[sr@latin]=Pretraga fascikle
Name[sv]=Katalogsökning
Name[tr]=Dizin Tara
Name[ug]=قىسقۇچ تەكشۈر
Name[uk]=Сканувати теку
Name[x-test]=xxScan Folderxx
Name[zh_CN]=扫描文件夹
Name[zh_TW]=掃描資料夾
Comment=Scan folders for torrent files and load them
Comment[bg]=Претърсване на директории за торент-файлове за добавяне
Comment[bs]=Pretraži direktorije i učitaj torent datoteke iz njih
Comment[ca]=Explora les carpetes cercant fitxers torrent i els carrega
Comment[ca@valencia]=Explora les carpetes cercant fitxers torrent i els carrega
Comment[cs]=Vyhledávat ve složkách a načítat torrenty
Comment[da]=Scan mapper efter torrent-filer og indlæs dem
Comment[de]=Ordner nach Torrent-Dateien durchsuchen und diese laden
Comment[el]=Σάρωση φακέλων για αρχεία torrent και φόρτωσή τους
Comment[en_GB]=Scan folders for torrent files and load them
Comment[es]=Explora carpetas en búsqueda de archivos torrent y los carga
Comment[et]=Kataloogidest torrent-failide otsimine ja nende laadimine
Comment[fi]=Etsii kansiosta torrent-tiedostoja ja lataa ne
Comment[fr]=Analyse des dossiers pour rechercher des fichiers de torrents et pour les charger
Comment[ga]=Lorg comhaid torrent i bhfillteáin agus luchtaigh iad
Comment[gl]=Examina cartafoles na busca de ficheiros torrent e os carga.
Comment[hu]=Mappák figyelése és a torrentfájlok betöltése
Comment[is]=Leita að torrent straumaskrám í möppum og hleður þeim inn
Comment[it]=Analizza le cartelle alla ricerca di torrent e procede al loro caricamento
Comment[ja]=フォルダをスキャンして見つかった torrent ファイルをロードします
Comment[kk]=Қапшқтарды торрент файлдар бар ма деп зерттеп оларды жүктеу
Comment[km]=វិភាគ​ថត​រក​ឯកសារ torrent ហើយ​ផ្ទុក​ពួកវា
Comment[ko]=폴더의 토렌트 파일 검사 및 항목 불러오기
Comment[lt]=Skenuoti aplankus dėl torrent failų ir juos įkelti
Comment[lv]=Skenē mapēs torrent failus un ielādē tos
Comment[nb]=Søker etter BitTorrent-filer i en mappe og åpne dem
Comment[nds]=Ornern op Torrent-Dateien dörkieken un de denn laden
Comment[nl]=Scan mappen op torrentbestanden en laad deze
Comment[nn]=Søk etter torrentfiler i mapper og last dei inn
Comment[pl]=Przeszukiwanie katalogów w poszukiwaniu torrentów i ich wczytywanie
Comment[pt]=Pesquisar as pastas por ficheiros de torrentes e carregá-los
Comment[pt_BR]=Procura na pastas por arquivos torrent e os carrega
Comment[ro]=Citește dosare pentru fișiere-torent și le încarcă
Comment[ru]=Ищет торренты в выбранных папках и загружает их
Comment[si]=ටොරෙන්ට් ගොනු සඳහා බහලුම් පිරික්සා ඒවා පූර්‍ණය කරන්න
Comment[sk]=Prehľadať adresáre pre torrenty a načítať ich
Comment[sl]=V mapah poišče datoteke torrent in jih naloži
Comment[sr]=Потражите и учитајте торент фајлове из фасцикли
Comment[sr@ijekavian]=Потражите и учитајте торент фајлове из фасцикли
Comment[sr@ijekavianlatin]=Potražite i učitajte torent fajlove iz fascikli
Comment[sr@latin]=Potražite i učitajte torent fajlove iz fascikli
Comment[sv]=Sök igenom kataloger efter dataflödesfiler och ladda dem
Comment[tr]=Dizinleri torrent dosyaları için tarar ve bulunan dosyaları yükler
Comment[uk]=Знайти у теках файли торентів і завантажити їх
Comment[x-test]=xxScan folders for torrent files and load themxx
Comment[zh_CN]=扫描文件夹以装入其中的种子文件
Comment[zh_TW]=掃描資料夾尋找 torrent 檔案並載入
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktscanfolderplugin
X-KDE-PluginInfo-Author=Joris Guisson, Ivan Vasic
X-KDE-PluginInfo-Email=joris.guisson@gmail.com, ivasic@gmail.com
X-KDE-PluginInfo-Name=ScanFolderPlugin
X-KDE-PluginInfo-Website=http://kde.org/applications/internet/ktorrent/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=folder-open
