[Desktop Entry]
Name=Scan Folder
Name[de]=Ordner durchsuchen
Name[el]=Σάρωση φακέλου
Name[es]=Búsqueda de carpetas
Name[et]=Kataloogi uurimine
Name[fr]=Analyser un dossier
Name[ga]=Scan Fillteán
Name[gl]=Exame de cartafoles
Name[ja]=スキャンフォルダ
Name[km]=វិភាគ​ថត
Name[nds]=Ornern dörkieken
Name[nl]=Scanner-map
Name[nn]=Mappesøk
Name[pt]=Sondagem de Pastas
Name[pt_BR]=Escanear pasta
Name[ro]=Citește dosar
Name[ru]=Проверка папок
Name[sl]=Pregled mape
Name[sr]=Претрага фасцикле
Name[sr@latin]=Pretraga fascikle
Name[sv]=Katalogsökning
Name[tr]=Dizin Tara
Name[uk]=Сканувати теку
Name[x-test]=xxScan Folderxx
Name[zh_CN]=扫描文件夹
Name[zh_TW]=掃描資料夾
Comment=Scan folders for torrent files and load them
Comment[de]=Ordner nach Torrent-Dateien durchsuchen und diese laden
Comment[el]=Σάρωση φακέλων για αρχεία torrent και φόρτωσή τους
Comment[es]=Busca archivos torrent en carpetas y los carga
Comment[et]=Kataloogidest torrent-failide otsimine ja nende laadimine
Comment[fr]=Analyse des dossiers pour rechercher des fichiers de torrents et les charger
Comment[ga]=Lorg comhaid torrent i bhfillteáin agus luchtaigh iad
Comment[gl]=Examinar cartafoles na procura de ficheiros de torrente e cargalos
Comment[ja]=フォルダをスキャンして見つかった torrent ファイルをロードします
Comment[km]=វិភាគ​ថត​រក​ឯកសារ torrent ហើយ​ផ្ទុក​ពួកវា
Comment[nds]=Ornern op Torrent-Dateien dörkieken un de denn laden
Comment[nl]=Scan mappen op torrentbestanden en laad deze
Comment[nn]=Søk etter torrentfiler i mapper og last dei inn
Comment[pt]=Pesquisar as pastas por ficheiros de torrentes e carregá-los
Comment[pt_BR]=Escanea pastas por arquivos torrent, os carrega
Comment[ro]=Citește dosare pentru fișiere-torent și le încarcă
Comment[ru]=Ищет торренты в выбранных папках  и загружает их
Comment[sr]=Потражите и учитајте торент фајлове из фасцикли
Comment[sr@latin]=Potražite i učitajte torent fajlove iz fascikli
Comment[sv]=Sök igenom kataloger efter dataflödesfiler och ladda dem
Comment[tr]=Dizinleri torrent dosyaları için tarar ve bulunan dosyaları yükler
Comment[uk]=Знайти у теках файли торентів і завантажити їх
Comment[x-test]=xxScan folders for torrent files and load themxx
Comment[zh_CN]=扫描文件夹以装入其中的种子文件
Comment[zh_TW]=掃描資料夾尋找 torrent 檔案並載入
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktscanfolderplugin
X-KDE-PluginInfo-Author=Joris Guisson, Ivan Vasic
X-KDE-PluginInfo-Email=joris.guisson@gmail.com, ivasic@gmail.com
X-KDE-PluginInfo-Name=ScanFolderPlugin
X-KDE-PluginInfo-Website=http://ktorrent.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=folder-open
