[Desktop Entry]
Name=Scripting
Name[bg]=Скриптиране
Name[bs]=Skriptovanje
Name[ca]=Crea scripts
Name[ca@valencia]=Crea scripts
Name[cs]=Skriptování
Name[da]=Scripting
Name[de]=Skripte
Name[el]=Σενάρια
Name[en_GB]=Scripting
Name[es]=Programación
Name[et]=Skriptid
Name[fi]=Skriptaus
Name[fr]=Langage de scripts
Name[ga]=Scriptiú
Name[gl]=Scripts
Name[hu]=Parancsfájlkezelés
Name[ia]=Scripting
Name[is]=Skriftun
Name[it]=Script
Name[ja]=スクリプティング
Name[kk]=Скриптті жазу
Name[km]=ការ​ស្គ្រីប
Name[ko]=스크립팅
Name[lt]=Scenarijai
Name[lv]=Skriptēšana
Name[nb]=Skripting
Name[nds]=Skripten
Name[nl]=Scripting
Name[nn]=Skripting
Name[pl]=Skrypty
Name[pt]=Programação
Name[pt_BR]=Scripts
Name[ro]=Scriptare
Name[ru]=Сценарии
Name[si]=විධානාවලි
Name[sk]=Skriptovanie
Name[sl]=Skriptno izvajanje
Name[sq]=Skriptimi
Name[sr]=Скрипте
Name[sr@ijekavian]=Скрипте
Name[sr@ijekavianlatin]=Skripte
Name[sr@latin]=Skripte
Name[sv]=Skripthantering
Name[tr]=Betikleme
Name[ug]=قوليازما
Name[uk]=Запис сценаріїв
Name[x-test]=xxScriptingxx
Name[zh_CN]=脚本
Name[zh_TW]=文稿
Comment=Enables Kross scripting support
Comment[ast]=Activa'l sofitu pa scripts Kross
Comment[bg]=Включване на поддръжка на скриптиране на Kross
Comment[bs]=Omogućava podršku za skriptovanje Krosom
Comment[ca]=Habilita l'ús per a crear scripts del Kross
Comment[ca@valencia]=Habilita l'ús per a crear scripts del Kross
Comment[cs]=Podpora skriptování Kross
Comment[da]=Aktiverer understøttelse af Kross-scripting
Comment[de]=Aktiviert die Unterstützung für Kross-Skripte
Comment[el]=Ενεργοποίηση υποστήριξης σεναρίων Kross
Comment[en_GB]=Enables Kross scripting support
Comment[es]=Activa el uso de scripts con Kross
Comment[et]=Krossi skriptimise toetus
Comment[fi]=Ottaa käyttöön Kross-skriptaustuen
Comment[fr]=Active la prise en charge du langage de scripts Kross
Comment[ga]=Breiseán a chumasaíonn scriptiú Kross
Comment[gl]=Permite o uso de scripts escritos en Kross.
Comment[hu]=A Kross parancsfájlok támogatásának engedélyezése
Comment[is]=Virkja stuðning við Kross skriftun
Comment[it]=Abilita il supporto script Kross
Comment[ja]=Kross スクリプティングサポートを有効にします
Comment[kk]=Kross скриптін рұқсат ету
Comment[km]=អនុញ្ញាត​ការ​គាំទ្រ​ការ​ស្គ្រីប Kross
Comment[ko]=Kross 스크립팅 지원 사용
Comment[lt]=Įgalina kryžminį scenarijų palaikymą
Comment[lv]=Kross skriptēšanas spraudnis
Comment[nb]=Skru på støtte for Kross skripting
Comment[nds]=Ünnerstütten för Kross-Skripten
Comment[nl]=Schakelt ondersteuning voor kross-scripting in
Comment[nn]=Slår på støtte for Kross-skripting
Comment[pl]=Włącza obsługę skryptową Kross
Comment[pt]=Activa o suporte de programação com o Kross
Comment[pt_BR]=Habilita suporte à scripts do Kross
Comment[ro]=Activează suportul pentru scripturi Kross
Comment[ru]=Модуль поддержки сценариев Kross в KTorrent
Comment[si]=Kross විධානාවලි සහාය සක්‍රීය කරයි
Comment[sk]=Povolí podporu Kross scripting
Comment[sl]=Omogoči podporo za pisanje skript Kross
Comment[sr]=Додаје подршку за скриптовање Кросом
Comment[sr@ijekavian]=Додаје подршку за скриптовање Кросом
Comment[sr@ijekavianlatin]=Dodaje podršku za skriptovanje Krossom
Comment[sr@latin]=Dodaje podršku za skriptovanje Krossom
Comment[sv]=Aktiverar stöd för skripthantering med Kross
Comment[tr]=Kross betikleme desteğini etkinleştirir
Comment[uk]=Уможливлює підтримку Kross
Comment[x-test]=xxEnables Kross scripting supportxx
Comment[zh_CN]=启用 Kross 脚本支持
Comment[zh_TW]=Kross 文稿支援
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktscriptingplugin
X-KDE-PluginInfo-Author=Joris Guisson
X-KDE-PluginInfo-Email=joris.guisson@gmail.com
X-KDE-PluginInfo-Name=ScriptingPlugin
X-KDE-PluginInfo-Website=http://kde.org/applications/internet/ktorrent/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=text-x-script
