[Desktop Entry]
Name=Scripting
Name[cs]=Skriptování
Name[de]=Skripte
Name[ga]=Scriptiú
Name[nds]=Skripten
Name[pt]=Programação
Name[pt_BR]=Programação
Name[uk]=Запис сценаріїв
Name[x-test]=xxScriptingxx
Comment=Enables Kross scripting support
Comment[de]=Aktiviert die Unterstützung für Kross-Skripte
Comment[ga]=Breiseán a chumasaíonn scriptiú Kross
Comment[nds]=Ünnerstütten för Kross-Skripten
Comment[nl]=Schakelt ondersteuning voor Kross-scripting in
Comment[pt]=Activa o suporte de programação com o Kross
Comment[pt_BR]=Activa o suporte de programação com o Kross
Comment[uk]=Уможливлює підткримку Kross
Comment[x-test]=xxEnables Kross scripting supportxx
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktscriptingplugin
X-KDE-PluginInfo-Author=Joris Guisson
X-KDE-PluginInfo-Email=joris.guisson@gmail.com
X-KDE-PluginInfo-Name=ScriptingPlugin
X-KDE-PluginInfo-Website=http://ktorrent.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Icon=text-x-script
