[Desktop Entry]
Name=Scripting
Comment=Enables Kross scripting support
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktscriptingplugin
X-KDE-PluginInfo-Author=Joris Guisson
X-KDE-PluginInfo-Email=joris.guisson@gmail.com
X-KDE-PluginInfo-Name=ScriptingPlugin
X-KDE-PluginInfo-Website=http://ktorrent.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Icon=text-x-script
