[Desktop Entry]
Name=Scripting
Name[cs]=Skriptování
Name[de]=Skripte
Name[es]=Programación
Name[ga]=Scriptiú
Name[ja]=スクリプティング
Name[nds]=Skripten
Name[pt]=Programação
Name[pt_BR]=Programação
Name[sr]=Скрипте
Name[sr@latin]=Skripte
Name[sv]=Skripthantering
Name[uk]=Запис сценаріїв
Name[x-test]=xxScriptingxx
Name[zh_CN]=脚本
Comment=Enables Kross scripting support
Comment[de]=Aktiviert die Unterstützung für Kross-Skripte
Comment[es]=Habilita la programación con Kross
Comment[ga]=Breiseán a chumasaíonn scriptiú Kross
Comment[ja]=Kross スクリプティングサポートを有効にします
Comment[nds]=Ünnerstütten för Kross-Skripten
Comment[nl]=Schakelt ondersteuning voor Kross-scripting in
Comment[pt]=Activa o suporte de programação com o Kross
Comment[pt_BR]=Activa o suporte de programação com o Kross
Comment[sr]=Додаје подршку за скриптовање Кросом
Comment[sr@latin]=Dodaje podršku za skriptovanje Krossom
Comment[sv]=Aktiverar stöd för skripthantering med Kross
Comment[uk]=Уможливлює підткримку Kross
Comment[x-test]=xxEnables Kross scripting supportxx
Comment[zh_CN]=启用 Kross 脚本支持
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktscriptingplugin
X-KDE-PluginInfo-Author=Joris Guisson
X-KDE-PluginInfo-Email=joris.guisson@gmail.com
X-KDE-PluginInfo-Name=ScriptingPlugin
X-KDE-PluginInfo-Website=http://ktorrent.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Icon=text-x-script
