[Desktop Entry]
Name=IPFilterPlugin
Name[be]=Утулка IPFilter
Name[de]=IP-Filter
Name[el]=Πρόσθετο φίλτρου IP
Name[es]=Complemento de filtro de IP
Name[et]=IP filtri plugin
Name[fr]=Module externe de filtrage IP
Name[gl]=Extensión de filtrado de IP
Name[hne]=आईपीफिल्टरप्लगइन
Name[it]=Plugin filtro ip
Name[ja]=IP フィルタ
Name[lt]=IP filtro įskiepis
Name[lv]=IPFiltraSpraudnis
Name[nb]=IP-filter
Name[nds]=IPFilter-Moduul
Name[nl]=IPFilter-plugin
Name[pl]=Wtyczka filtr IP
Name[pt]=Filtro de IPs
Name[pt_BR]=Plugin IPFilter
Name[ro]=ModulFiltrareIP
Name[ru]=IP-фильтр
Name[sk]=IPFilter Plugin
Name[sr]=ИП филтер
Name[sr@latin]=IP filter
Name[sv]=IP-filterinsticksprogram
Name[tr]=IP Filtreleme Eklentisi
Name[x-test]=xxIPFilterPluginxx
Name[zh_CN]=IP 过滤插件
Name[zh_TW]=IP 過濾外掛程式
Comment=IP filter plugin for KTorrent
Comment[be]=Фільтр IP для KTorrent
Comment[bg]=Приставка за IP-филтриране за KTorrent
Comment[ca]=Connector de filtres d'IP per al KTorrent
Comment[cs]=Modul IP filtru pro KTorrent
Comment[da]=KTorrent-plugin til IP-filtrering
Comment[de]=IP-Filter-Modul für KTorrent
Comment[el]=Πρόσθετο φίλτρου IP για το KTorrent
Comment[es]=Complemento de filtro de IP de KTorrent
Comment[et]=KTorrenti IP filtri plugin
Comment[fr]=Module externe de filtrage IP pour KTorrent
Comment[ga]=Breiseán scagaire IP le haghaidh KTorrent
Comment[gl]=Extensión de KTorrent para filtrar IP
Comment[it]=Plugin filtro ip per KTorrent
Comment[ja]=ブロックリストによって IP アドレスをフィルタします
Comment[km]=កម្មវិធី​ជំនួយ​តម្រង IP សម្រាប់ KTorrent
Comment[lt]=KTorrent IP filtro įskiepis
Comment[lv]=KTorrent spraudnis IP filtrēšanai
Comment[nb]=IP-filter for KTorrent
Comment[nds]=IPFilter-Moduul för KTorrent
Comment[nl]=Plugin om op IP-adressen te filteren in KTorrent
Comment[pl]=Wtyczka filtr IP dla KTorrent
Comment[pt]='Plugin' de filtragem de IPs do KTorrent
Comment[pt_BR]=Plugin IP filter para o  KTorrent
Comment[ro]=Modul de filtrare a IP-urilor pentru KTorrent
Comment[ru]=Фильтрация клиентов по IP
Comment[sk]=IP filter plugin pre KTorrent
Comment[sl]=Vstavek za filtriranje naslovov IP
Comment[sr]=Прикључак ИП филтера за К‑торент
Comment[sr@latin]=Priključak IP filtera za KTorrent
Comment[sv]=IP-filterinsticksprogram för Ktorrent
Comment[tr]=KTorrent için IP filtreleme eklentisi
Comment[uk]=Втулка фільтрування IP для KTorrent
Comment[x-test]=xxIP filter plugin for KTorrentxx
Comment[zh_CN]=KTorrent 的 IP 过滤插件
Comment[zh_TW]=KTorrent IP 過濾外掛程式
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktipfilterplugin
X-KDE-PluginInfo-Author=Joris Guisson, Ivan Vasic
X-KDE-PluginInfo-Email=joris.guisson@gmail.com, ivasic@gmail.com
X-KDE-PluginInfo-Name=IPFilterPlugin
X-KDE-PluginInfo-Website=http://ktorrent.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=view-filter
