[Desktop Entry]
Name=IPFilterPlugin
Name[bg]=Приставка за IP-филтриране
Name[br]=Lugent Sil IP
Name[de]=IP-Filter-Modul
Name[el]=Πρόσθετο φίλτρου IP
Name[es]=Filtro de IP
Name[et]=IP-filtri plugin
Name[it]=Plugin filtro ip
Name[nb]=IP-filtermodul
Name[nds]="IP-Filter"-Moduul
Name[nl]=IPFilter-plugin
Name[pl]=Wtyczka filtru IP
Name[pt]=Filtro de IPs
Name[pt_BR]=Plugin de Filtro de IP
Name[sk]=IPFilter Plugin
Name[sr]=Прикључак IP филтера
Name[sr@Latn]=Priključak IP filtera
Name[sv]=IP-filterinsticksprogram
Name[tr]=IP Filtre Eklentisi
Name[xx]=xxIPFilterPluginxx
Name[zh_CN]=IP 过滤器插件
Name[zh_TW]=IPFilter外掛程式
Comment=IP filter plugin for KTorrent
Comment[ar]=قابس مرشح IP لِــ KTorrent
Comment[bg]=Приставка за IP-филтриране (KTorrent)
Comment[br]=Lugent sil IP evit KTorrentt
Comment[ca]=Connector de filtres d'IP per a Ktorrent
Comment[cs]=IP filtr modul pro KTorrent
Comment[de]=IP-Filter-Modul für KTorrent
Comment[el]=Πρόσθετο φίλτρου IP για το KTorrent
Comment[es]=Complemento de filtro de IP de KTorrent
Comment[et]=KTorrenti IP-filtri plugin
Comment[fa]=وصلۀ پالایۀ IP برای KTorrent
Comment[gl]=Plugin de filtrado de IPs para KTorrent
Comment[it]=Plugin filtro ip per KTorrent
Comment[ja]=KTorrent のための IP フィルタプラグイン
Comment[ka]=KTorrent-ის IP ფილტრაციის მოდული
Comment[nb]=IP-filtermodul for KTorrent
Comment[nds]="IP-Filter"-Moduul för KTorrent
Comment[nl]=Plugin om op IP-adressen te filteren in KTorrent
Comment[pl]=Wtyczka filtru IP dla KTorrent
Comment[pt]='Plugin' de filtragem de IPs do KTorrent
Comment[pt_BR]=Plugin de Filtro de IP para o KTorrent
Comment[sk]=IP filter plugin pre KTorrent
Comment[sr]=Прикључак IP филтера за KTorrent
Comment[sr@Latn]=Priključak IP filtera za KTorrent
Comment[sv]=IP-filterinsticksprogram för Ktorrent
Comment[tr]=KTorrent için IP filtre eklentisi
Comment[uk]=Втулок фільтрування IP для KTorrent
Comment[xx]=xxIP filter plugin for KTorrentxx
Comment[zh_CN]=KTorrent 的 IP 过滤器插件
Comment[zh_TW]=KTorrent IP 過濾器外掛程式
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktipfilterplugin
