[Desktop Entry]
Name=IPFilterPlugin
Name[bg]=Приставка за IP-филтриране
Name[br]=Lugent Sil IP
Name[el]=Πρόσθετο φίλτρου IP
Name[ja]=IPフィルタプラグイン
Name[pt]=Filtro de IPs
Name[pt_BR]=Plugin de Filtro de IP
Name[sr]=Прикључак IP филтера
Name[sr@Latn]=Priključak IP filtera
Name[sv]=IP-filterinsticksprogram
Name[xx]=xxIPFilterPluginxx
Comment=IP filter plugin for KTorrent
Comment[bg]=Приставка за IP-филтриране на KTorrent
Comment[br]=Lugent sil IP evit KTorrentt
Comment[el]=Πρόσθετο φίλτρου IP για το KTorrent
Comment[ja]=KTorrentのためのIPフィルタプラグイン
Comment[pt]='Plugin' de filtragem de IPs do KTorrent
Comment[pt_BR]=Plugin de Filtro de IP para o KTorrent
Comment[sr]=Прикључак IP филтера за KTorrent
Comment[sr@Latn]=Priključak IP filtera za KTorrent
Comment[sv]=IP-filterinsticksprogram för Ktorrent
Comment[xx]=xxIP filter plugin for KTorrentxx
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktipfilterplugin
