[Desktop Entry]
Name=IP Filter
Name[ast]=Peñera d'IPs
Name[bg]=Филтър по IP
Name[bs]=IP filter
Name[ca]=Filtre d'IP
Name[ca@valencia]=Filtre d'IP
Name[cs]=Filtr IP
Name[da]=IP-filter
Name[de]=IP-Filter
Name[el]=Φίλτρο IP
Name[en_GB]=IP Filter
Name[eo]=IPFiltrilo
Name[es]=Filtro de IP
Name[et]=IP filter
Name[fi]=IP-suodatin
Name[fr]=Filtre d'adresses IP
Name[ga]=Scagaire IP
Name[gl]=Filtro de IP
Name[hr]=IP filtar
Name[hu]=IP-szűrő
Name[is]=IP síun
Name[it]=Filtro IP
Name[ja]=IP フィルタ
Name[kk]=IP сүзгісі
Name[km]=តម្រង IP
Name[ko]=IP 필터
Name[lt]=IP filtras
Name[lv]=IP filtrs
Name[nb]=IP-filter
Name[nds]=IP-Filter
Name[nl]=IP-filter
Name[nn]=IP-filter
Name[pl]=Filtr IP
Name[pt]=Filtro de IPs
Name[pt_BR]=Filtro de IP
Name[ro]=Filtru IP
Name[ru]=IP-фильтр
Name[si]=IP පෙරහන
Name[sk]=IP Filter
Name[sl]=Filter IP-jev
Name[sq]=IP Filtër
Name[sr]=ИП филтер
Name[sr@ijekavian]=ИП филтер
Name[sr@ijekavianlatin]=IP filter
Name[sr@latin]=IP filter
Name[sv]=IP-filter
Name[tr]=IP Süzgeci
Name[ug]=IP سۈزگۈچ
Name[uk]=Фільтр IP
Name[x-test]=xxIP Filterxx
Name[zh_CN]=IP 过滤器
Name[zh_TW]=IP 過濾
Comment=Filter IP addresses through a blocklist
Comment[ast]=Peñera direiciones IP pente un llistáu de bloquéu
Comment[bg]=Филтриране на IP-адресите с черен списък
Comment[bs]=Filtrirajte IP adrese kroz listu blokiranja
Comment[ca]=Filtra les adreces IP a través d'una llista de bloqueig
Comment[ca@valencia]=Filtra les adreces IP a través d'una llista de bloqueig
Comment[cs]=Filtrovat IP adresy podle seznamu blokovaných
Comment[da]=Filtrér IP-adresser gennem en blokeringsliste
Comment[de]=IP-Adressen mit einer Blockliste filtern
Comment[el]=Φίλτρο διευθύνσεων IP μέσω μιας λίστας αποκλεισμού
Comment[en_GB]=Filter IP addresses through a blocklist
Comment[es]=Filtre direcciones IP por medio de una lista de bloqueo
Comment[et]=IP-aadresside filtreerimine musta nimekirja alusel
Comment[fi]=Suodattaa IP-osoitteita estoluettelon avulla
Comment[fr]=Filtre les adresses IP grâce une liste de blocage
Comment[ga]=Scag seoltaí IP trí liosta dubh
Comment[gl]=Filtrar os enderezos IP mediante unha lista de bloqueos.
Comment[hu]=IP-címek szűrése tiltólista alapján
Comment[is]=Sía IP-vistföng miðað við svartan lista
Comment[it]=Filtra indirizzi IP attraverso una lista di blocco
Comment[ja]=ブロックリストによって IP アドレスをフィルタします
Comment[kk]=Бұғаттау тізімі бойынша IP-адрестерді сүзу
Comment[km]=តម្រង​អាសយដ្ឋាន IP តាម​បញ្ជី​ប្លុក
Comment[ko]=차단 목록으로 IP 주소 필터링
Comment[lt]=Filtruoti IP adresus per blocklist'ą
Comment[lv]=Filtrē IP adreses ar bloķēšanas saraksta palīdzību
Comment[nb]=Filtrer IP-adresser gjennom en svarteliste
Comment[nds]=IP-Adressen över en Blockeerlist filtern
Comment[nl]=Filter IP-adressen via een blokkeerlijst
Comment[nn]=Filtrer IP-adresser gjennom ei blokkeringsliste
Comment[pl]=Filtrowanie adresów IP z wykorzystaniem spisu blokowanych adresów
Comment[pt]=Filtra os endereços IP através de uma lista de bloqueios
Comment[pt_BR]=Filtra os endereços IP através de uma lista de bloqueio
Comment[ro]=Filtrează adresele IP printr-o listă de blocare
Comment[ru]=Позволяет блокировать определённые IP-адреса
Comment[si]=වැලකුම් ලැයිස්තුවක් හරහා IP ලිපින පෙරයි
Comment[sk]=Filtrovať IP adresy cez blocklist
Comment[sl]=Filtriranje naslovov IP s seznamom blokiranih
Comment[sr]=Филтрирајте ИП адресе кроз листу блокирања
Comment[sr@ijekavian]=Филтрирајте ИП адресе кроз листу блокирања
Comment[sr@ijekavianlatin]=Filtrirajte IP adrese kroz listu blokiranja
Comment[sr@latin]=Filtrirajte IP adrese kroz listu blokiranja
Comment[sv]=Filtrera IP-adresser med en blockeringslista
Comment[tr]=Bir engel listesiyle IP adreslerini süzgeçten geçirir
Comment[uk]=Фільтрувати IP-адреси за списком блокування
Comment[x-test]=xxFilter IP addresses through a blocklistxx
Comment[zh_CN]=通过屏蔽列表过滤 IP 地址
Comment[zh_TW]=透過黑名單過濾 IP 位址
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktipfilterplugin
X-KDE-PluginInfo-Author=Joris Guisson, Ivan Vasic
X-KDE-PluginInfo-Email=joris.guisson@gmail.com, ivasic@gmail.com
X-KDE-PluginInfo-Name=IPFilterPlugin
X-KDE-PluginInfo-Website=http://kde.org/applications/internet/ktorrent/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=view-filter
