[Desktop Entry]
Name=UPnP
Name[ast]=UPnP
Name[bg]=UPnP
Name[bs]=UPnP
Name[ca]=UPnP
Name[ca@valencia]=UPnP
Name[cs]=UPnP
Name[da]=UPnP
Name[de]=UPnP
Name[el]=UPnP
Name[en_GB]=UPnP
Name[eo]=UPnP
Name[es]=UPnP
Name[et]=UPnP
Name[fi]=UPnP
Name[fr]=UPnP
Name[ga]=UPnP
Name[gl]=UPnP
Name[hr]=UPnP
Name[hu]=UPnP
Name[is]=UPnP
Name[it]=UPnP
Name[ja]=UPnP
Name[kk]=UPnP
Name[km]=UPnP
Name[ko]=UPnP
Name[lt]=UPnP
Name[lv]=UPnP
Name[mr]=UPnP
Name[nb]=UPnP
Name[nds]=UPnP
Name[nl]=UPnP
Name[nn]=UPnP
Name[pl]=UPnP
Name[pt]=UPnP
Name[pt_BR]=UPnP
Name[ro]=UPnP
Name[ru]=UPnP
Name[si]=UPnP
Name[sk]=UPnP
Name[sl]=UPnP
Name[sq]=UPnP
Name[sr]=УПнП
Name[sr@ijekavian]=УПнП
Name[sr@ijekavianlatin]=UPnP
Name[sr@latin]=UPnP
Name[sv]=UPnP
Name[tr]=UPnP
Name[ug]=UPnP
Name[uk]=UPnP
Name[x-test]=xxUPnPxx
Name[zh_CN]=UPnP
Name[zh_TW]=UPnP
Comment=Forward ports using UPnP
Comment[ast]=Redireiciona puertos usando UPnP
Comment[bg]=Пренасочване на портове с UPnP
Comment[bs]=Proslijedi priključke koristeći UPnP
Comment[ca]=Rediregeix els ports usant UPnP
Comment[ca@valencia]=Rediregeix els ports usant UPnP
Comment[cs]=Předávání portů pomocí UPnP
Comment[da]=Åbning af porte via UPnP
Comment[de]=Port-Weiterleitung unter Verwendung von UPnP
Comment[el]=Προώθηση θυρών με χρήση του UPnP
Comment[en_GB]=Forward ports using UPnP
Comment[es]=Reenvío de puertos usando UPnP
Comment[et]=Portide edasisuunamine UPnP abil
Comment[fi]=UPnP:tä käyttävä portin ohjaus
Comment[fr]=Rediriger des ports en utilisant UPnP
Comment[ga]=Breiseán a chuireann poirt ar aghaidh le UPnP
Comment[gl]=Reencamiñar portos mediante UPnP.
Comment[hu]=Portátirányítás UPnP használatával
Comment[is]=Framvísa gáttum með UPnP
Comment[it]=Mappa le porte utilizzando UPnP
Comment[ja]=UPnP を使ってポートをフォワードします
Comment[kk]=UPnP көмегімен порттарды қайта бағыттау
Comment[km]=បញ្ជូន​ច្រក​បន្ត​ដោយប្រើ UPnP
Comment[ko]=UPnP를 사용한 포트 포워딩
Comment[lt]=Atverti prievadus naudojant UPnP
Comment[lv]=Pāradresē portus, uzmantojot UPnP
Comment[nb]=Vderesend porter ved hjelp av UPnP
Comment[nds]=Porten över UPnP wiederledden
Comment[nl]=Forward poorten met behulp van UPnP
Comment[nn]=Vidaresender portar ved å bruka UPnP
Comment[pl]=Przekierowywanie portów z wykorzystaniem UPnP
Comment[pt]=Um 'plugin' de encaminhamento de portos com o UPnP
Comment[pt_BR]=Redireciona portas usando o UPnP
Comment[ro]=Înaintarea porturilor utilizînd UPnP
Comment[ru]=Модуль перенаправления портов с помощью UPnP
Comment[si]=UPnP මගින් පේනු ඉදිරියට යවමින
Comment[sk]=Forwardovať porty pomocou UPnP
Comment[sl]=Posredovanje vrat s pomočjo UPnP
Comment[sr]=Прослеђујте портове УПнП‑ом
Comment[sr@ijekavian]=Просљеђујте портове УПнП‑ом
Comment[sr@ijekavianlatin]=Prosljeđujte portove UPnP‑om
Comment[sr@latin]=Prosleđujte portove UPnP‑om
Comment[sv]=Vidarebefordra portar genom att använda UPnP
Comment[tr]=UPnP kullanarak portları yönlendirir
Comment[uk]=Переспрямування портів за допомогою UPnP
Comment[x-test]=xxForward ports using UPnPxx
Comment[zh_CN]=使用 UPnP 转发端口
Comment[zh_TW]=使用 UPnP 轉送連接埠
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktupnpplugin
X-KDE-PluginInfo-Author=Joris Guisson, Ivan Vasic
X-KDE-PluginInfo-Email=joris.guisson@gmail.com, ivasic@gmail.com
X-KDE-PluginInfo-Name=UPnPPlugin
X-KDE-PluginInfo-Website=http://kde.org/applications/internet/ktorrent/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=kt-upnp
