[Desktop Entry]
Name=UPnPPlugin
Name[bg]=Приставка UPnP
Name[br]=Lugent UPnP
Name[el]=Πρόσθετο UPnP
Name[et]=UPnP plugin
Name[ja]=UPnPプラグイン
Name[pl]=Wtyczka UPnP
Name[pt]='Plugin' UPnP
Name[pt_BR]=Plugin UPnP
Name[sv]=UPnP-insticksprogram
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktupnpplugin
