[Desktop Entry]
Name=UPnP
Name[bg]=UPnP
Name[ca]=UPnP
Name[cs]=UPnP
Name[da]=UPnP
Name[de]=UPnP
Name[el]=UPnP
Name[en_GB]=UPnP
Name[es]=UPnP
Name[et]=UPnP
Name[fr]=UPnP
Name[ga]=UPnP
Name[gl]=UPnP
Name[ja]=UPnP
Name[km]=UPnP
Name[lv]=UPnP
Name[nb]=UPnP
Name[nds]=UPnP
Name[nl]=UPnP
Name[nn]=UPnP
Name[pl]=UPnP
Name[pt]=UPnP
Name[pt_BR]=UPnP
Name[ro]=UPnP
Name[ru]=UPnP
Name[sr]=УПнП
Name[sr@latin]=UPnP
Name[sv]=UPnP
Name[tr]=UPnP
Name[uk]=UPnP
Name[x-test]=xxUPnPxx
Name[zh_CN]=UPnP
Name[zh_TW]=UPnP
Comment=Forward ports using UPnP
Comment[bg]=Пренасочване на портове с UPnP
Comment[ca]=Redirecció de ports usant UPnP
Comment[cs]=Předávání portů pomocí UPnP
Comment[da]=Åbning af porte via UPnP
Comment[de]=Port-Weiterleitung unter Verwendung von UPnP
Comment[el]=Προώθηση θυρών με χρήση του UPnP
Comment[en_GB]=Forward ports using UPnP
Comment[es]=Reenvío de puertos usando UPnP
Comment[et]=Portide edasisuunamine UPnP abil
Comment[fr]=Module externe pour rediriger des ports à l'aide de UPnP
Comment[ga]=Breiseán a chuireann poirt ar aghaidh le UPnP
Comment[gl]=Reencamiñar portos mediante UPnP
Comment[ja]=UPnP を使ってポートをフォワードします
Comment[km]=បញ្ជូន​ច្រក​បន្ត​ដោយប្រើ UPnP
Comment[lv]=Pāradresē portus, uzmantojot UPnP
Comment[nb]=Vderesend porter ved hjelp av UPnP
Comment[nds]=Porten över UPnP wiederledden
Comment[nl]=Forward poorten met behulp van UPnP
Comment[nn]=Vidaresender portar ved å bruka UPnP
Comment[pl]=Przekierowywanie portów z wykorzystaniem UPnP
Comment[pt]=Um 'plugin' de encaminhamento de portos com o UPnP
Comment[pt_BR]=Redireciona portas usando o UPnP
Comment[ro]=Înaintarea porturilor utilizînd UPnP
Comment[ru]=Модуль перенаправления портов с помощью UPnP
Comment[sr]=Прослеђујте портове УПнП‑ом
Comment[sr@latin]=Prosleđujte portove UPnP‑om
Comment[sv]=Vidarebefordra portar genom att använda UPnP
Comment[tr]=UPnP kullanarak portları yönlendirir
Comment[uk]=Переспрямування портів за допомогою UPnP
Comment[x-test]=xxForward ports using UPnPxx
Comment[zh_CN]=使用 UPnP 自动转发端口
Comment[zh_TW]=使用 UPnP 轉送連接埠
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktupnpplugin
X-KDE-PluginInfo-Author=Joris Guisson, Ivan Vasic
X-KDE-PluginInfo-Email=joris.guisson@gmail.com, ivasic@gmail.com
X-KDE-PluginInfo-Name=UPnPPlugin
X-KDE-PluginInfo-Website=http://ktorrent.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=kt-upnp
