[Desktop Entry]
Name=UPnP
Comment=Forward ports using UPnP
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktupnpplugin
X-KDE-PluginInfo-Author=Joris Guisson, Ivan Vasic
X-KDE-PluginInfo-Email=joris.guisson@gmail.com, ivasic@gmail.com
X-KDE-PluginInfo-Name=UPnPPlugin
X-KDE-PluginInfo-Website=http://ktorrent.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=kt-upnp
