[Desktop Entry]
Name=Automatic Remove
Name[de]=Automatisch entfernen
Name[ga]=Baint Uathoibríoch
Name[pt]=Remoção Automática
Name[pt_BR]=Remoção Automática
Name[sv]=Automatisk borttagning
Name[uk]=Автоматичне вилучення
Name[zh_TW]=自動移除
Comment=Script to automatically remove torrents when they finish downloading or seeding
Comment[de]=Skript zum automatischen Entfernen von Torrents, wenn sie vollständig hoch- oder heruntergeladen sind
Comment[ga]=Script a bhaineann torrents nuair atá an t-íosluchtú nó an síolú críochnaithe
Comment[pt]=Um programa para remover automaticamente as torrentes quando terminar a sua transferência ou publicação
Comment[pt_BR]=Um programa para remover automaticamente as torrentes quando terminar a sua transferência ou publicação
Comment[sv]=Skript för att automatiskt ta bort dataflöden när nerladdning är klar eller de inte erbjuds längre
Comment[uk]=Скрипт для автоматичного вилучення торентів після завершення їх звантаження або поширення.
Comment[zh_TW]=在完成下載或播種後自動移除 torrent 的文稿
Type=KTorrentScript
Icon=kt-remove
X-KTorrent-Script-Author=Joris Guisson
X-KTorrent-Script-Email=joris.guisson@gmail.com
X-KTorrent-Script-Website=http://ktorrent.org/
X-KTorrent-Script-License=GPL
X-KTorrent-Script-File=auto_remove.py

