[Desktop Entry]
Name=Automatic Remove
Comment=Script to automatically remove torrents when they finish downloading or seeding
Type=KTorrentScript
Icon=kt-remove
X-KTorrent-Script-Author=Joris Guisson
X-KTorrent-Script-Email=joris.guisson@gmail.com
X-KTorrent-Script-Website=http://ktorrent.org/
X-KTorrent-Script-License=GPL
X-KTorrent-Script-File=auto_remove.py

