[Desktop Entry]
Name=Automatic Remove
Name[ar]=الإزالة الآليّة
Name[ast]=Desaniciu automáticu
Name[bg]=Автоматично премахване
Name[bs]=Automatsko uklanjanje
Name[ca]=Supressió automàtica
Name[ca@valencia]=Supressió automàtica
Name[cs]=Automatické odstranění
Name[da]=Fjern automatisk
Name[de]=Automatisch entfernen
Name[el]=Αυτόματη αφαίρεση
Name[en_GB]=Automatic Remove
Name[es]=Eliminación automática
Name[et]=Automaatne eemaldamine
Name[fi]=Automaattinen poisto
Name[fr]=Suppression automatique
Name[ga]=Baint Uathoibríoch
Name[gl]=Retiro automático
Name[hu]=Automatikus eltávolítás
Name[is]=Fjarlægja sjálfkrafa
Name[it]=Rimozione automatica
Name[ja]=自動削除
Name[kk]=Автоматты түрде өшіру
Name[km]=យកចេញ​ដោយ​ស្វ័យប្រវត្តិ
Name[ko]=자동 삭제
Name[lt]=Automatinis šalinimas
Name[lv]=Automātiska izņemšana
Name[mr]=स्वयंचलित काढून टाका
Name[nb]=Automatisk fjerning
Name[nds]=Automaatsch wegmaken
Name[nl]=Automatisch verwijderen
Name[nn]=Fjern automatisk
Name[pl]=Automatyczne Usuwanie
Name[pt]=Remoção Automática
Name[pt_BR]=Remoção automática
Name[ro]=Eliminare automată
Name[ru]=Автоматическое удаление
Name[si]=ස්වයංක්‍රීය ඉවත් කිරීම
Name[sk]=Automatické odstránenie
Name[sl]=Samodejna odstranitev
Name[sq]=Hiqe Automatikisht
Name[sr]=Аутоматско уклањање
Name[sr@ijekavian]=Аутоматско уклањање
Name[sr@ijekavianlatin]=Automatsko uklanjanje
Name[sr@latin]=Automatsko uklanjanje
Name[sv]=Automatisk borttagning
Name[tr]=Otomatik Silme
Name[uk]=Автоматичне вилучення
Name[x-test]=xxAutomatic Removexx
Name[zh_CN]=自动移除
Name[zh_TW]=自動移除
Comment=Script to automatically remove torrents when they finish downloading or seeding
Comment[ar]=سكربت لإزالة السّيول آليًّا عندما ينتهي تنزيلها أو تزويدها
Comment[bg]=Скрипт за автоматично премахване на торенти при приключване с изтеглянето или разпръскването им
Comment[bs]=Skripta za automatsko uklanjanje torenata nakon što završe preuzimanje ili sijanje
Comment[ca]=Script per a suprimir automàticament els torrents quan s'han acabat de baixar o sembrar
Comment[ca@valencia]=Script per a suprimir automàticament els torrents quan s'han acabat de baixar o sembrar
Comment[cs]=Skript, který automaticky odstraní torrenty pokud dokončily stahování nebo sdílení
Comment[da]=Script til automatisk at fjerne torrents når de er færdige med at downloade eller seede
Comment[de]=Skript zum automatischen Entfernen von Torrents, wenn sie vollständig hoch- oder heruntergeladen sind
Comment[el]=Σενάριο για την αυτόματη αφαίρεση torrent μετά το πέρας λήψης ή σποράς
Comment[en_GB]=Script to automatically remove torrents when they finish downloading or seeding
Comment[es]=Script para eliminar automáticamente los torrents cuando se acaben de descargar o sembrar
Comment[et]=Skript torrentite automaatseks eemaldamiseks, kui allalaadimine või levitamine on lõpetatud
Comment[fi]=Skripti torrentien automaattiseen poistoon, kun niiden lataus tai jakaminen on valmistunut
Comment[fr]=Script pour supprimer automatiquement des torrents lorsqu'ils ont fini leurs téléchargements ou leurs partages
Comment[ga]=Script a bhaineann torrents nuair atá an t-íosluchtú nó an síolú críochnaithe
Comment[gl]=Un script para retirar os torrentes automaticamente cando remate a súa descarga ou espallamento.
Comment[hu]=A torrentek automatikus eltávolítása a letöltés vagy megosztás befejeződésekor
Comment[is]=Skrifta sem fjarlægir strauma sjálfvirkt þegar þeir hafa lokið sáningu eða niðurhali
Comment[it]=Script per rimuovere automaticamente gli scaricamenti al termine dello scaricamento o distribuzione seme
Comment[ja]=ダウンロードまたはシードを完了したときに自動的に torrent を削除するスクリプト
Comment[kk]=Жүктеп алу не тарату аяқталған соң автоматты түрде торрентті өшіру скрипті
Comment[km]=ស្គ្រីប ដើម្បី​យក torrents ចេញ​ដោយ​ស្វ័យប្រវត្តិ នៅពេល​ដែល​ពួកគេ​បញ្ចប់​ការ​ទាញយក ឬ​បណ្ដុះ
Comment[ko]=토렌트 다운로드 및 시드가 끝났을 때 자동으로 토렌트 삭제
Comment[lt]=Scenarijus automatiškai pašalinti torrentus kai jie baigiami atsiųsti ar skleisti
Comment[lv]=Skripts automātiski izņem torrnetus, kad pabeigta lejupielāde vai piedāvāšana
Comment[nb]=Et skript som automatisk fjerner strømmer når de er ferdig lastet ned eller opp
Comment[nds]=Dat Skript maakt Torrents automaatsch weg, wenn ehr Daalladen oder Verdelen afslaten is.
Comment[nl]=Script voor het automatisch verwijderen van torrents bij het beëindigen van downloaden of 'seeding'
Comment[nn]=Skript som automatisk fjernar torrentar når dei er ferdignedlasta eller -delte
Comment[pl]=Skrypt do automatycznego usuwania torrentów po zakończonym pobieraniu lub wysyłaniu
Comment[pt]=Um programa para remover automaticamente as torrentes quando terminar a sua transferência ou publicação
Comment[pt_BR]=Script para remover automaticamente os torrents, quando o download ou a semeação forem concluídos
Comment[ro]=Script pentru eliminarea automată a torentelor la încheierea descărcării sau încărcării acestora
Comment[ru]=Сценарий для автоматического удаления торрентов после окончания их загрузки или отдачи
Comment[si]=බාගැනීම හෝ සීඩ් කිරීම අවසන් විට ටොරෙන්ට් ස්වයංක්‍රීයව ඉවත් කිරීම සඳහා විධානාවලිය
Comment[sk]=Skript na automatické odstránenie torrentov, keď skončia sťahovanie alebo zdieľanie
Comment[sl]=Skript za samodejno odstranitev torrentov, ko se zaključi prejemanje ali sejanje
Comment[sr]=Скрипта за аутоматско уклањање торената пошто се заврши преузимање или сејање
Comment[sr@ijekavian]=Скрипта за аутоматско уклањање торената пошто се заврши преузимање или сијање
Comment[sr@ijekavianlatin]=Skripta za automatsko uklanjanje torenata pošto se završi preuzimanje ili sijanje
Comment[sr@latin]=Skripta za automatsko uklanjanje torenata pošto se završi preuzimanje ili sejanje
Comment[sv]=Skript för att automatiskt ta bort dataflöden när nerladdning är klar eller de inte erbjuds längre
Comment[tr]=İndirilmesi ya da gönderilmesi biten torrentleri otomatik olarak kaldıran bir betik
Comment[uk]=Скрипт для автоматичного вилучення торентів після завершення їхнього отримання або поширення.
Comment[x-test]=xxScript to automatically remove torrents when they finish downloading or seedingxx
Comment[zh_CN]=下载完成或出种时自动移除种子的脚本
Comment[zh_TW]=在完成下載或播種後自動移除 torrent 的文稿
Type=KTorrentScript
Icon=kt-remove
X-KTorrent-Script-Author=Joris Guisson
X-KTorrent-Script-Email=joris.guisson@gmail.com
X-KTorrent-Script-Website=http://kde.org/applications/internet/ktorrent/
X-KTorrent-Script-License=GPL
X-KTorrent-Script-File=auto_remove.py

