[Desktop Entry]
Name=BitFinderPlugin
Name[nb]=Bitfinner
Comment=Plugin to automatically downloads torrents from various sources
Comment[nb]=Laster ned strømmer automatisk fra diverse kilder
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktbitfinderplugin
X-KDE-PluginInfo-Author=Alan Jones
X-KDE-PluginInfo-Email=skyphyr@gmail.com
X-KDE-PluginInfo-Name=BitFinderPlugin
X-KDE-PluginInfo-Website=http://ktorrent.org/
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=false
Icon=edit-find