[Desktop Entry]
Name=BitFinderPlugin
Name[de]=BitFinder-Modul
Name[el]=Πρόσθετο BitFinder
Name[es]=Complemento BitFinder
Name[et]=BitFinderi plugin
Name[it]=Plugin BitFinder
Name[lt]=BitFinder įskiepis
Name[lv]=BitFilterPlugin
Name[nb]=Bitfinner
Name[nds]=BitFinder-Moduul
Name[nl]=BitFinder-plugin
Name[pl]=Wtyczka BitFinder
Name[pt]='Plugin' do BitFinder
Name[pt_BR]=Plug-in BitFinder
Name[sv]=Insticksprogram för bitsökning
Name[zh_CN]=节点查询插件
Name[zh_TW]=自動下載 torrent 外掛程式 
Comment=Plugin to automatically downloads torrents from various sources
Comment[ca]=Connector que baixa automàticament els torrents de vàries fonts
Comment[da]=Plugin til automatisk at downloade torrents fra diverse kilder
Comment[de]=Modul zum automatischen Download von Torrents aus verschiedenen Quellen
Comment[el]=Πρόσθετο αυτόματης λήψης torrent από διάφορες πηγές
Comment[es]=Complemento para descargar automáticamente torrents de varias fuentes
Comment[et]=Plugin torrentite automaatseks allalaadimiseks erinevatest allikatest
Comment[fr]=Module externe pour le téléchargement de torrents depuis diverses sources
Comment[gl]=Unha extensión para obter automaticamente torrentes de varias fontes
Comment[it]=Plugin per scaricare automaticamente i torrent da diverse fonti
Comment[ja]=さまざまなソースから自動的に torrent をダウンロードするプラグイン
Comment[lt]=Šis įskiepis automatiškai atsiųs torrent failus iš įvairių šaltinių
Comment[lv]=Spraudnis, kas automātiski lejupielādē torrentus no dažādiem avotiem
Comment[nb]=Laster ned strømmer automatisk fra diverse kilder
Comment[nds]=Moduul, dat automaatsch Torrents vun verscheden Borns daallaadt
Comment[nl]=Plugin voor het automatisch downloaden van torrents uit verschillende bronnen
Comment[pl]=Wtyczka do automatycznego pobierania torrentów z różnych źródeł
Comment[pt]=Um 'plugin' que transfere automaticamente as torrentes de várias fontes
Comment[pt_BR]=Extensão para baixar automaticamente torrents de várias fontes
Comment[sv]=Insticksprogram för att automatiskt ladda ner dataflöden från olika källor
Comment[uk]=Втулок для автоматичного завантаження торентів з декількох джерел
Comment[zh_CN]=自动从多个来源下载种子文件的插件
Comment[zh_TW]=從不同的來源自動下載 torrent 的外掛程式
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktbitfinderplugin
X-KDE-PluginInfo-Author=Alan Jones
X-KDE-PluginInfo-Email=skyphyr@gmail.com
X-KDE-PluginInfo-Name=BitFinderPlugin
X-KDE-PluginInfo-Website=http://ktorrent.org/
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=false
Icon=edit-find
