[Desktop Entry]
Name=BitFinderPlugin
Name[de]=BitFinder
Name[el]=Πρόσθετο BitFinder
Name[es]=Complemento BitFinder
Name[et]=BitFinderi plugin
Name[eu]=BitFinder plugina
Name[hne]=बिटफाइंडरप्लगइन
Name[it]=Plugin BitFinder
Name[lt]=BitFinder įskiepis
Name[lv]=BitFilterSpraudnis
Name[nb]=Bitfinner
Name[nds]=BitFinder-Moduul
Name[pl]=Wtyczka BitFinder
Name[pt]='Plugin' do BitFinder
Name[pt_BR]=Plugin BitFinder
Name[ru]=BitFinder
Name[sr]=Прикључак налазача битоваа
Name[sr@latin]=Priključak nalazača bitovaa
Name[sv]=Insticksprogram för bitsökning
Name[tr]=BitFinder Eklentisi
Name[x-test]=xxBitFinderPluginxx
Name[zh_CN]=节点查询插件
Name[zh_TW]=自動下載 torrent 外掛程式 
Comment=Plugin to automatically downloads torrents from various sources
Comment[ca]=Connector que baixa automàticament els torrents des de vàries fonts
Comment[cs]=Modul pro automatické stahování torrentů z různých zdrojů
Comment[da]=Plugin til automatisk at downloade torrents fra diverse kilder
Comment[de]=Torrents aus verschiedenen Quellen automatisch herunterladen
Comment[el]=Πρόσθετο αυτόματης λήψης torrent από διάφορες πηγές
Comment[en_GB]=Plugin to automatically download torrents from various sources
Comment[es]=Complemento para descargar automáticamente torrents de varias fuentes
Comment[et]=Plugin torrentite automaatseks allalaadimiseks erinevatest allikatest
Comment[eu]=Torrent-ak automatikoki iturburu desberdinetatik jaisteko plugina
Comment[fr]=Module externe pour le téléchargement de torrents depuis diverses sources
Comment[ga]=Breiseán a íosluchtaíonn torrents ó fhoinsí éagsúla
Comment[gl]=Unha extensión para obter automaticamente torrentes de varias fontes
Comment[it]=Plugin per scaricare automaticamente i torrent da diverse fonti
Comment[ja]=さまざまなソースから自動的に torrent をダウンロードします
Comment[km]=កម្មវិធី​ជំនួយ​ដែល​ត្រូវ​ទាញយក torrents ពី​ប្រភព​ផ្សេងៗ​ដោយ​ស្វ័យប្រវត្តិ
Comment[lt]=Šis įskiepis automatiškai atsiųs torrent failus iš įvairių šaltinių
Comment[lv]=Spraudnis, kas automātiski lejupielādē torrentus no dažādiem avotiem
Comment[ms]=Plugin untuk memuatturun secara automatik torrent dari pelbagai sumber
Comment[nb]=Laster ned strømmer automatisk fra diverse kilder
Comment[nds]=Moduul, dat automaatsch Torrents vun verscheden Borns daallaadt
Comment[nl]=Plugin om automatisch torrents te downloaden van verschillende bronnen
Comment[pl]=Wtyczka do automatycznego pobierania torrentów z różnych źródeł
Comment[pt]=Um 'plugin' que transfere automaticamente as torrentes de várias fontes
Comment[pt_BR]=Plugin para baixar automaticamente torrents de várias fontes
Comment[ro]=Modul ce descarcă automat torente din diferite surse
Comment[ru]=Модуль для автоматической загрузки торрентов с различных источников
Comment[sl]=Vstavek za samodejno prenašanje torrentov iz različnih virov
Comment[sr]=Прикључак за аутоматско преузимање торената са различитих извора
Comment[sr@latin]=Priključak za automatsko preuzimanje torenata sa različitih izvora
Comment[sv]=Insticksprogram för att automatiskt ladda ner dataflöden från olika källor
Comment[tr]=Torrentleri çeşitli kaynaklardan otomatik olarak indirmek için bir eklenti
Comment[uk]=Втулок для автоматичного завантаження торентів з декількох джерел
Comment[x-test]=xxPlugin to automatically downloads torrents from various sourcesxx
Comment[zh_CN]=自动从多个来源下载种子文件的插件
Comment[zh_TW]=從不同的來源自動下載 torrent 的外掛程式
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktbitfinderplugin
X-KDE-PluginInfo-Author=Alan Jones
X-KDE-PluginInfo-Email=skyphyr@gmail.com
X-KDE-PluginInfo-Name=BitFinderPlugin
X-KDE-PluginInfo-Website=http://ktorrent.org/
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=false
Icon=edit-find
