[Desktop Entry]
Name=BandwidthSchedulerPlugin
Name[cs]=Modul plánování šířky pásma
Name[de]=Bandbreitenplaner-Modul
Name[el]=Πρόσθετο προγραμματισμού εύρους δικτύου
Name[es]=Complemento de planificación del ancho de banda
Name[et]=Ribalaiuse ajastamise plugin
Name[fr]=Module externe de planification
Name[gl]=Extensión de planificación do ancho de banda
Name[it]=Plugin pianificatore della banda
Name[lt]=Srauto spartos tvarkaraščio įskiepis
Name[nb]=Båndbreddeplanlegger
Name[nds]=Bandbreedplaan-Moduul
Name[nl]=Bandbreedteplannerplugin
Name[pl]=Wtyczka planowanie transferu
Name[pt_BR]=Plug-in Agendamento de Banda
Name[ru]=Планирование загрузки канала
Name[sv]=Insticksprogram för schemaläggning av bandbredd
Name[tr]=Ağ Kullanımı Zamanlayıcı Eklentisi
Name[x-test]=xxBandwidthSchedulerPluginxx
Name[zh_CN]=带宽调度插件
Name[zh_TW]=頻寬排程外掛程式
Comment=Plugin to schedule upload and download limits over a period of a week
Comment[bg]=Приставка за разчет на качването у свалянето през седмицата
Comment[ca]=Connector per a planificar els límits de pujada i baixada durant un període setmanal
Comment[cs]=Modul pro naplánování odesílacích a stahovacích limitů během týdne
Comment[da]=Plugin til at skemalægge upload- og downloadgrænser over en periode på en uge
Comment[de]=Modul zum Planen von Verteilungs- und Downloadbegrenzungen über den Zeitraum von einer Woche
Comment[el]=Πρόσθετο για τον προγραμματισμό των ορίων αποστολής και λήψης για περίοδο μιας εβδομάδας
Comment[es]=Complemento para planificar los límites de envío y descarga durante un periodo de una semana
Comment[et]=Plugin üles- ja allalaadimise piirangute ajastamiseks terve nädala peale
Comment[fr]=Module externe pour gérer les limites de téléchargement par plage horaire
Comment[ga]=Breiseán a sceidealann teorainneacha uasluchtaithe/íosluchtaithe le linn tréimhse seachtaine
Comment[gl]=Extensión para planificar os límites de envío e obtención nun período semanal
Comment[it]=Plugin per pianificare i limiti di invio e scaricamento a livello settimanale
Comment[ja]=1 週間のアップロードとダウンロード帯域幅の制限を設定するプラグイン
Comment[km]=កម្មវិធី​ជំនួយ​ដែល​ត្រូវ​កំណត់ពេល​ការ​ផ្ទុក​ឡើង និង​ចំនួន​កំណត់​នៃការ​ទាញយក​​លើ​កំឡុងពេល​នៃ​សប្ដាហ៍
Comment[lt]=Šis įskiepis valdo atsiuntimo ir išsiuntimo spartą pagal savaitės tvarkaraštį
Comment[lv]=Šis spraudnis ļauj saplānot augšupielādes un lejupielādes ātruma ierobežojumus pa nedēļas dienām
Comment[nb]=Gjør det mulig å sette fartsgrenser for opplasting og nedlasting for ulike tider av uken
Comment[nds]=Moduul, mit dat sik Grenzen för't Hooch- un Daalladen över en Week planen laat
Comment[nl]=Plugin voor het plannen van upload- en downloadlimieten over een periode van een week
Comment[pl]=Wtyczka umożliwająca tygodniowe planowanie szybkości wysyłania i pobierania plików
Comment[pt]=Um 'plugin' para agendar os limites de envio e recepção durante o período de uma semana
Comment[pt_BR]=Extensão para agendar os limites de download e upload no período de uma semana
Comment[ru]=Позволяет устанавливать разные скоростные ограничения в разное время дня/недели
Comment[sl]=Vstavek za razporejanje omejitev prenosov tokom tedna
Comment[sv]=Insticksprogram för att schemalägga uppladdnings- och nerladdningsgränser under en veckoperiod
Comment[tr]=Yükleme ve indirme limitlerini ayarlamak için eklenti
Comment[uk]=Втулок для складання розкладу обмежень на завантаження на тиждень
Comment[x-test]=xxPlugin to schedule upload and download limits over a period of a weekxx
Comment[zh_CN]=按周期调度上传和下载限制的插件
Comment[zh_TW]=排程一週以上的上傳與下載限制的外掛程式
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktbwschedulerplugin
X-KDE-PluginInfo-Author=Joris Guisson, Ivan Vasic
X-KDE-PluginInfo-Email=joris.guisson@gmail.com, ivasic@gmail.com
X-KDE-PluginInfo-Name=BandwidthSchedulerPlugin
X-KDE-PluginInfo-Website=http://ktorrent.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=kt-bandwidth-scheduler
