[Desktop Entry]
Name=Bandwidth Scheduler
Name[de]=Bandbreitenplaner
Name[el]=Προγραμματιστής εύρους δικτύου
Name[es]=Planificador del ancho de banda
Name[et]=Ribalaiuse ajastamine
Name[fr]=Gestionnaire de bande passante
Name[ga]=Sceidealóir Bandaleithid
Name[ja]=帯域幅スケジューラ
Name[nds]=Bandbreedplaner
Name[nl]=Bandbreedteplanner
Name[pt]=Calendarização da Largura de Banda
Name[pt_BR]=Agendador de Banda
Name[ro]=Programare lățime de bandă
Name[ru]=Расписание загрузок
Name[sr]=Распоређивач протока
Name[sr@latin]=Raspoređivač protoka
Name[sv]=Schemaläggning av bandbredd
Name[tr]=Bantgenişliği Zamanlayıcısı
Name[uk]=Планування пропускної здатності
Name[x-test]=xxBandwidth Schedulerxx
Name[zh_CN]=带宽调度
Name[zh_TW]=頻寬排程
Comment=Schedule upload and download limits over a period of a week
Comment[de]=Upload- und Downloadbegrenzungen über den Zeitraum von einer Woche planen
Comment[el]=Προγραμματισμός των ορίων αποστολής και λήψης για περίοδο μιας εβδομάδας
Comment[es]=Planifique los límites de envío y descarga durante un periodo de una semana
Comment[et]=Üles- ja allalaadimise piirangute ajastamine terve nädala peale
Comment[fr]=Planifie des limites d'émission et de téléchargement sur une période d'une semaine
Comment[ga]=Sceideal teorainneacha uasluchtaithe/íosluchtaithe le linn tréimhse seachtaine
Comment[ja]=1 週間のアップロードとダウンロード帯域幅の制限を設定します
Comment[nds]=Grenzen för't Hooch- un Daalladen över en Week planen
Comment[nl]=Plannen van upload- en downloadlimieten over een periode van een week
Comment[pt]=Um 'plugin' para agendar os limites de envio e recepção durante o período de uma semana
Comment[pt_BR]=Agenda os limites de download e envio, no período de uma semana
Comment[ro]=Planifică limitele de încărcare și descărcare pe perioada unei săptămîni
Comment[ru]=Позволяет устанавливать разные скоростные ограничения в разное время дня/недели
Comment[sr]=Распоредите ограничења слања и преузимања током седмице
Comment[sr@latin]=Rasporedite ograničenja slanja i preuzimanja tokom sedmice
Comment[sv]=Schemalägg uppladdnings- och nerladdningsgränser under en veckoperiod
Comment[tr]=Bir hataflık periyodlarla gönderme ve indirme sınırlarını zamanla
Comment[uk]=Додаток для складання розкладу обмежень на завантаження на тиждень
Comment[x-test]=xxSchedule upload and download limits over a period of a weekxx
Comment[zh_CN]=按周期调度上传和下载限制
Comment[zh_TW]=排程一週以上的上傳與下載限制
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktbwschedulerplugin
X-KDE-PluginInfo-Author=Joris Guisson, Ivan Vasic
X-KDE-PluginInfo-Email=joris.guisson@gmail.com, ivasic@gmail.com
X-KDE-PluginInfo-Name=BandwidthSchedulerPlugin
X-KDE-PluginInfo-Website=http://ktorrent.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=kt-bandwidth-scheduler
