[Desktop Entry]
Name=Scheduler
Name[bg]=Разписание
Name[bs]=Raspoređivač
Name[ca]=Planificador
Name[ca@valencia]=Planificador
Name[cs]=Plánovač
Name[da]=Skemalægning
Name[de]=Bandbreitenplaner
Name[el]=Χρονοπρογραμματιστής
Name[en_GB]=Scheduler
Name[es]=Planificador
Name[et]=Ajastaja
Name[fi]=Ajastin
Name[fr]=Planificateur
Name[ga]=Sceidealóir
Name[gl]=Planificador
Name[hu]=Ütemező
Name[ia]=Planificator
Name[it]=Pianificatore
Name[kk]=Жоспарлағыш
Name[km]=កម្មវិធី​រៀបចំ​ពេលវេលា
Name[ko]=스케줄러
Name[lt]=Planuotojas
Name[mr]=नियोजक
Name[nb]=Tidsplanlegger
Name[nds]=Planer
Name[nl]=Planner
Name[pl]=Planista
Name[pt]=Escalonador
Name[pt_BR]=Agendador
Name[ro]=Programare
Name[ru]=Расписание загрузок
Name[si]=කාලසටහන්කරු
Name[sk]=Plánovač
Name[sl]=Razporejevalnik
Name[sr]=Распоређивач
Name[sr@ijekavian]=Распоређивач
Name[sr@ijekavianlatin]=Raspoređivač
Name[sr@latin]=Raspoređivač
Name[sv]=Schemaläggning
Name[tr]=Zamanlayıcı
Name[ug]=پىلانچى
Name[uk]=Планування
Name[x-test]=xxSchedulerxx
Name[zh_CN]=调度器
Name[zh_TW]=排程器
Comment=Schedule upload and download limits over a period of a week
Comment[bg]=Приставка за разчет на качването и свалянето през седмицата
Comment[bs]=Rasporedite ograničenja slanja i preuzimanja tokom sedmice
Comment[ca]=Planifica els límits de pujada i baixada durant un període setmanal
Comment[ca@valencia]=Planifica els límits de pujada i baixada durant un període setmanal
Comment[cs]=Naplánování odesílacích a stahovacích limitů během týdne
Comment[da]=Skemalæg up- og downloadgrænser over en periode på en uge
Comment[de]=Upload- und Downloadbegrenzungen über den Zeitraum von einer Woche planen
Comment[el]=Προγραμματισμός των ορίων αποστολής και λήψης για περίοδο μιας εβδομάδας
Comment[en_GB]=Schedule upload and download limits over a period of a week
Comment[es]=Planifique los límites de envío y descarga durante un periodo de una semana
Comment[et]=Üles- ja allalaadimise piirangute ajastamine terve nädala peale
Comment[fi]=Ajasta viikoittaiset lähetys- ja latausrajoitukset
Comment[fr]=Planifie les limites des envois et des téléchargement sur une période d'une semaine
Comment[ga]=Sceideal teorainneacha uasluchtaithe/íosluchtaithe le linn tréimhse seachtaine
Comment[gl]=Planificar os límites de envío e descarga dun período semanal.
Comment[hu]=Feltöltési és letöltési korlátok ütemezése egyhetes időszakra
Comment[is]=Gerðu áætlun um niðurhal og sendingamörk yfir vikutíma
Comment[it]=Pianifica i limiti di invio e scaricamento a livello settimanale
Comment[ja]=1 週間のアップロードとダウンロード帯域幅の制限を設定します
Comment[kk]=Бір апта мерзімге жүктеп алу мен беру шектерін жоспарлау
Comment[km]=តារាង​ពេលវេលា​ផ្ទុក​ឡើង និង​ទាញ​យក កំណត់​​អំឡុង​ពេល​ក្នុង​មួយ​សប្ដាហ៍
Comment[ko]=매 주의 특정 시간마다 업로드와 다운로드 제한 예약
Comment[lt]=Planuoti išsiuntimo ir atsiuntimo ribojimus per savaitės laikotarpį
Comment[lv]=Plāno augšupielādes un lejupielādes ātruma ierobežojumus pa nedēļas dienām
Comment[nb]=Gjør det mulig å sette fartsgrenser for opplasting og nedlasting for ulike tider av uka
Comment[nds]=Grenzen för't Hooch- un Daalladen över en Week planen
Comment[nl]=Plannen van upload- en download-limieten over een periode van een week
Comment[nn]=Planlegg opplastings- og nedlastingsgrenser i periodar på ei veke
Comment[pl]=Tygodniowe planowanie szybkości wysyłania i pobierania plików
Comment[pt]=Um 'plugin' para agendar os limites de envio e recepção durante o período de uma semana
Comment[pt_BR]=Agenda os limites de download e envio, no período de uma semana
Comment[ro]=Planifică limitele de încărcare și descărcare pe perioada unei săptămîni
Comment[ru]=Позволяет устанавливать разные скоростные ограничения в разное время дня/недели
Comment[si]=සතියක කාලයක් තුල බාගැනීම් හා අපගත සීමා කාලසටහන්ගත කරන්න
Comment[sk]=Naplánovať limity odosielania a sťahovania počas obdobia týždňa
Comment[sl]=Razporejanje omejitev hitrosti prenosov tekom tedna
Comment[sr]=Распоредите ограничења отпремања и преузимања током седмице
Comment[sr@ijekavian]=Распоредите ограничења отпремања и преузимања током седмице
Comment[sr@ijekavianlatin]=Rasporedite ograničenja otpremanja i preuzimanja tokom sedmice
Comment[sr@latin]=Rasporedite ograničenja otpremanja i preuzimanja tokom sedmice
Comment[sv]=Schemalägg uppladdnings- och nerladdningsgränser under en veckoperiod
Comment[tr]=Bir hataflık periyodlarla gönderme ve indirme sınırlarını zamanla
Comment[uk]=Додаток для складання розкладу обмежень на отримання на тиждень
Comment[x-test]=xxSchedule upload and download limits over a period of a weekxx
Comment[zh_CN]=调度一周内的上传和下载限制
Comment[zh_TW]=排程一週以上的上傳與下載限制
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktbwschedulerplugin
X-KDE-PluginInfo-Author=Joris Guisson, Ivan Vasic
X-KDE-PluginInfo-Email=joris.guisson@gmail.com, ivasic@gmail.com
X-KDE-PluginInfo-Name=BandwidthSchedulerPlugin
X-KDE-PluginInfo-Website=http://kde.org/applications/internet/ktorrent/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=kt-bandwidth-scheduler
