[Desktop Entry]
Name=Web Interface
Comment=Allows control of KTorrent via a web interface
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktwebinterfaceplugin
X-KDE-PluginInfo-Author=Diego R. Brogna
X-KDE-PluginInfo-Email=dierbro@gmail.com
X-KDE-PluginInfo-Name=WebInterfacePlugin
X-KDE-PluginInfo-Website=http://ktorrent.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=network-server
