[Desktop Entry]
Name=WebInterface
Name[cs]=Webové rozhraní
Name[de]=Web-Schnittstelle
Name[es]=Interfaz web
Name[et]=Veebiliides
Name[fr]=Interface web
Name[gl]=Inteface Web
Name[hne]=वेबइंटरफेस
Name[it]=Interfaccia Web
Name[ja]=ウェブインターフェース
Name[lt]=Naršyklės sąsaja
Name[lv]=TīmekļaSaskarne
Name[nb]=Nettgrensesnitt
Name[nds]=Nettkoppelsteed
Name[nl]=Webinterface
Name[pl]=Interfejs WWW
Name[pt]=Interface Web
Name[pt_BR]=Interface Web
Name[ro]=InterfațăWeb
Name[ru]=Веб-интерфейс
Name[sr]=Веб сучеље
Name[sr@latin]=Veb sučelje
Name[sv]=Webbgränssnitt
Name[x-test]=xxWebInterfacexx
Name[zh_CN]=Web 界面
Name[zh_TW]=網路介面
Comment=Plugin to control KTorrent via a webinterface
Comment[bg]=Приставка за контролиране на KTorrent през уеб-интерфейс
Comment[ca]=Connector per a controlar el KTorrent via una interfície web
Comment[cs]=Modul pro ovládání ktorrentu přes webové rozhraní
Comment[da]=Plugin til at styre KTorrent via en webgrænseflade
Comment[de]=Ermöglicht die Kontrolle von KTorrent über eine Web-Schnittstelle
Comment[el]=Πρόσθετο που επιτρέπει τον έλεγχο του KTorrent μέσω ιστοσελίδας
Comment[es]=Un complemento para controlar KTorrent por medio de una interfaz web
Comment[et]=Plugin KTorrenti juhtimiseks veebiliidese kaudu
Comment[fr]=Module externe pour contrôler KTorrent grâce à une interface web
Comment[ga]=Breiseán lenar féidir KTorrent a rialú trí chomhéadan Gréasáin
Comment[gl]=Extensión para controlas KTorrent mediante unha interface web
Comment[it]=Plugin per controllare KTorrent via interfaccia web
Comment[ja]=KTorrent をウェブインターフェースから制御できるようにします
Comment[km]=កម្មវិធី​ជំនួយ​ដែល​ត្រូវ​ត្រួតពិនិត្យ KTorrent តាមរយៈ webinterface
Comment[lt]=Šis įskiepis leidžia valdyti KTorrent per naršyklę
Comment[lv]=Šis spraudnis ļauj kontrolēt KTorrent no tīmekļa pārlūka
Comment[nb]=Kontroller KTorrent via en nettleser
Comment[nds]=Moduul, mit dat KTorrent sik över en Nettkieker stüern lett
Comment[nl]=Plugin voor het bedienen van KTorrent via een webinterface
Comment[pl]=Wtyczka do zarządzania programem KTorrent przy użyciu interfejsu WWW
Comment[pt]=Um 'plugin' para controlar o KTorrent com uma interface Web
Comment[pt_BR]=Extensão para controlar o KTorrent via uma interface web
Comment[ro]=Modul pentru controlul KTorrent printr-o interfață web
Comment[ru]=Работа с KTorrent через веб-интерфейс
Comment[sl]=Vstavek za nadzor KTorrenta prek spletnega vmesnika
Comment[sr]=Прикључак којим се управља К‑торентом путем веб сучеља
Comment[sr@latin]=Priključak kojim se upravlja KTorrentom putem veb sučelja
Comment[sv]=Insticksprogram för att styra Ktorrent via ett webbgränssnitt
Comment[uk]=Додаток для керування KTorrent за допомогою мережевого інтерфейсу
Comment[x-test]=xxPlugin to control KTorrent via a webinterfacexx
Comment[zh_CN]=供您通过 Web 界面控制 KTorrent 的插件
Comment[zh_TW]=透過網路介面控制 KTorrent 的外掛程式
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktwebinterfaceplugin
X-KDE-PluginInfo-Author=Diego R. Brogna
X-KDE-PluginInfo-Email=dierbro@gmail.com
X-KDE-PluginInfo-Name=WebInterfacePlugin
X-KDE-PluginInfo-Website=http://ktorrent.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=network-server
