[Desktop Entry]
Name=Download Order
Name[de]=Download-Reihenfolge
Name[el]=Σειρά λήψης
Name[es]=Orden de descarga
Name[et]=Allalaadimise järjekord
Name[fr]=Ordre de téléchargement
Name[ga]=Ord Íosluchtaithe
Name[ja]=ダウンロード順序
Name[km]=លំដាប់​ទាញយក
Name[nds]=Daallaadreeg
Name[nl]=Bestandsdownload-volgorde
Name[pt]=Ordem de Transferência
Name[pt_BR]=Ordem dos Downloads
Name[ro]=Ordinea descărcării
Name[ru]=Порядок загрузки
Name[sl]=Vrstni red prejemanja
Name[sr]=Редослед преузимања
Name[sr@latin]=Redosled preuzimanja
Name[sv]=Nerladdningsordning
Name[tr]=İndirme Sırası
Name[uk]=Порядок звантаження
Name[x-test]=xxDownload Orderxx
Name[zh_CN]=下载顺序
Name[zh_TW]=下載順序
Comment=Specify the download order of a multi-file torrent
Comment[de]=Download-Reihenfolge bei Torrents, die aus mehreren Dateien bestehen, festlegen
Comment[el]=Καθορισμός της σειράς λήψης ενός torrent  πολλαπλών αρχείων
Comment[es]=Indique el orden de descarga de un torrent de varios archivos
Comment[et]=Mitmest failist koosneva torrenti failide allalaadimine kasutaja määratud järjekorras
Comment[fr]=Spécifie l'ordre de téléchargement d'un torrent mutifichier
Comment[ga]=Sonraigh ord íosluchtaithe do thorrent il-chomhad
Comment[ja]=マルチファイル torrent のファイルのダウンロード順序を指定します
Comment[km]=បញ្ជាក់​លំដាប់​ទាញយក​របស់ torrent ទាញយក​ឯកសារ​ច្រើន
Comment[nds]=Daallaadreeg bi en Mehrdateien-Torrent fastleggen
Comment[nl]=Specificeer de volgorde voor het downloaden van een multi-bestands-torrent
Comment[pt]=Um 'plugin' para indicar a ordem de transferência de uma torrente multi-ficheiros para o KTorrent
Comment[pt_BR]=Especificar a ordem de download de um torrent com múltiplos arquivos
Comment[ro]=Specifică ordinea de descărcare a unui torent multifișier
Comment[ru]=Модуль для определения порядка загрузки, если торрент содержит несколько файлов.
Comment[sl]=Določanje vrstnega reda prenosov za torrente z več datotekami
Comment[sr]=Одредите редослед преузимања фајлова унутар торента
Comment[sr@latin]=Odredite redosled preuzimanja fajlova unutar torenta
Comment[sv]=Ange nerladdningsordningen för ett dataflöde med flera filer
Comment[tr]=Birden fazla dosyaya sahip bir torrentin indirme sırasını belirler
Comment[uk]=Додаток для визначення порядку звантаження багатофайлового торента
Comment[x-test]=xxSpecify the download order of a multi-file torrentxx
Comment[zh_CN]=为 KTorrent 指定多个种子下载顺序
Comment[zh_TW]=在多檔案的 torrent 中指定下載順序
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktdownloadorderplugin
X-KDE-PluginInfo-Author=Joris Guisson
X-KDE-PluginInfo-Email=joris.guisson@gmail.com
X-KDE-PluginInfo-Name=DownloadOrderPlugin
X-KDE-PluginInfo-Website=http://ktorrent.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Icon=view-sort-ascending
