[Desktop Entry]
Name=Download Order
Name[ga]=Ord Íosluchtaithe
Name[nds]=Daallaadreeg
Name[nl]=Bestandsdownload-volgorde
Name[uk]=Порядок звантаження
Comment=Specify the download order of a multi-file torrent
Comment[nds]=Daallaadreeg bi en Mehrdateien-Torrent fastleggen
Comment[nl]=Geef een voorkeur op in welke volgorde de bestanden in een multi-bestands-torrent gedownload dienen te worden
Comment[uk]=Додаток для визначення порядку звантаження багатофайлового торента
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktdownloadorderplugin
X-KDE-PluginInfo-Author=Joris Guisson
X-KDE-PluginInfo-Email=joris.guisson@gmail.com
X-KDE-PluginInfo-Name=DownloadOrderPlugin
X-KDE-PluginInfo-Website=http://ktorrent.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Icon=view-sort-ascending
