<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui library="libktorrent_downloadorder" name="downloadorderplugin" version="1">
	<Menu name="ViewMenu">
		<Action name="download_order"/>
	</Menu>
</kpartgui>