[Desktop Entry]
Name=Download Order
Name[ar]=ترتيب التّنزيل
Name[ast]=Orde de descarga
Name[bg]=Ред на изтегляне
Name[bs]=Redoslijed preuzimanja
Name[ca]=Ordre de baixada
Name[ca@valencia]=Ordre de baixada
Name[cs]=Pořadí stahování
Name[da]=Downloadrækkefølge
Name[de]=Download-Reihenfolge
Name[el]=Σειρά λήψης
Name[en_GB]=Download Order
Name[es]=Orden de descarga
Name[et]=Allalaadimise järjekord
Name[fi]=Latausjärjestys
Name[fr]=Ordre de téléchargement
Name[ga]=Ord Íosluchtaithe
Name[gl]=Orde de descarga
Name[hu]=Letöltési sorrend
Name[is]=Uppröðun niðurhals
Name[it]=Ordine di scaricamento
Name[ja]=ダウンロード順序
Name[kk]=Жүктеп алу реті
Name[km]=លំដាប់​ទាញយក
Name[ko]=다운로드 순서
Name[lt]=Atsiuntimo tvarka
Name[lv]=Lejupielādes kārtība
Name[mr]=डाउनलोड क्रम
Name[nb]=Nedlastingsrekkefølge
Name[nds]=Daallaadreeg
Name[nl]=Bestandsdownload-volgorde
Name[nn]=Nedlastingsrekkjefølgje
Name[pl]=Kolejność pobierania
Name[pt]=Ordem de Transferência
Name[pt_BR]=Ordem de download
Name[ro]=Ordinea descărcării
Name[ru]=Порядок загрузки
Name[si]=බාගැනීම් පෙළගැස්ම
Name[sk]=Poradie sťahovania
Name[sl]=Vrstni red prejemanja
Name[sq]=Rendi i Shkarkimit
Name[sr]=Редослед преузимања
Name[sr@ijekavian]=Редослијед преузимања
Name[sr@ijekavianlatin]=Redoslijed preuzimanja
Name[sr@latin]=Redosled preuzimanja
Name[sv]=Nerladdningsordning
Name[tr]=İndirme Sırası
Name[uk]=Порядок отримання
Name[x-test]=xxDownload Orderxx
Name[zh_CN]=下载顺序
Name[zh_TW]=下載順序
Comment=Specify the download order of a multi-file torrent
Comment[ar]=حدّد ترتيب التّنزيل لسيل فيه عدّة ملفّات
Comment[bs]=Specificirajte redoslijed preuzimanja višedatotečnog torenta
Comment[ca]=Especifica l'ordre de baixada d'un torrent amb múltiples fitxers
Comment[ca@valencia]=Especifica l'ordre de baixada d'un torrent amb múltiples fitxers
Comment[cs]=Zvolení pořadí stahovaných souborů u torrentů obsahujících více souborů
Comment[da]=Angiv downloadrækkefølge for en torrent med flere filer
Comment[de]=Download-Reihenfolge bei Torrents festlegen, die aus mehreren Dateien bestehen
Comment[el]=Καθορισμός της σειράς λήψης ενός torrent  πολλαπλών αρχείων
Comment[en_GB]=Specify the download order of a multi-file torrent
Comment[es]=Indique el orden de descarga de un torrent de varios archivos
Comment[et]=Mitmest failist koosneva torrenti failide allalaadimine kasutaja määratud järjekorras
Comment[fi]=Määritä torrentin tiedostojen latausjärjestys
Comment[fr]=Spécifie l'ordre de téléchargement d'un torrent multi-fichiers
Comment[ga]=Sonraigh ord íosluchtaithe do thorrent il-chomhad
Comment[gl]=Indicar a orde de descarga dos ficheiros dun torrente.
Comment[hu]=Többfájlos torrentek letöltési sorrendjének megadása
Comment[is]=Tilgreindu í hvaða röð margskráa straumi er halað inn
Comment[it]=Specifica l'ordine di scaricamento di un torrent multi-file
Comment[ja]=マルチファイル torrent のファイルのダウンロード順序を指定します
Comment[kk]=Көп-файлды торрент ретін келтіру
Comment[km]=បញ្ជាក់​លំដាប់​ទាញ​យក​របស់ torrent ទាញ​យក​ឯកសារ​ច្រើន
Comment[ko]=여러 파일이 있는 토렌트의 다운로드 순서 결정
Comment[lt]=Nustatyti atsiuntimo tvarką iš torrent multi-failo 
Comment[lv]=Norāda failu lejupielādes kārtību torrentā
Comment[nb]=Velg hvilke filer som skal lastes ned først i strømmer med flere filer
Comment[nds]=Daallaadreeg bi en Mehrdateien-Torrent fastleggen
Comment[nl]=Specificeer de volgorde voor het downloaden van een multi-bestands-torrent
Comment[nn]=Oppgje nedlastingsrekkjefølgja i ein torrent som inneheld fleire filer
Comment[pl]=Ustalanie kolejności pobierania plików w torrentach wieloplikowych
Comment[pt]=Um 'plugin' para indicar a ordem de transferência de uma torrente multi-ficheiros para o KTorrent
Comment[pt_BR]=Especifica a ordem de download de um torrent com vários arquivos
Comment[ro]=Specifică ordinea de descărcare a unui torent multifișier
Comment[ru]=Модуль для определения порядка загрузки, если торрент содержит несколько файлов.
Comment[si]=බහු-ගොනු ටොරෙන්ටයක බාගැනීම් පෙළගැස්ම නිවේශනය කරන්න
Comment[sk]=Určiť poradie sťahovanie viacsúborových torrentov
Comment[sl]=Določanje vrstnega reda prejemov za torrente z več datotekami
Comment[sr]=Одредите редослед преузимања фајлова унутар торента
Comment[sr@ijekavian]=Одредите редослијед преузимања фајлова унутар торента
Comment[sr@ijekavianlatin]=Odredite redoslijed preuzimanja fajlova unutar torenta
Comment[sr@latin]=Odredite redosled preuzimanja fajlova unutar torenta
Comment[sv]=Ange nerladdningsordningen för ett dataflöde med flera filer
Comment[tr]=Birden fazla dosyaya sahip bir torrentin indirme sırasını belirler
Comment[uk]=Додаток для визначення порядку отримання багатофайлового торента
Comment[x-test]=xxSpecify the download order of a multi-file torrentxx
Comment[zh_CN]=指定多文件种子的下载顺序
Comment[zh_TW]=在多檔案的 torrent 中指定下載順序
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktdownloadorderplugin
X-KDE-PluginInfo-Author=Joris Guisson
X-KDE-PluginInfo-Email=joris.guisson@gmail.com
X-KDE-PluginInfo-Name=DownloadOrderPlugin
X-KDE-PluginInfo-Website=http://kde.org/applications/internet/ktorrent/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=view-sort-ascending
