[Desktop Entry]
Type=Service
Name=Statistics
Name[bg]=Статистики
Name[de]=Statistiken
Name[el]=Στατιστικά
Name[en_GB]=Statistics
Name[es]=Estadísticas
Name[et]=Statistika
Name[fr]=Statistiques
Name[ga]=Staitisticí
Name[gl]=Estatísticas
Name[ja]=統計
Name[km]=ស្ថិតិ
Name[nb]=Statistikk
Name[nds]=Statistik
Name[nl]=Statistieken
Name[nn]=Statistikk
Name[pl]=Statystyki
Name[pt]=Estatísticas
Name[pt_BR]=Estatísticas
Name[ro]=Statistici
Name[ru]=Статистика
Name[sr]=Статистика
Name[sv]=Statistik
Name[tr]=İstatistik
Name[uk]=Статистика
Name[zh_CN]=统计
Name[zh_TW]=統計
Comment=Shows statistics about torrents in several graphs
Comment[bg]=Показване на статистика на торентите в няколко графики
Comment[de]=Zeigt Statistiken über Torrents in mehreren Diagrammen
Comment[el]=Εμφάνιση στατιστικών σχετικά με τα torrent σε διάφορα γραφήματα
Comment[en_GB]=Shows statistics about torrents in several graphs
Comment[es]=Muestra estadísticas sobre torrents en varias gráficas
Comment[et]=Torrentite statistika kuvamine mitme graafikuna
Comment[fr]=Affiche des statistiques sur les torrents dans plusieurs graphiques
Comment[ga]=Breiseán a thaispeánann staitisticí maidir le torrents i ngraif
Comment[gl]=Mostra estatísticas acerca de torrentes en varios gráficos
Comment[ja]=torrent に関する統計を複数のグラフに表示します
Comment[km]=បង្ហាញ​ស្ថិតិ​អំពី torrent ជា​ក្រាហ្វ​ច្រើន
Comment[nb]=Viser statistikk om strømmene i flere grafer
Comment[nds]=Statistiken över Torrents binnen Diagrammen wiesen
Comment[nl]=Geeft statistieken weer over torrents in verschillende grafieken
Comment[nn]=Viser statistikk om torrentar i fleire ulike diagram
Comment[pl]=Pokazuje statystyki torrentów w postaci szeregu wykresów
Comment[pt]=Mostra as estatísticas das torrentes em vários gráficos
Comment[pt_BR]=Exibe estatísticas sobre os torrents, em diversos gráficos
Comment[ro]=Afișează statistici despre torente în diverse grafice
Comment[ru]=Генерирует графики, отображающие разные данные о работе программы
Comment[sr]=Приказује статистику о торентима у неколико графикона
Comment[sv]=Visa statistik om dataflöden i flera diagram
Comment[tr]=Çeşitli grafiklerde torrentlerle ilgili istatistikleri gösterir
Comment[uk]=Показує статистику торентів за допомогою декількох графіків
Comment[zh_CN]=以图表形式显示种子状态
Comment[zh_TW]=以不同的圖形顯示關於 Torrent 的統計
ServiceTypes=KTorrent/Plugin
X-KDE-Library=ktstatsplugin
X-KDE-PluginInfo-Author=Krzysztof Kundzicz
X-KDE-PluginInfo-Email=athantor@gmail.com
X-KDE-PluginInfo-Name=StatsPlugin
X-KDE-PluginInfo-Website=http://ktorrent.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=view-statistics
