[Desktop Entry]
Type=Service
Name=Statistics
Name[de]=Statistiken
Name[es]=Estadísticas
Name[ga]=Staitisticí
Name[ja]=統計
Name[nds]=Statistik
Name[nl]=Statistieken
Name[pt]=Estatísticas
Name[pt_BR]=Estatísticas
Name[sr]=Статистика
Name[sr@latin]=Statistika
Name[sv]=Statistik
Name[uk]=Статистика
Name[x-test]=xxStatisticsxx
Name[zh_CN]=统计
Comment=Shows statistics about torrents in several graphs
Comment[de]=Zeigt Statistiken über Torrents in mehreren Diagrammen
Comment[es]=Muestra estadísticas sobre torrents en varias gráficas
Comment[ga]=Breiseán a thaispeánann staitisticí maidir le torrents i ngraif
Comment[ja]=torrent に関する統計を複数のグラフに表示します
Comment[nds]=Statistiken över Torrents binnen Diagrammen wiesen
Comment[nl]=Geef statistieken weer over torrents, verdeeld over verschillende grafieken
Comment[pt]=Mostra as estatísticas das torrentes em vários gráficos
Comment[pt_BR]=Mostra as estatísticas das torrentes em vários gráficos
Comment[sr]=Приказује статистику о торентима у неколико графикона
Comment[sr@latin]=Prikazuje statistiku o torentima u nekoliko grafikona
Comment[sv]=Visa statistik om dataflöden i flera diagram
Comment[uk]=Показує статистику торентів за допомогою декількох графіків
Comment[x-test]=xxShows statistics about torrents in several graphsxx
Comment[zh_CN]=以图表形式显示种子状态
ServiceTypes=KTorrent/Plugin
X-KDE-Library=ktstatsplugin
X-KDE-PluginInfo-Author=Krzysztof Kundzicz
X-KDE-PluginInfo-Email=athantor@gmail.com
X-KDE-PluginInfo-Name=StatsPlugin
X-KDE-PluginInfo-Website=http://ktorrent.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=view-statistics
