[Desktop Entry]
Encoding=UTF-8
Name=KTorrent
GenericName=BitTorrent Client
Exec=ktorrent %i %m -caption "%c" %u
Icon=ktorrent
Type=Application
DocPath=ktorrent/index.html
MimeType=application/x-bittorrent;application/x-torrent
X-DCOP-ServiceType=Unique
Comment=A BitTorrent program for KDE
Terminal=false
Categories=Qt;KDE;Network;FileTransfer;
