[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KTorrent/Plugin
Name=KTorrent Plugin
Name[br]=Lugent KTorrent
Name[ga]=Breiseán KTorrent
Name[pt]='Plugin' do KTorrent
Name[pt_BR]='Plugin' do KTorrent
Name[sv]=Ktorrent-insticksprogram
