[Desktop Entry]
Encoding=UTF-8
Name=KTorrent
Name[sv]=Ktorrent
Name[xx]=xxKTorrentxx
GenericName=BitTorrent Client
GenericName[ar]=زبون BitTorrent
GenericName[bg]=Бит Торент клиент
GenericName[br]=Kliant BitTorrent
GenericName[ca]=Client de BitTorrent
GenericName[cs]=BitTorrent klient
GenericName[da]=BitTorrent klient
GenericName[de]=BitTorrent-Programm
GenericName[el]=Πελάτης BitTorrent
GenericName[es]=Cliente de BitTorrent
GenericName[et]=BitTorrenti klient
GenericName[fa]=کارخواه BitTorrent
GenericName[fr]=Client BitTorrent
GenericName[gl]=Cliente BitTorrent
GenericName[it]=Client BitTorrent
GenericName[ja]=BitTorrent クライアント
GenericName[ka]=BitTorrent-ის კლიენტი
GenericName[lt]=BitTorrent klientas
GenericName[ms]=Klien BitTorrent
GenericName[nb]=BitTorrent-klient
GenericName[nds]=Bittorrent-Programm
GenericName[nl]=BitTorrent-cliënt
GenericName[pa]=BitTorrent ਕਲਾਂਇਟ
GenericName[pl]=Klient BitTorrenta
GenericName[pt]=Cliente de BitTorrent
GenericName[pt_BR]=Cliente BitTorrent
GenericName[ru]=Клиент BitTorrent
GenericName[sk]=BitTorrent Klient
GenericName[sr]=BitTorrent клијент
GenericName[sr@Latn]=BitTorrent klijent
GenericName[sv]=BitTorrent-klient
GenericName[tr]=BitTorrent İstemcisi
GenericName[uk]=Клієнт BitTorrent
GenericName[xx]=xxBitTorrent Clientxx
GenericName[zh_CN]=BitTorrent 客户端
GenericName[zh_TW]=BitTorrent 客戶端程式
Exec=ktorrent %i %m -caption "%c" %u
Icon=ktorrent
Type=Application
DocPath=ktorrent/index.html
MimeType=application/x-bittorrent;application/x-torrent;
X-DCOP-ServiceType=Unique
Comment=A BitTorrent program for KDE
Comment[ar]=برنامِج BitTorrent لِــ KDE
Comment[bg]=Бит Торент клиент за KDE
Comment[br]=Ur programm BitTorrent evit KDE
Comment[ca]=Un programa de BitTorrent per KDE
Comment[cs]=BitTorrent pro KDE
Comment[da]=Et BitTorrent program for KDE
Comment[de]=Ein BitTorrent-Programm für KDE
Comment[el]=Μία εφαρμογή BitTorrent για το KDE
Comment[es]=Un programa de BitTorrent para KDE
Comment[et]=KDE BitTorrenti rakendus
Comment[fa]=یک برنامۀ BitTorrent برای KDE
Comment[fr]=Un programme BitTorrent pour KDE
Comment[gl]=Programa de BitTorrent para KDE
Comment[it]=Un programma BitTorrent per KDE
Comment[ja]=KDE のための BitTorrent プログラム
Comment[ka]=BitTorrent-ის პროგრამა KDE-თვის
Comment[lt]=BitTorrent programa skirta KDE aplinkai
Comment[ms]=Program BitTorrent untuk KDE
Comment[nb]=Et BitTorrent-program for KDE
Comment[nds]=En Bittorrent-Programm för KDE
Comment[nl]=Een BitTorrent-programma voor KDE
Comment[pa]=KDE ਲਈ BitTorrent ਕਾਰਜ
Comment[pl]=Program BitTorrent dla KDE
Comment[pt]=Um programa de BitTorrent para o KDE
Comment[pt_BR]=Um programa BitTorrent para o KDE
Comment[ru]=Клиент BitTorrent для KDE
Comment[sk]=BitTorrent klient pre KDE
Comment[sr]=BitTorrent програм за KDE
Comment[sr@Latn]=BitTorrent program za KDE
Comment[sv]=Ett BitTorrent-program för KDE
Comment[tr]=KDE için BitTorrent uygulaması
Comment[uk]=Програма BitTorrent для KDE
Comment[xx]=xxA BitTorrent program for KDExx
Comment[zh_CN]=一个 KDE 的 BitTorrent 程序
Comment[zh_TW]=KDE 的 BitTorrent 程式
Terminal=false
Categories=Qt;KDE;Network;FileTransfer;
