[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KTorrent/Plugin
Name=KTorrent Plugin
Name[bg]=Приставка KTorrent
Name[br]=Lugent KTorrent
Name[da]=KTorrent-plugin
Name[el]=Πρόσθετο KTorrent
Name[ga]=Breiseán KTorrent
Name[ja]=KTorrent プラグイン
Name[pt]='Plugin' do KTorrent
Name[pt_BR]='Plugin' do KTorrent
Name[sr]=KTorrent прикључак
Name[sr@Latn]=KTorrent priključak
Name[sv]=Ktorrent-insticksprogram
Name[xx]=xxKTorrent Pluginxx
