[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KTorrent/Plugin
Name=KTorrent Plugin
Name[ar]=قابس KTorrent
Name[bg]=Приставка за KTorrent
Name[br]=Lugent KTorrent
Name[ca]=Connector KTorrent
Name[cs]=KTorrent modul
Name[da]=KTorrent-plugin
Name[de]=KTorrent-Modul
Name[el]=Πρόσθετο KTorrent
Name[es]=Complemento de KTorrent
Name[et]=KTorrenti plugin
Name[fa]=وصلۀ KTorrent
Name[gl]=Plugin KTorrent
Name[it]=Plugin KTorrent
Name[ja]=KTorrent プラグイン
Name[ka]=KTorrent-ის მოდული
Name[nb]=KTorrent-modul
Name[nds]=KTorrent-Moduul
Name[nl]=KTorrent-plugin
Name[pl]=Wtyczka KTorrent
Name[pt]='Plugin' do KTorrent
Name[pt_BR]=Plugin KTorrent
Name[sr]=KTorrent прикључак
Name[sr@Latn]=KTorrent priključak
Name[sv]=Ktorrent-insticksprogram
Name[tr]=KTorrent Eklentisi
Name[uk]=Втулок KTorrent
Name[xx]=xxKTorrent Pluginxx
Name[zh_CN]=KTorrent 插件
Name[zh_TW]=KTorrent 外掛程式
