[Desktop Entry]
Encoding=UTF-8
Comment=BitTorrent Download
Comment[af]=BitTorrent Aflaai
Comment[ar]=ملف تنزيل BitTorrent
Comment[az]=BitTorrent Faylı
Comment[bg]=Изтеглен файл на BitTorrent
Comment[bn]=বিট-টরেন্ট ডাউনলোড
Comment[bs]=BitTorrent download
Comment[ca]=Descàrrega BitTorrent
Comment[cs]=Stáhnutí BitTorrent
Comment[cy]=Lawrlwythiad BitTorrent
Comment[da]=BitTorrent nedtagning
Comment[de]=BitTorrent-Download
Comment[el]=Λήψη BitTorrent
Comment[eo]=BitTorrent-ŝarĝo
Comment[es]=Descarga BitTorrent
Comment[et]=BitTorrent allalaadimine
Comment[eu]=BitTorrent deskarga
Comment[fa]=بارگیری BitTorrent
Comment[fi]=BitTorrent-lataus
Comment[fr]=Téléchargement BitTorrent
Comment[fy]=Ynlade BitTorrent
Comment[ga]=Íoslódáil BitTorrent
Comment[gl]=Descarga BitTorrent
Comment[he]=הורדת BitTorrent
Comment[hi]=बिट टोरेन्ट डाउनलोड
Comment[hr]=BitTorrent preuzimanje
Comment[hu]=BitTorrent letöltés
Comment[is]=BitTorrent niðurhal
Comment[it]=Scaricamento BitTorrent
Comment[ja]=BitTorrent ダウンロード
Comment[km]=ការទាញយក BitTorrent
Comment[lb]=BitTorrent-Download
Comment[lt]=BitTorrent atsisiuntimas
Comment[lv]=BitTorrent lejuplāde
Comment[mk]=BitTorrent симнување
Comment[mn]=BitTorrent татац
Comment[ms]=Muat Turun BitTorrent
Comment[nb]=BitTorrent nedlasting
Comment[nds]=BitTorrent-Daalladen
Comment[nl]=BitTorrent-download
Comment[nn]=BitTorrent-nedlasting
Comment[pa]=BitTorrent ਡਾਊਨਲੋਡ
Comment[pl]=Plik pobierany za pomocą BitTorrent
Comment[pt]=Transferência do BitTorrent
Comment[pt_BR]=Lista de Download do BitTorrent
Comment[ro]=Transfer de fişiere BitTorrent
Comment[ru]=Файл загрузки BitTorrent
Comment[rw]=Ikurura rya Biti Nyinshi
Comment[se]=BitTorrent-viežžan
Comment[sl]=Nalaganje BitTorrent
Comment[sq]=Ngarkesë me BitTorrent
Comment[sr]=BitTorrent преузимање
Comment[sr@Latn]=BitTorrent preuzimanje
Comment[sv]=BitTorrent-nerladdning
Comment[ta]=BitTorrent கீழிறக்கம்
Comment[tg]=Боргирии BitTorrent 
Comment[tr]=BitTorrent
Comment[tt]=BitTorrent İñdermäse
Comment[uk]=Звантаження BitTorrent
Comment[uz]=BitTorrent олиш
Comment[wa]=Aberwetaedje avou BitTorrent
Comment[zh_CN]=BitTorrent 下载
Comment[zh_HK]=BitTorrent 下載
Comment[zh_TW]=BitTorrent 下載
Hidden=false
MimeType=application/x-bittorrent
Icon=ktorrent
Type=MimeType
Patterns=*.torrent;*.tor
X-KDE-AutoEmbed=false
