[Desktop Entry]
Encoding=UTF-8
Comment=BitTorrent Download
Comment[bg]=Сваляне с BitTorrent
Comment[cs]=Stažení BitTorrent
Comment[da]=BitTorrent-nedtagning
Comment[de]=BitTorrent-Download
Comment[el]=Λήψη BitTorrent
Comment[es]=Descarga de BitTorrent
Comment[ga]=Íosluchtú BitTorrent
Comment[ja]=BitTorrentダウンロード
Comment[pt]=Transferência do BitTorrent
Comment[pt_BR]=Um programa BitTorrent para download
Comment[sv]=BitTorrent-nerladdning
Hidden=false
MimeType=application/x-bittorrent
Icon=torrent
Type=MimeType
Patterns=*.torrent;*.tor
X-KDE-AutoEmbed=false
