[Desktop Entry]
Encoding=UTF-8
Comment=BitTorrent Download
Comment[el]=Λήψη BitTorrent
Hidden=false
MimeType=application/x-bittorrent
Icon=torrent
Type=MimeType
Patterns=*.torrent;*.tor
X-KDE-AutoEmbed=false
