[Desktop Entry]
Name=SchedulerPlugin
Name[cs]=Modul plánování
Name[da]=Skemalægger-Plugin
Name[el]=Πρόσθετο προγραμματισμού
Name[ja]=スケジューラプラグイン
Name[sv]=Insticksprogram för schemaläggning
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktschedulerplugin
