[Desktop Entry]
Name=KTorrent
Name[ar]=سيولك
Name[ast]=KTorrent
Name[be]=KTorrent
Name[bg]=KTorrent
Name[bs]=KTorent
Name[ca]=KTorrent
Name[ca@valencia]=KTorrent
Name[cs]=KTorrent
Name[da]=KTorrent
Name[de]=KTorrent
Name[el]=KTorrent
Name[en_GB]=KTorrent
Name[es]=KTorrent
Name[et]=KTorrent
Name[fi]=KTorrent
Name[fr]=KTorrent
Name[ga]=KTorrent
Name[gl]=KTorrent
Name[hi]=केटोरेंट
Name[hne]=केटोरेंट
Name[hr]=KTorrent
Name[hu]=KTorrent
Name[is]=KTorrent
Name[it]=KTorrent
Name[ja]=KTorrent
Name[kk]=KTorrent
Name[km]=KTorrent
Name[ko]=KTorrent
Name[lt]=KTorrent
Name[lv]=KTorrent
Name[mr]=के-टोरंट
Name[ms]=KTorrent
Name[nb]=KTorrent
Name[nds]=KTorrent
Name[ne]=केडीई टोरेन्ट
Name[nl]=KTorrent
Name[nn]=KTorrent
Name[pl]=KTorrent
Name[pt]=KTorrent
Name[pt_BR]=KTorrent
Name[ro]=KTorrent
Name[ru]=KTorrent
Name[si]=KTorrent
Name[sk]=KTorrent
Name[sl]=KTorrent
Name[sq]=KTorrent
Name[sr]=К‑торент
Name[sr@ijekavian]=К‑торент
Name[sr@ijekavianlatin]=KTorrent
Name[sr@latin]=KTorrent
Name[sv]=Ktorrent
Name[th]=โปรแกรม KTorrent
Name[tr]=KTorrent
Name[ug]=KTorrent
Name[uk]=KTorrent
Name[x-test]=xxKTorrentxx
Name[zh_CN]=KTorrent
Name[zh_TW]=KTorrent
Comment=KTorrent data engine, for getting information from KTorrent
Comment[ar]=محرّك بيانات «سيولك»، لأخذ المعلومات من «سيولك»
Comment[ast]=Motor de datos de KTorrent pa consiguir información de KTorrent
Comment[bs]=KTorentov pogon podataka, za dobivanje informacija od KTorenta
Comment[ca]=Motor de dades del KTorrent, per obtenir informació des del KTorrent
Comment[ca@valencia]=Motor de dades del KTorrent, per obtindre informació des del KTorrent
Comment[cs]=Datový nástroj KTorrentu pro získání informací z KTorrentu
Comment[da]=KTorrrent datamotor, til at hente information fra KTorrent
Comment[de]=KTorrent-Datenmodul zum Abrufen von Informationen von KTorrent
Comment[el]=Μηχανή δεδομένων KTorrent, για τη λήψη πληροφοριών από το kTorrent
Comment[en_GB]=KTorrent data engine, for getting information from KTorrent
Comment[es]=Motor de datos de KTorrent, para obtener información de KTorrent
Comment[et]=KTorrenti andmemootor teabe hankimiseks KTorrentilt
Comment[fi]=KTorrent-tietomoottori tiedon saamiseksi KTorrentista
Comment[fr]=Moteur de données KTorrent pour obtenir des informations depuis KTorrent
Comment[ga]=Inneall sonraí KTorrent a fhaigheann eolas ó KTorrent
Comment[gl]=Motor de datos de KTorrent, para obter información do aplicativo.
Comment[hu]=KTorrent adatmodul információk szerzésére a KTorrentből
Comment[it]=Motore dati di KTorrent, per ricavare informazioni da KTorrent
Comment[kk]=KTorrent-тен ақпаратты табатын KTorrent дерек тетігі
Comment[km]=ម៉ាស៊ីន​ទិន្នន័យ​របស់ KTorrent សម្រាប់​ទទួល​ព័ត៌មាន​ពី KTorrent
Comment[ko]=KTorrent에서 정보를 가져오는 데이터 엔진
Comment[lt]=KTorrent duomenų variklis informacijos gavimui iš KTorrent
Comment[nb]=KTorrent datamotor, for å hente informasjon fra Ktorrent
Comment[nds]=KTorrent-Datenkarn. Hoolt Informatschonen vun KTorrent.
Comment[nl]=Ktorrent bestandsengine, om informatie uit KTorrent te krijgen
Comment[pl]=Silnik danych KTorrent do uzyskiwania informacji z KTorrent
Comment[pt]=Motor de dados do KTorrent, para obter informações do KTorrent
Comment[pt_BR]=Mecanismo de dados do KTorrent, para adquirir informações do programa
Comment[ro]=Motor de date KTorrent, pentru obținerea informațiilor de la KTorrent
Comment[ru]=Модуль KTorrent для обработки данных, получаемых от KTorrent
Comment[si]=KTorrent වෙතින් තොරතුරු ලබාගැනීම සඳහා KTorrent දත්ත එන්ජිම
Comment[sk]=Dátový engine KTorrent, na získanie informácií z KTorrentu
Comment[sl]=Podatkovni pogon za pridobivanje podatkov od KTorrenta
Comment[sr]=К‑торентов датомотор, за добијање података од К‑торента
Comment[sr@ijekavian]=К‑торентов датомотор, за добијање података од К‑торента
Comment[sr@ijekavianlatin]=KTorrentov datomotor, za dobijanje podataka od KTorrenta
Comment[sr@latin]=KTorrentov datomotor, za dobijanje podataka od KTorrenta
Comment[sv]=Ktorrent-datagränssnitt, för att hämta information från Ktorrent
Comment[tr]=Ktorrent veri motoru, KTorrent'ten bilgi almaya yarayan veri motoru
Comment[uk]=Рушій даних KTorrent, для отримання відомостей від KTorrent
Comment[x-test]=xxKTorrent data engine, for getting information from KTorrentxx
Comment[zh_CN]=KTorrent 数据引擎，用于从 KTorrent 获取信息
Comment[zh_TW]=KTorrent 資料引擎，從 KTorrent 中取得資訊
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=ktorrent
X-KDE-Library=plasma_engine_ktorrent
X-Plasma-EngineName=ktorrent

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=ktorrent
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=

