[Desktop Entry]
Name=KTorrent
Name[ast]=KTorrent
Name[be]=KTorrent
Name[bg]=KTorrent
Name[ca]=KTorrent
Name[ca@valencia]=KTorrent
Name[cs]=KTorrent
Name[da]=KTorrent
Name[de]=KTorrent
Name[el]=KTorrent
Name[en_GB]=KTorrent
Name[es]=KTorrent
Name[et]=KTorrent
Name[eu]=KTorrent
Name[fi]=KTorrent
Name[fr]=KTorrent
Name[ga]=KTorrent
Name[gl]=KTorrent
Name[hi]=केटोरेंट
Name[hne]=केटोरेंट
Name[hr]=KTorrent
Name[hu]=KTorrent
Name[is]=KTorrent
Name[it]=KTorrent
Name[ja]=KTorrent
Name[km]=KTorrent
Name[lt]=KTorrent
Name[lv]=KTorrent
Name[mai]=KTorrent
Name[ms]=KTorrent
Name[nb]=KTorrent
Name[nds]=KTorrent
Name[nl]=KTorrent
Name[nn]=KTorrent
Name[pl]=KTorrent
Name[pt]=KTorrent
Name[pt_BR]=KTorrent
Name[ro]=KTorrent
Name[ru]=KTorrent
Name[si]=KTorrent
Name[sk]=KTorrent
Name[sl]=KTorrent
Name[sr]=К‑торент
Name[sr@ijekavian]=К‑торент
Name[sr@ijekavianlatin]=KTorrent
Name[sr@latin]=KTorrent
Name[sv]=Ktorrent
Name[tr]=KTorrent
Name[uk]=KTorrent
Name[x-test]=xxKTorrentxx
Name[zh_CN]=KTorrent
Name[zh_TW]=KTorrent
Comment=KTorrent data engine, for getting information from KTorrent
Comment[ca]=Motor de dades del KTorrent, per obtenir informació del KTorrent
Comment[cs]=Datový nástroj KTorrentu pro získání informací z KTorrentu
Comment[nds]=KTorrent-Datenkarn. Hoolt Informatschonen vun KTorrent.
Comment[nl]=Ktorrent gegevensengine, om informatie uit KTorrent te krijgen
Comment[pt]=Motor de dados do KTorrent, para obter informações do KTorrent
Comment[pt_BR]=Mecanismo de dados do KTorrent, para adquirir informações do programa
Comment[sv]=Ktorrent-datagränssnitt, för att hämta information från Ktorrent
Comment[uk]=Рушій даних KTorrent, для отримання відомостей від KTorrent
Comment[x-test]=xxKTorrent data engine, for getting information from KTorrentxx
Comment[zh_TW]=KTorrent 資料引擎，從 KTorrent 中取得資訊
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=ktorrent
X-KDE-Library=plasma_engine_ktorrent
X-Plasma-EngineName=ktorrent

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=ktorrent
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=

