[Desktop Entry]
Name=SearchPlugin
Name[bg]=Приставка за търсене
Name[br]=Lugent klask
Name[da]=SøgePlugin
Name[de]=Such-Plugin
Name[el]=Πρόσθετο αναζήτησης
Name[et]=Otsimisplugin
Name[ga]=BreiseánCuardaigh
Name[ja]=検索プラグイン
Name[pl]=Wtyczka wyszukiwania
Name[pt]='Plugin' de Procura
Name[pt_BR]=Plugin de Busca
Name[sr]=Прикључак претраге
Name[sr@Latn]=Priključak pretrage
Name[sv]=Sökinsticksprogram
Name[xx]=xxSearchPluginxx
Comment=Search plugin for KTorrent
Comment[bg]=Приставка за търсене на KTorrent
Comment[br]=Lugent klask evit KTorrent
Comment[cs]=Vyhledávací modul pro KTorrent
Comment[da]=Søge-plugin for KTorrent
Comment[de]=Such-Plugin für KTorrent
Comment[el]=Πρόσθετο αναζήτησης για το KTorrent
Comment[et]=KTorrenti otsimisplugin
Comment[ga]=Breiseán cuardaigh le haghaidh KTorrent
Comment[ja]=KTorrentのための検索プラグイン
Comment[pl]=Wtyczka wyszukiwania dla KTorrent
Comment[pt]='Plugin' de procura para o KTorrent
Comment[pt_BR]=Plug-in de Busca para o KTorrent
Comment[sr]=Прикључак претраге за KTorrent
Comment[sr@Latn]=Priključak pretrage za KTorrent
Comment[sv]=Sökinsticksprogram för Ktorrent
Comment[xx]=xxSearching plugin for KTorrentxx
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktsearchplugin
