[Desktop Entry]
Name=SearchPlugin
Name[bg]=Приставка за търсене
Name[br]=Lugent klask
Name[da]=SøgePlugin
Name[de]=Suche-Modul
Name[el]=Πρόσθετο αναζήτησης
Name[es]=Complemento de búsqueda
Name[et]=Otsimisplugin
Name[fa]=وصلۀ جستجو
Name[it]=Plugin di ricerca
Name[nb]=Søkemodul
Name[nds]=Söök-Moduul
Name[nl]=Zoekplugin
Name[pl]=Wtyczka wyszukiwania
Name[pt]='Plugin' de Procura
Name[pt_BR]=Plugin de Busca
Name[sk]=Vyhľadávací Plugin
Name[sr]=Прикључак претраге
Name[sr@Latn]=Priključak pretrage
Name[sv]=Sökinsticksprogram
Name[tr]=Arama Eklentisi
Name[uk]=Втулок пошуку
Name[xx]=xxSearchPluginxx
Name[zh_CN]=搜索插件
Name[zh_TW]=搜尋外掛程式
Comment=Search plugin for KTorrent
Comment[ar]=قابس البحث لِــ KTorrent
Comment[bg]=Приставка за търсене (KTorrent)
Comment[br]=Lugent klask evit KTorrent
Comment[ca]=Connector de cerca per a KTorrent
Comment[cs]=Vyhledávací modul pro KTorrent
Comment[da]=Søge-plugin for KTorrent
Comment[de]=Suche-Modul für KTorrent
Comment[el]=Πρόσθετο αναζήτησης για το KTorrent
Comment[es]=Complemento de búsqueda para KTorrent
Comment[et]=KTorrenti otsimisplugin
Comment[fa]=وصلۀ جستجو برای KTorrent
Comment[gl]=Plugin de procuras para KTorrent
Comment[it]=Plugin di ricerca per KTorrent
Comment[ja]=KTorrent のための検索プラグイン
Comment[ka]=ძებნის მოდული KTorrent-თვის
Comment[nb]=Søkemodul for KTorrent
Comment[nds]=Söök-Moduul för KTorrent
Comment[nl]=Zoekplugin voor KTorrent
Comment[pl]=Wtyczka wyszukiwania dla KTorrent
Comment[pt]='Plugin' de procura para o KTorrent
Comment[pt_BR]=Busca de plug-in para o KTorrent
Comment[sk]=Vyhľadávací plugin pre KTorrent
Comment[sr]=Прикључак претраге за KTorrent
Comment[sr@Latn]=Priključak pretrage za KTorrent
Comment[sv]=Sökinsticksprogram för Ktorrent
Comment[tr]=KTorrent için arama eklentisi
Comment[uk]=Втулок пошуку для KTorrent
Comment[xx]=xxSearch plugin for KTorrentxx
Comment[zh_CN]=KTorrent 的搜索插件
Comment[zh_TW]=KTorrent 搜尋外掛程式
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktsearchplugin
