[Desktop Entry]
Name=SearchPlugin
Name[bg]=Приставка за търсене
Name[br]=Lugent klask
Name[da]=SøgePlugin
Name[el]=Πρόσθετο αναζήτησης
Name[ga]=BreiseánCuardaigh
Name[ja]=検索プラグイン
Name[pt]='Plugin' de Procura
Name[pt_BR]='Plugin' de Procura
Name[sr]=Прикључак претраге
Name[sr@Latn]=Priključak pretrage
Name[sv]=Sökinsticksprogram
Name[xx]=xxSearchPluginxx
Comment=Searching plugin for KTorrentt
Comment[bg]=Приставка за търсене на KTorrentt
Comment[br]=Lugent klask evit KTorrentt
Comment[da]=Søge-plugin for KTorrentt
Comment[el]=Πρόσθετο αναζήτησης για το KTorrent
Comment[ga]=Breiseán cuardaigh le haghaidh KTorrentt
Comment[ja]=KTorrentのための検索プラグイン
Comment[pt]='Plugin' de procura para o KTorrent
Comment[pt_BR]='Plugin' de procura para o KTorrent
Comment[sr]=Прикључак претраге за KTorrent
Comment[sr@Latn]=Priključak pretrage za KTorrent
Comment[sv]=Sökinsticksprogram för Ktorrent
Comment[xx]=xxSearching plugin for KTorrenttxx
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktsearchplugin
