[Desktop Entry]
Name=PartialFileImportPlugin
Name[bg]=Приствака за частично импортиране на файлове
Name[el]=Πρόσθετο εισαγωγής μερικής λήψης
Name[ja]=不完全ファイルインポートプラグイン
Name[pt]=Importação de Ficheiros Parciais
Name[pt_BR]=Importação de Ficheiros Parciais
Name[sv]=Insticksprogram för partiell filimport
Name[xx]=xxPartialFileImportPluginxx
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktpartfileimportplugin
