[Desktop Entry]
Name=E-Mail Notifications
Name[ar]=إخطارات البريد الإلكترونيّ
Name[ast]=Avisos per corréu
Name[bg]=Уведомления по е-поща
Name[bs]=Obavještenja E-poštom
Name[ca]=Notificacions per correu electrònic
Name[ca@valencia]=Notificacions per correu electrònic
Name[cs]=Upozornění e-mailem
Name[da]=E-mail-bekendtgørelser
Name[de]=E-Mail-Benachrichtigungen
Name[el]=Ειδοποιήσεις E-Mail
Name[en_GB]=E-Mail Notifications
Name[es]=Notificaciones por correo electrónico
Name[et]=Teadaanne e-postiga
Name[fi]=Sähköposti-ilmoitukset
Name[fr]=Envoyer des notifications par courrier électronique
Name[ga]=Fógairtí Ríomhphoist
Name[gl]=Notificacións por correo
Name[hne]=ईमेल सूचना
Name[hu]=Értesítés az eseményekről e-mailen keresztül
Name[is]=Tilkynningar í tölvupósti
Name[it]=Notifiche via messaggi di posta
Name[ja]=メール通知
Name[kk]=Эл.поштамен құлақтандыру
Name[km]=ការ​ជូនដំណឹង​តាម​អ៊ីមែល
Name[ko]=이메일 알림
Name[lt]=El. pašto pranešimai
Name[lv]=E-pasta paziņojumi
Name[mr]=इ-मेल सूचना
Name[nb]=E-postbeskjeder
Name[nds]=Nettpost-Narichten
Name[nl]=E-mail-meldingen
Name[nn]=E-postvarsel
Name[pl]=Powiadomienia e-mail
Name[pt]=Notificações por E-Mail
Name[pt_BR]=Notificações por e-mail
Name[ro]=Notificări prin poștă
Name[ru]=Уведомления по электронной почте
Name[si]=E-Mail දැන්වීම
Name[sk]=E-mailové notifikácie
Name[sl]=E-poštna obvestila
Name[sq]=Njoftime E-Mail
Name[sr]=Обавештења е‑поштом
Name[sr@ijekavian]=Обавјештења е‑поштом
Name[sr@ijekavianlatin]=Obavještenja e‑poštom
Name[sr@latin]=Obaveštenja e‑poštom
Name[sv]=Underrättelser med e-post
Name[tr]=E-posta Bildirimleri
Name[uk]=Сповіщення електронною поштою
Name[x-test]=xxE-Mail Notificationsxx
Name[zh_CN]=电子邮件通知
Name[zh_TW]=電子郵件通知
Comment=Script to notify you of events via e-mail
Comment[ar]=سكربت لإخطارك بالأحداث عبر  البريد الإلكترونيّ
Comment[bg]=Скрипт за уведомяване за събития по електронната поща
Comment[bs]=Skripta koja vas obavještava o dešavanjima putem e-pošte
Comment[ca]=Script per a notificar els esdeveniments via correu electrònic
Comment[ca@valencia]=Script per a notificar els esdeveniments via correu electrònic
Comment[cs]=Skript informující o událostech přes e-mail
Comment[da]=Script til at give besked om hændelser via e-mail
Comment[de]=Skript zur Benachrichtigung über Ereignisse per E-Mail
Comment[el]=Σενάριο για την ειδοποίηση γεγονότων μέσω e-mail
Comment[en_GB]=Script to notify you of events via e-mail
Comment[es]=Script para notificarle de eventos a través del correo electrónico
Comment[et]=Skript sündmustest teavitamiseks e-postitsi
Comment[fi]=Sähköpostitse tapahtumista tiedottava skripti
Comment[fr]=Script pour vous avertir d'évènements par courrier électronique
Comment[ga]=Script a chuireann teagmhais in iúl duit trí ríomhphost
Comment[gl]=Un script para notificarlle por correo os eventos.
Comment[hu]=Értesítés az eseményekről e-mailen keresztül
Comment[is]=Skrifta til að láta þig vita að uppákomum með tölvupósti
Comment[it]=Script per notificare gli eventi usando messaggi di posta
Comment[ja]=イベントをメールで通知するスクリプト
Comment[kk]=Оқиғалар туралы эл.пошта арқылы құлақтандыру скрипті
Comment[km]=ស្គ្រីប​ដើម្បីជូនដំណឹង​អ្នក​នូវ​ព្រឹត្តិការណ៍​តាមរយៈ​អ៊ីមែល
Comment[ko]=이메일로 이벤트 알림
Comment[lt]=Scenarijus informuoti jus apie įvykius per el. paštą
Comment[lv]=Skripts automātiskai notikumu paziņošnai pa e-pastu
Comment[nb]=Et skript som sender varslinger per e-post
Comment[nds]=Skript, dat Di en Nettbreef över Begeefnissen tostüert
Comment[nl]=Script voor het geven van meldingen van een gebeurtenis via e-mail
Comment[nn]=Skript som varslar deg om hendingar på e-post
Comment[pl]=Skrypt do powiadamiania o zdarzeniach przy pomocy e-mail
Comment[pt]=Um programa para o notificar sobre eventos por e-mail
Comment[pt_BR]=Script para notificá-lo de eventos através de e-mail
Comment[ro]=Script ce vă notifică despre evenimente prin poșta electronică
Comment[ru]=Сценарий для отправки по электронной почте уведомлений о событиях
Comment[si]=ඔබට අවස්ථා විද්‍යුත් තැපෑල මඟින් දැන්වීමට විධානාවලිය
Comment[sk]=Skript na upozornenie udalostí cez e-mail
Comment[sl]=Skript, ki vas o dogodkih obvešča po e-pošti
Comment[sq]=Skript që ju njofton për ngjarjet me anë të e-mailit
Comment[sr]=Скрипта која вас обавештава о дешавањима путем е‑поште
Comment[sr@ijekavian]=Скрипта која вас обавјештава о дешавањима путем е‑поште
Comment[sr@ijekavianlatin]=Skripta koja vas obavještava o dešavanjima putem e‑pošte
Comment[sr@latin]=Skripta koja vas obaveštava o dešavanjima putem e‑pošte
Comment[sv]=Skript för att underrätta dig om händelser via e-post
Comment[tr]=Olaylar hakkında sizi e-posta ile bilgilendiren bir betik
Comment[uk]=Скрипт для вашого сповіщення про події електронною поштою
Comment[x-test]=xxScript to notify you of events via e-mailxx
Comment[zh_CN]=将事件通过电子邮件通知您的脚本
Comment[zh_TW]=透過電子郵件通知您事件的文稿
Type=KTorrentScript
Icon=mail-send
X-KTorrent-Script-Author=Joris Guisson
X-KTorrent-Script-Email=joris.guisson@gmail.com
X-KTorrent-Script-Website=http://kde.org/applications/internet/ktorrent/
X-KTorrent-Script-License=GPL
X-KTorrent-Script-File=email_notifications.py

