[Desktop Entry]
Name=Tracker Grouping
Comment=Script to create automatic groups based upon tracker URL's
Type=KTorrentScript
Icon=network-server
X-KTorrent-Script-Author=Joris Guisson
X-KTorrent-Script-Email=joris.guisson@gmail.com
X-KTorrent-Script-Website=http://ktorrent.org/
X-KTorrent-Script-License=GPL
X-KTorrent-Script-File=tracker_groups.py

