[Desktop Entry]
Name=Tracker Grouping
Name[bg]=Групиране по сървъри
Name[bs]=Grupisanje pratilaca
Name[ca]=Agrupa els seguidors
Name[ca@valencia]=Agrupa els seguidors
Name[cs]=Seskupování trackerů
Name[da]=Tracker-gruppering
Name[de]=Tracker-Gruppierung
Name[el]=Ομαδοποίηση ανιχνευτών
Name[en_GB]=Tracker Grouping
Name[es]=Agrupación de localizadores
Name[et]=Tracker'ite rühmitamine
Name[fi]=Seurantapalvelimien ryhmittely
Name[fr]=Groupement de traqueurs
Name[ga]=Grúpáil Lorgaire
Name[gl]=Agrupamento por localizador
Name[hne]=ट्रेकल समूह
Name[hu]=Követőcsoportosítás
Name[is]=Hópun skrásetjara (trackers)
Name[it]=Raggruppamento server traccia
Name[ja]=トラッカーによるグループ
Name[kk]=Трекер бойынша топтастыру
Name[km]=កា​រដាក់​កម្មវិធី​តាមដាន​ជា​ក្រុម
Name[ko]=트래커로 묶기
Name[lt]=Vedlių grupavimas
Name[lv]=Trakeru grupēšana
Name[nb]=Sporergruppering
Name[nds]=Tracker-Koppeln
Name[nl]=Tracker-groepering
Name[nn]=Sporargruppering
Name[pl]=Grupowanie trackerów
Name[pt]=Agrupamento de Localizadores
Name[pt_BR]=Agrupamento de rastreadores
Name[ro]=Grupare Tracker
Name[ru]=Категоризация по трекерам
Name[si]=හඹායෑම් සමූහනය
Name[sk]=Zoskupovanie trackerov
Name[sl]=Združevanje sledilnikov
Name[sq]=Grupim i Gjurmuesve
Name[sr]=Груписање пратилаца
Name[sr@ijekavian]=Груписање пратилаца
Name[sr@ijekavianlatin]=Grupisanje pratilaca
Name[sr@latin]=Grupisanje pratilaca
Name[sv]=Gruppering av spårare
Name[tr]=İzleyici Gruplandırması
Name[uk]=Групування координаторів
Name[x-test]=xxTracker Groupingxx
Name[zh_CN]=追踪服务器分组
Name[zh_TW]=追蹤器分組
Comment=Script to create automatic groups based upon tracker URLs
Comment[bg]=Скрипт за автоматично групиране според адресите на следящите сървъри
Comment[bs]=Skripta za pravljenje automatskih grupa na osnovu URL‑ova pratilaca
Comment[ca]=Script per a crear grups automàtics basats en els URL dels seguidors
Comment[ca@valencia]=Script per a crear grups automàtics basats en els URL dels seguidors
Comment[cs]=Skript pro automatické vytvoření skupin podle URL adres trackerů
Comment[da]=Script til at oprette grupper automatisk baseret på tracker-URL'er
Comment[de]=Skript zum automatischen Gruppieren anhand der Tracker-Adressen
Comment[el]=Σενάριο αυτόματης ομαδοποίησης ανιχνευτών με βάση τα URL τους
Comment[en_GB]=Script to create automatic groups based upon tracker URLs
Comment[es]=Script para crear grupos automáticos basándose en los URL de los rastreadores
Comment[et]=Skript automaatsete rühmade loomiseks tracker'ite URL-ide järgi
Comment[fi]=Skripti, joka luo automaattisesti ryhmiä seurantapalvelinten osoitteiden perusteella
Comment[fr]=Script pour créer des groupes automatiques en fonction des URL des traqueurs
Comment[ga]=Script a chruthaíonn grúpaí go huathoibríoch bunaithe ar URLanna na lorgairí
Comment[gl]=Un script para crear grupos automaticamente baseados no URL dos localizadores.
Comment[hu]=Parancsfájl a követők URL-címén alapuló csoportok automatikus létrehozására
Comment[it]=Script per creare automaticamente gruppi in base agli URL dei server traccia
Comment[kk]=Трекер URL бойынша автоматы түрде топтастыру скрипті
Comment[km]=ស្គ្រីប​ដើម្បី​បង្កើត​ក្រុម​ដោយ​ស្វ័យ​ប្រវត្តិ ដែល​មាន​មូលដ្ឋាន​លើ​ URL របស់​កម្មវិធី​តាមដាន
Comment[ko]=트래커 URL을 기반으로 자동으로 그룹 생성
Comment[lt]=Scenarijus sukurti automatines grupes paremtas seklio URL
Comment[nb]=Et skript som lager grupper automatisk basert på URL'ene til sporere
Comment[nds]=Skript, dat ut de Tracker-URLs automaatsch Koppeln opstellt
Comment[nl]=Script voor het automatisch aanmaken van groepen gebaseerd op tracker-URL's
Comment[pl]=Skrypt do automatycznego tworzenia grup na podstawie adresów URL trackera
Comment[pt]=Um programa para criar grupos automáticos com base nos URL's do localizador
Comment[pt_BR]=Script para criar grupos automaticamente, baseado nas URLs dos rastreadores
Comment[ro]=Script pentru crearea grupurilor automate pe baza URL-urilor tracker-ului
Comment[ru]=Сценарий для автоматического организации торрентов в группы на основе адресов трекеров, к которым они привязаны
Comment[si]=හඹායන්නාගේ URL පදනම්කරගෙන ස්වයංක්‍රීයව සමූහයන් තැනීමට විධානාවලිය
Comment[sk]=Skript na vytvorenie automatických skupín založených na URL trackerov
Comment[sl]=Skript, ki glede na URL sledilnika samodejno ustvari skupino
Comment[sr]=Скрипта за прављење група на основу УРЛ‑ова пратилаца
Comment[sr@ijekavian]=Скрипта за прављење група на основу УРЛ‑ова пратилаца
Comment[sr@ijekavianlatin]=Skripta za pravljenje grupa na osnovu URL‑ova pratilaca
Comment[sr@latin]=Skripta za pravljenje grupa na osnovu URL‑ova pratilaca
Comment[sv]=Skript för att skapa automatiska grupper baserat på spårarnas webbadresser
Comment[tr]=İzleyici adreslerini temel alarak otomatik gruplar oluşturan bir betik
Comment[uk]=Скрипт для створення автоматичних груп за адресами координаторів
Comment[x-test]=xxScript to create automatic groups based upon tracker URLsxx
Comment[zh_CN]=基于追踪服务器网址创建自动分组的脚本
Comment[zh_TW]=依追蹤器的網址自動建立群組的文稿
Type=KTorrentScript
Icon=network-server
X-KTorrent-Script-Author=Joris Guisson
X-KTorrent-Script-Email=joris.guisson@gmail.com
X-KTorrent-Script-Website=http://kde.org/applications/internet/ktorrent/
X-KTorrent-Script-License=GPL
X-KTorrent-Script-File=tracker_groups.py

