[Desktop Entry]
Name=Magnet Generator
Name[ca]=Generador de «magnets»
Name[ca@valencia]=Generador de «magnets»
Name[da]=Magnet-generator
Name[de]=Magnet-Generator
Name[en_GB]=Magnet Generator
Name[es]=Generador magnético
Name[et]=Magnetlinkide looja
Name[fi]=Magnet-generoija
Name[fr]=Générateur d'aimants
Name[ga]=Gineadóir Maighnéad
Name[hu]=Magnet-generátor
Name[it]=Generatore Magnet
Name[km]=កម្មវិធីបង្កើត Magnet
Name[nb]=Magnet-generator
Name[nds]=Magnetmaker
Name[nl]=Magneet-generator
Name[pt]=Gerador de Magnet
Name[pt_BR]=Gerador de Magnet
Name[ru]=Генератор magnet-ссылок
Name[sl]=Ustvarjalnik magnet
Name[sr]=Генератор магнета
Name[sr@ijekavian]=Генератор магнета
Name[sr@ijekavianlatin]=Generator magneta
Name[sr@latin]=Generator magneta
Name[sv]=Magnetgenerering
Name[tr]=Magnet Üretici
Name[uk]=Породжувач Magnet
Name[x-test]=xxMagnet Generatorxx
Name[zh_TW]=Magnet 產生器
Comment=Generates magnet links
Comment[ca]=Genera enllaços «magnet»
Comment[ca@valencia]=Genera enllaços «magnet»
Comment[da]=Genererer magnet-links
Comment[de]=Erzeugt Magnet-Verknüpfungen
Comment[en_GB]=Generates magnet links
Comment[es]=Genera enlaces magnéticos
Comment[et]=Magnetlinkide loomine
Comment[fi]=Generoi Magnet-linkkejä
Comment[fr]=Génère des liens magnétiques
Comment[ga]=Gineann sé seo naisc mhaighnéid
Comment[hu]=Magnet-hivatkozások generálása
Comment[it]=Genera collegamenti magnet
Comment[km]=បង្កើត​តំណ magnet
Comment[nb]=Genererer Magnet-lenker
Comment[nds]=Stellt Magnetlinks op
Comment[nl]=Genereert magneet-koppelingen
Comment[pt]=Gera hiperligações Magnet
Comment[pt_BR]=Gera magnet links
Comment[ru]=Создаёт magnet-ссылки
Comment[sl]=Ustvari povezave magnet
Comment[sr]=Ствара магнетске везе
Comment[sr@ijekavian]=Ствара магнетске везе
Comment[sr@ijekavianlatin]=Stvara magnetske veze
Comment[sr@latin]=Stvara magnetske veze
Comment[sv]=Skapar magnetiska länkar
Comment[tr]=Magnet bağlantıları üretir
Comment[uk]=Створює посилання magnet
Comment[x-test]=xxGenerates magnet linksxx
Comment[zh_TW]=產生 magnet 連結
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktmagnetgeneratorplugin
X-KDE-PluginInfo-Author=Jonas Lundqvist
X-KDE-PluginInfo-Email=jonas@gannon.se
X-KDE-PluginInfo-Name=MagnetGeneratorPlugin
X-KDE-PluginInfo-Website=http://ktorrent.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=kt-magnet
