[Desktop Entry]
Name=Magnet Generator
Name[ast]=Xenerador de magnets
Name[bs]=Generator magneta
Name[ca]=Generador de magnet
Name[ca@valencia]=Generador de magnet
Name[cs]=Generátor Magnet
Name[da]=Magnet-generator
Name[de]=Magnet-Generator
Name[el]=Magnet Generator
Name[en_GB]=Magnet Generator
Name[es]=Generador magnético
Name[et]=Magnetlinkide looja
Name[fi]=Magnet-generoija
Name[fr]=Générateur de liens « Magnet »
Name[ga]=Gineadóir Maighnéad
Name[gl]=Xerador de magnets
Name[hu]=Magnet-generátor
Name[is]=Magnet tilbúningur
Name[it]=Generatore Magnet
Name[kk]=Магнит құрғышы
Name[km]=កម្មវិធី​បង្កើត Generator
Name[ko]=마그넷 링크 생성기
Name[lt]=Magnetų generatorius
Name[nb]=Magnet-generator
Name[nds]=Magnetmaker
Name[nl]=Magneet-generator
Name[pl]=Generator Magnet
Name[pt]=Gerador de Magnet
Name[pt_BR]=Gerador de magnético
Name[ro]=Generator Magnet
Name[ru]=Генератор magnet-ссылок
Name[si]=චුම්භක ජනකය
Name[sk]=Magnet Generátor
Name[sl]=Ustvarjalnik Magnet-ov
Name[sr]=Генератор магнета
Name[sr@ijekavian]=Генератор магнета
Name[sr@ijekavianlatin]=Generator magneta
Name[sr@latin]=Generator magneta
Name[sv]=Magnetgenerering
Name[tr]=Magnet Üretici
Name[ug]=ماگنىت ھاسىللىغۇچ
Name[uk]=Породжувач Magnet
Name[x-test]=xxMagnet Generatorxx
Name[zh_CN]=磁力链生成器
Name[zh_TW]=Magnet 產生器
Comment=Generates magnet links
Comment[ar]=تولّد وصلات ممغنطة
Comment[ast]=Xenera enllaces magnet
Comment[bs]=Stvara magnetske veze
Comment[ca]=Genera enllaços magnet
Comment[ca@valencia]=Genera enllaços magnet
Comment[cs]=Generuje odkazy magnet
Comment[da]=Genererer magnet-links
Comment[de]=Erzeugt Magnet-Verknüpfungen
Comment[el]=Δημιουργεί συνδέσμους magnet
Comment[en_GB]=Generates magnet links
Comment[es]=Genera enlaces magnéticos
Comment[et]=Magnetlinkide loomine
Comment[fi]=Generoi Magnet-linkkejä
Comment[fr]=Génère des liens « Magnet »
Comment[ga]=Gineann sé seo naisc mhaighnéid
Comment[gl]=Xera ligazóns magnet.
Comment[hu]=Magnet-hivatkozások generálása
Comment[is]=Býr til "magnet" tengla
Comment[it]=Genera collegamenti magnet
Comment[kk]=Магнит-сілтемені құру
Comment[km]=បង្កើត​តំណ magnet
Comment[ko]=마그넷 링크 생성
Comment[lt]=Generuoja magnetų nuorodas
Comment[nb]=Genererer Magnet-lenker
Comment[nds]=Stellt Magnetlinks op
Comment[nl]=Genereert magneetlinks
Comment[pl]=Tworzy łącza magnet
Comment[pt]=Gera hiperligações Magnet
Comment[pt_BR]=Gera links magnéticos
Comment[ro]=Generează legături Magnet
Comment[ru]=Создаёт magnet-ссылки
Comment[si]=චුම්භක සබැඳි ජනනය කරයි
Comment[sk]=Generovať magnet odkazy
Comment[sl]=Ustvari povezave Magnet
Comment[sr]=Ствара магнетске везе
Comment[sr@ijekavian]=Ствара магнетске везе
Comment[sr@ijekavianlatin]=Stvara magnetske veze
Comment[sr@latin]=Stvara magnetske veze
Comment[sv]=Skapar magnetiska länkar
Comment[tr]=Magnet bağlantıları üretir
Comment[uk]=Створює посилання magnet
Comment[x-test]=xxGenerates magnet linksxx
Comment[zh_CN]=生成磁力链
Comment[zh_TW]=產生 magnet 連結
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktmagnetgeneratorplugin
X-KDE-PluginInfo-Author=Jonas Lundqvist
X-KDE-PluginInfo-Email=jonas@gannon.se
X-KDE-PluginInfo-Name=MagnetGeneratorPlugin
X-KDE-PluginInfo-Website=http://kde.org/applications/internet/ktorrent/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=kt-magnet
