[Desktop Entry]
Name=ZeroConfPlugin
Name[bg]=Приставка ZeroConf
Name[de]=ZeroConf-Modul
Name[es]=Complemento de ZeroConf
Name[et]=ZeroConfi plugin
Name[it]=Plugin ZeroConf
Name[nds]=ZeroConf-Moduul
Name[pl]=Wtyczka ZeroConf
Name[pt]='Plugin' do ZeroConf
Name[pt_BR]=Plugin ZeroConf
Name[sr]=ZeroConf прикључак
Name[sr@Latn]=ZeroConf priključak
Name[sv]=Zeroconf-insticksprogram
Name[tr]=ZeroConf Eklentisi
Name[uk]=Втулок ZeroConf
Name[xx]=xxZeroConfPluginxx
Comment=Plugin to discover peers on the local network using the zeroconf protocol
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktzeroconfplugin
X-KDE-PluginInfo-Author=Lesly Weyts, Kevin Andre and Joris Guisson
X-KDE-PluginInfo-Email=joris.guisson@gmail.com
X-KDE-PluginInfo-Name=WebInterfacePlugin
X-KDE-PluginInfo-Website=http://ktorrent.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=ktplugins