[Desktop Entry]
Name=Zeroconf
Comment=Discover peers on the local network using the Zeroconf protocol
Comment[ga]=Breiseán a aimsíonn comhghleacaithe ar an líonra logánta tríd an bprótacal zeroconf
Comment[nds]=Partners in't lokale Nett över't zeroconf-Protokoll opdecken
Comment[nl]=Ontdek peers op een lokaal netwerk met behulp van het zeroconf-protocol
Comment[uk]=Виявляє вузли у локальній мережі за допомогою протоколу Zeroconf
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktzeroconfplugin
X-KDE-PluginInfo-Author=Lesly Weyts, Kevin Andre and Joris Guisson
X-KDE-PluginInfo-Email=joris.guisson@gmail.com
X-KDE-PluginInfo-Name=WebInterfacePlugin
X-KDE-PluginInfo-Website=http://ktorrent.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=preferences-plugin
