[Desktop Entry]
Encoding=UTF-8
Name=KTorrent
Name[el]=KMFIPTEditorPart
Name[sv]=Ktorrent
GenericName=BitTorrent Client
GenericName[cs]=BitTorrent klient
GenericName[da]=BitTorrent klient
GenericName[de]=BitTorrent-Client
GenericName[el]=Πελάτης BitTorrent
GenericName[et]=BitTorrenti klient
GenericName[fr]=Client BitTorrent
GenericName[ga]=Cliant BitTorrent
GenericName[hu]=BitTorrent-kliens
GenericName[it]=Client BitTorrent
GenericName[nl]=BitTorrent-cliënt
GenericName[pt]=Cliente de BitTorrent
GenericName[ru]=Клиент BitTorrent
GenericName[sr]=BitTorrent клијент
GenericName[sr@Latn]=BitTorrent klijent
GenericName[sv]=BitTorrent-klient
GenericName[uk]=Клієнт для BitTorrent
Exec=ktorrent %i %m -caption "%c"
Icon=ktorrent
Type=Application
DocPath=ktorrent/index.html
MimeType=application/x-bittorrent
X-DCOP-ServiceType=Unique
Comment=A BitTorrent program for KDE
Comment[cs]=BitTorrent pro KDE
Comment[da]=Et BitTorrent program for KDE
Comment[de]=Ein BitTorrent-Client für KDE
Comment[el]=Μία εφαρμογή BitTorrent για το KDE
Comment[et]=KDE BitTorrenti rakendus
Comment[fr]=Un programme BitTorrent pour KDE
Comment[ga]=Clár BitTorrent KDE
Comment[hu]=KDE-alapú BitTorrent-kliens
Comment[it]=Un programma BitTorrent per KDE
Comment[nl]=Een BitTorrent-programma voor KDE
Comment[pt]=Um programa de BitTorrent para o KDE
Comment[ru]=Клиент BitTorrent для KDE
Comment[sr]=BitTorrent програм за KDE
Comment[sr@Latn]=BitTorrent program za KDE
Comment[sv]=Ett BitTorrent-program för KDE
Comment[uk]=Програма BitTorrent для KDE
Terminal=false
