[Desktop Entry]
Encoding=UTF-8
Name=KTorrent
Name[sv]=Ktorrent
GenericName=BitTorrent Client
Exec=ktorrent %i %m -caption "%c"
Icon=ktorrent
Type=Application
DocPath=ktorrent/index.html
MimeType=application/x-bittorrent
Comment=A BitTorrent program for KDE
Comment[da]=Et BitTorrent program for KDE
Comment[it]=Un programma BitTorrent per KDE
Comment[sv]=Ett BitTorrent-program för KDE
Terminal=0
