[Desktop Entry]
Name=Shutdown
Name[ar]=الإطفاء
Name[ast]=Apagar
Name[bg]=Изключване
Name[bs]=Ugasi
Name[ca]=Aturada
Name[ca@valencia]=Aturada
Name[cs]=Vypnout
Name[da]=Nedlukning
Name[de]=Herunterfahren
Name[el]=Κλείσιμο
Name[en_GB]=Shutdown
Name[eo]=Sistemfermi
Name[es]=Apagar
Name[et]=Seiskamine
Name[fi]=Sammuta
Name[fr]=Arrêt
Name[ga]=Múchadh
Name[gl]=Apagado
Name[hr]=Isključivanje
Name[hu]=Kikapcsolás
Name[ia]=Stoppa (Shutdown)
Name[is]=Slökkva á tölvunni
Name[it]=Spegnimento
Name[ja]=シャットダウン
Name[kk]=Сөндіру
Name[km]=បិទ
Name[ko]=시스템 종료
Name[lt]=Išjungti
Name[lv]=Izslēgt
Name[mr]=बंद करा
Name[nb]=Slå av maskinen
Name[nds]=Utmaken
Name[nl]=Afsluiten
Name[nn]=Slå av
Name[pl]=Wyłączanie komputera
Name[pt]=Encerramento
Name[pt_BR]=Desligar
Name[ro]=Oprire
Name[ru]=Завершение работы
Name[si]=වසාදමන්න
Name[sk]=Vypnutie
Name[sl]=Izklop
Name[sq]=Fike
Name[sr]=Гашење
Name[sr@ijekavian]=Гашење
Name[sr@ijekavianlatin]=Gašenje
Name[sr@latin]=Gašenje
Name[sv]=Stäng av
Name[tr]=Kapat
Name[ug]=تاقا
Name[uk]=Вимкнути
Name[x-test]=xxShutdownxx
Name[zh_CN]=关机
Name[zh_TW]=關機
Comment=Allows you to shutdown your computer when torrents finish
Comment[ar]=تسمح لك بإطفاء الحاسوب عند انتهاء السّيول
Comment[ast]=Pertmítete apagar l'ordeandor cuando finen los torrents
Comment[bg]=Позволява ви да изключите компютъра си след като приключат торентите
Comment[bs]=Dozvoljava gašenje vašeg računara kada torenti završe
Comment[ca]=Permet aturar l'ordinador en finalitzar els torrents
Comment[ca@valencia]=Permet aturar l'ordinador en finalitzar els torrents
Comment[cs]=Umožní vypnutí počítače po dokončení stahování torrentu
Comment[da]=Lader dig lukke din computer ned når torrents er færdige
Comment[de]=Ermöglicht es, den Rechner herunterzufahren, wenn die Torrents abgeschlossen wurden
Comment[el]=Σας επιτρέπει να κλείνετε τον υπολογιστή όταν τελειώσουν τα torrent
Comment[en_GB]=Allows you to shutdown your computer when torrents finish
Comment[es]=Le permite apagar su equipo cuando finalicen los torrents
Comment[et]=Võimaldab arvuti seisata pärat torrenti lõpetamist
Comment[fi]=Mahdollistaa tietokoneen sammutuksen torrentien päätyttyä
Comment[fr]=Permet d'arrêter l'ordinateur lorsque les torrents ont terminé
Comment[ga]=Ceadaíonn sé duit do ríomhaire a mhúchadh nuair a bheidh na torrents críochnaithe
Comment[gl]=Permite apagar o computador cando rematan os torrentes.
Comment[hu]=Lehetővé teszi a számítógép leállítását, ha a torrentek befejeződtek
Comment[is]=Gerir kleift að slökkva á tölvunni þegar lokið er að ná í straum
Comment[it]=Permette lo spegnimento del computer quando termina un torrent
Comment[ja]=torrent が完了したときにコンピュータをシャットダウンします
Comment[kk]=Торренттер біткенде компьютеріңізді сөндіру
Comment[km]=អនុញ្ញាត​ឲ្យ​អ្នក​បិទ​កុំព្យូទ័រ​របស់​អ្នក នៅពេល​ដែល torrent បញ្ចប់
Comment[ko]=토렌트가 완료되었을 때 컴퓨터 끄기
Comment[lt]=Leidžia išjungti jūsų kompiuterį kaip torrentai baigiami
Comment[lv]=Ļauj izslēgt datoru, kad torrenti pabeigti
Comment[nb]=Lar deg slå av maskinen når strømmer er ferdige
Comment[nds]=Maakt den Reekner ut, wenn de Torrents afslaten sünd.
Comment[nl]=Staat u toe uw computer af te sluiten na het beëindigen van torrents
Comment[nn]=Lèt datamaskina verta automatisk slått av når torrentar er ferdignedlasta
Comment[pl]=Umożliwia wyłączenie komputera po zakończeniu działania torrenta
Comment[pt]=Permite-lhe encerrar o seu computador quando terminarem as torrentes
Comment[pt_BR]=Permite-lhe desligar seu computador ao concluir os torrents
Comment[ro]=Vă permite să opriți calculatorul la încheierea torentelor
Comment[ru]=Завершение работы компьютера
Comment[si]=ටොරෙන්ට් අවසන් විට ඔබේ පරිගණකය වසාදැමීමට ඉඩ දෙයි
Comment[sk]=Umožní vám vypnúť počítač po stiahnutí torrentu
Comment[sl]=Omogoča izklop računalnika, ko se torrenti zaključijo
Comment[sr]=Аутоматско гашење рачунара пошто се торенти доврше
Comment[sr@ijekavian]=Аутоматско гашење рачунара пошто се торенти доврше
Comment[sr@ijekavianlatin]=Automatsko gašenje računara pošto se torenti dovrše
Comment[sr@latin]=Automatsko gašenje računara pošto se torenti dovrše
Comment[sv]=Låter dig stänga av datorn när dataflöden är klara
Comment[tr]=Torrentler bittiği zaman bilgisayarınızın otomatik olarak kapanmasına olanak sağlar
Comment[uk]=Надає вам змогу вимкнути комп’ютер після завершення отримання торента
Comment[x-test]=xxAllows you to shutdown your computer when torrents finishxx
Comment[zh_CN]=允许您在种子完成时关闭计算机
Comment[zh_TW]=允許在 torrents 完成後關閉電腦
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktshutdownplugin
X-KDE-PluginInfo-Author=Joris Guisson
X-KDE-PluginInfo-Email=joris.guisson@gmail.com
X-KDE-PluginInfo-Name=ShutdownPlugin
X-KDE-PluginInfo-Website=http://kde.org/applications/internet/ktorrent/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=system-shutdown
