[Desktop Entry]
Name=Shutdown
Name[ast]=Apagar
Name[bg]=Изключване
Name[ca]=Aturada
Name[ca@valencia]=Aturada
Name[cs]=Vypnout
Name[da]=Nedlukning
Name[de]=Herunterfahren
Name[en_GB]=Shutdown
Name[es]=Apagar
Name[et]=Seiskamine
Name[fi]=Sammuta
Name[fr]=Arrêt
Name[ga]=Múchadh
Name[gl]=Apagado
Name[hu]=Kikapcsolás
Name[ja]=シャットダウン
Name[km]=បិទ
Name[lv]=Izslēgt
Name[nb]=Slå av maskinen
Name[nds]=Utmaken
Name[nl]=Afsluiten
Name[nn]=Slå av
Name[pl]=Wyłączanie komputera
Name[pt]=Encerramento
Name[pt_BR]=Desligar
Name[ro]=Oprire
Name[ru]=Завершение работы
Name[sr]=Гашење
Name[sr@ijekavian]=Гашење
Name[sr@ijekavianlatin]=Gašenje
Name[sr@latin]=Gašenje
Name[sv]=Stäng av
Name[tr]=Kapat
Name[uk]=Вимкнути
Name[x-test]=xxShutdownxx
Name[zh_TW]=關機
Comment=Allows you to shutdown your computer when torrents finish
Comment[ast]=Permite apagar el PC cuando finen los torrents
Comment[ca]=Permet aturar l'ordinador en finalitzar els torrents
Comment[ca@valencia]=Permet aturar l'ordinador en finalitzar els torrents
Comment[cs]=Umožní vypnutí počítače po dokončení stahování torrentu
Comment[da]=Lader dig lukke din computer ned når torrents er færdige
Comment[de]=Ermöglicht es, den Rechner herunterzufahren, wenn die Torrents abgeschlossen wurden
Comment[en_GB]=Allows you to shutdown your computer when torrents finish
Comment[es]=Le permite apagar su equipo cuando finalicen los torrents
Comment[et]=Võimaldab arvuti seisata pärat torrenti lõpetamist
Comment[fi]=Mahdollistaa tietokoneen sammutuksen torrenttien päätyttyä
Comment[fr]=Permet d'arrêter votre ordinateur lorsque les torrents ont terminé
Comment[ga]=Ceadaíonn sé duit do ríomhaire a mhúchadh nuair a bheidh na torrents críochnaithe
Comment[gl]=Permite apagar o computador cando rematan os torrentes
Comment[hu]=Számítógépe kikapcsolásának engedélyezése a torrentek befejezésekor
Comment[ja]=torrent が完了したときにコンピュータをシャットダウンします
Comment[km]=អនុញ្ញាត​ឲ្យ​អ្នក​បិទ​កុំព្យូទ័រ​របស់​អ្នក នៅពេល​ដែល torrent បញ្ចប់
Comment[lv]=Ļauj izslēgt datoru, kad torrenti pabeigti
Comment[nb]=Lar deg slå av maskinen når strømmer er ferdige
Comment[nds]=Maakt den Reekner ut, wenn de Torrents afslaten sünd.
Comment[nl]=Staat u toe uw computer af te sluiten na het beëindigen van torrents
Comment[nn]=Lèt datamaskina verta automatisk slått av når torrentar er ferdignedlasta
Comment[pl]=Umożliwia wyłączenie komputera po zakończeniu działania torrenta
Comment[pt]=Permite-lhe encerrar o seu computador quando terminarem as torrentes
Comment[pt_BR]=Permite a você desligar seu computador, quando o torrent terminar
Comment[ro]=Vă permite să opriți calculatorul la încheierea torentelor
Comment[ru]=Завершение работы компьютера
Comment[sr]=Аутоматско гашење рачунара пошто се торенти доврше
Comment[sr@ijekavian]=Аутоматско гашење рачунара пошто се торенти доврше
Comment[sr@ijekavianlatin]=Automatsko gašenje računara pošto se torenti dovrše
Comment[sr@latin]=Automatsko gašenje računara pošto se torenti dovrše
Comment[sv]=Låter dig stänga av datorn när dataflöden är klara
Comment[tr]=Torrentler bittiği zaman bilgisayarınızın otomatik olarak kapanmasına olanak sağlar
Comment[uk]=Надає вам змогу вимкнути комп’ютер після завершення звантаження торента
Comment[x-test]=xxAllows you to shutdown your computer when torrents finishxx
Comment[zh_TW]=允許在 torrents 完成後關閉電腦
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktshutdownplugin
X-KDE-PluginInfo-Author=Joris Guisson
X-KDE-PluginInfo-Email=joris.guisson@gmail.com
X-KDE-PluginInfo-Name=ShutdownPlugin
X-KDE-PluginInfo-Website=http://ktorrent.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Icon=system-shutdown
