[Desktop Entry]
Name=InfoWidgetPlugin
Name[de]=Informationen
Name[el]=Πρόσθετο πληροφοριών
Name[es]=Complemento informativo
Name[et]=Infovidina plugin
Name[fr]=Module externe d'informations
Name[gl]=Extensión de widget de información
Name[hne]=इन्फोविजेटप्लगइन
Name[it]=Plugin informazioni
Name[ja]=情報ウィジェット
Name[lt]=Informacijos valdiklio įskiepis
Name[lv]=InfoLogdaļasSpraudnis
Name[nb]=Infomodul
Name[nds]=Info-Moduul
Name[nl]=Infowidgetplugin
Name[pl]=Wtyczka okno informacyjne
Name[pt]='Plugin' Informativo
Name[pt_BR]=Plugin Informação
Name[ro]=ModulInformațiiControl
Name[ru]=Инфопанель
Name[sr]=Виџет података
Name[sr@latin]=Vidžet podataka
Name[sv]=Insticksprogram med informationskomponent
Name[tr]=Bilgilendirme Parçacığı Eklentisi
Name[x-test]=xxInfoWidgetPluginxx
Name[zh_CN]=信息插件
Name[zh_TW]=資訊元件外掛程式
Comment=Plugin which displays general information about a torrent in several tabs
Comment[bg]=Приставка за различна информация относно торентите
Comment[ca]=Connector que mostra informació general quant a un torrent en vàries pestanyes
Comment[cs]=Zobrazuje v několika záložkách obecné informace o torrentu
Comment[da]=Plugin som viser generel information om en torrent i adskillige faneblade
Comment[de]=Anzeige von allgemeinen Informationen über einen Torrent in mehreren Unterfenstern
Comment[el]=Πρόσθετο που εμφανίζει πληροφορίες για ένα torrent σε διάφορες καρτέλες
Comment[es]=Un complemento que muestra información general sobre un torrent en varias solapas
Comment[et]=Plugin torrenti üldise teabe kuvamiseks mitmel kaardil
Comment[fr]=Module externe affichant des informations supplémentaires sous forme de plusieurs onglets
Comment[ga]=Breiseán a thaispeánann eolas ginearálta maidir le torrent i gcluaisíní éagsúla
Comment[gl]=Extensión que mostra información xeral acerca dun torrente en varias páxinas
Comment[it]=Plugin che visualizza in diverse schede informazioni generali sul torrent
Comment[ja]=torrent に関する一般的な情報を複数のタブに表示します
Comment[km]=កម្មវិធី​ជំនួយ​ដែល​បង្ហាញ​អំពី​ព័ត៌មាន​ទូទៅ​អំពី torrent ជា​ច្រើន​ផ្ទាំង
Comment[lt]=Šis įskiepis pateikia bendrą informaciją apie torrent failą keliose kortelėse
Comment[lv]=Šis spraudnis vairākās cilnēs parāda pamata informāciju par torrentu
Comment[nb]=Viser generell informasjon om en strøm i flere faner
Comment[nds]=Moduul, dat Informatschonen över en Torrent op en Reeg Paneels wiest
Comment[nl]=Plugin voor het weergeven van informatie over een torrent, verdeeld over meerdere tabbladen
Comment[pl]=Wtyczka do wyświetlania w kartach informacji o torrencie
Comment[pt]=Um 'plugin' que mostra informações gerais sobre uma torrente em várias páginas
Comment[pt_BR]=Extensão que mostra informação geral sobre um torrent em diversas abas
Comment[ro]=Modul ce afișează informații generale despre un torent în cîteva file
Comment[ru]=Показывает разные сведения о торрентах, распределяя их по нескольким вкладкам
Comment[sl]=Vstavek, ki v več zavihkih prikazuje splošne podatke o torentu
Comment[sr]=Прикључак који приказује опште податке о торенту у неколико језичака
Comment[sr@latin]=Priključak koji prikazuje opšte podatke o torentu u nekoliko jezičaka
Comment[sv]=Insticksprogram som visar allmän information om ett dataflöde under flera flikar
Comment[tr]=Çeşitli sekmelerde bir torrent hakkındaki genel bilgileri gösterir
Comment[uk]=Втулок, що відображає загальну інформацію про торент у декількох вкладках
Comment[x-test]=xxPlugin which displays general information about a torrent in several tabsxx
Comment[zh_CN]=可在若干标签内显示一个种子的常规信息的插件
Comment[zh_TW]=使用數個分頁顯示 Torrent 的一般資訊的外掛程式
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktinfowidgetplugin
X-KDE-PluginInfo-Author=Joris Guisson, Ivan Vasic
X-KDE-PluginInfo-Email=joris.guisson@gmail.com, ivasic@gmail.com
X-KDE-PluginInfo-Name=InfoWidgetPlugin
X-KDE-PluginInfo-Website=http://ktorrent.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Icon=kt-info-widget
