[Desktop Entry]
Name=InfoWidgetPlugin
Name[nb]=Infomodul
Comment=Plugin which displays general information about a torrent in several tabs
Comment[nb]=Viser generell informasjon om en strøm i flere faner
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktinfowidgetplugin
X-KDE-PluginInfo-Author=Joris Guisson, Ivan Vasic
X-KDE-PluginInfo-Email=joris.guisson@gmail.com, ivasic@gmail.com
X-KDE-PluginInfo-Name=InfoWidgetPlugin
X-KDE-PluginInfo-Website=http://ktorrent.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Icon=kt-info-widget
