[Desktop Entry]
Name=Information Widget
Name[ar]=ودجة المعلومات
Name[ast]=Widget d'información
Name[bg]=Джаджа с данни
Name[bs]=Widget podataka
Name[ca]=Estri d'informació
Name[ca@valencia]=Estri d'informació
Name[cs]=Informační widget
Name[da]=Informations-widget
Name[de]=Informationen
Name[el]=Συστατικό πληροφοριών
Name[en_GB]=Information Widget
Name[es]=Elemento de información
Name[et]=Teabevidim
Name[fi]=Tietoliitännäinen
Name[fr]=Composant graphique d'informations
Name[ga]=Giuirléid Eolais
Name[gl]=Trebello de información
Name[hr]=Informacijski widget
Name[hu]=Információs kisalkalmazás
Name[is]=Upplýsingagræja
Name[it]=Pannello informazioni
Name[ja]=情報ウィジェット
Name[kk]=Ақпарат виджеті
Name[km]=ធាតុ​ក្រាហ្វិក​របស់​ព័ត៌មាន
Name[ko]=정보 위젯
Name[lt]=Informacinis valdiklis
Name[lv]=Informācijas sīkrīks
Name[mr]=माहिती विजेट
Name[nb]=Informasjonselement
Name[nds]=Informatschonen-Element
Name[nl]=Informatie-widget
Name[nn]=Informasjonsvindauge
Name[pl]=Informacyjny element interfejsu
Name[pt]=Item de Informação
Name[pt_BR]=Widget de informações
Name[ro]=Control grafic informativ
Name[ru]=Сведения
Name[si]=තොරතුරු විජෙට්ටුව
Name[sk]=Informačný komponent
Name[sl]=Gradnik s podrobnostmi
Name[sr]=Виџет података
Name[sr@ijekavian]=Виџет података
Name[sr@ijekavianlatin]=Vidžet podataka
Name[sr@latin]=Vidžet podataka
Name[sv]=Informationskomponent
Name[tr]=Bilgi Penceresi
Name[uk]=Інформаційний віджет
Name[x-test]=xxInformation Widgetxx
Name[zh_CN]=信息部件
Name[zh_TW]=資訊元件
Comment=Displays general information about a torrent in several tabs
Comment[ar]=تعرض معلومات عامة عن أحد السّيول في عدّة ألسنة
Comment[ast]=Amuesa información xeneral tocante a un torrent en delles llingüetes
Comment[bg]=Показване на различни данни за торентите в няколко подпрозореца
Comment[bs]=Prikazuje opšte podatke o torentu u nekoliko kartica
Comment[ca]=Mostra informació general quant a un torrent en diverses pestanyes
Comment[ca@valencia]=Mostra informació general quant a un torrent en diverses pestanyes
Comment[cs]=Zobrazuje v kartách obecné informace o torrentu
Comment[da]=Viser generel information om en torrent i flere faneblade
Comment[de]=Anzeige von allgemeinen Informationen über einen Torrent in mehreren Unterfenstern
Comment[el]=Εμφάνιση γενικών πληροφοριών για ένα torrent σε διάφορες καρτέλες
Comment[en_GB]=Displays general information about a torrent in several tabs
Comment[es]=Muestra información general sobre un torrent en varias pestañas
Comment[et]=Torrenti üldise teabe kuvamine mitmel kaardil
Comment[fi]=Näyttää eri välilehdillä yleistietoja torrentista
Comment[fr]=Affiche des informations générales sur un torrent dans plusieurs onglets
Comment[ga]=Breiseán a thaispeánann eolas ginearálta maidir le torrent i gcluaisíní éagsúla
Comment[gl]=Mostrar información sobre un torrente en varias lapelas.
Comment[hu]=Általános információk megjelenítése több lapon egy torrentről
Comment[is]=Birtir í nokkrum flipum almennar upplýsingar um torrent straum
Comment[it]=Visualizza in diverse schede informazioni generali sul torrent
Comment[ja]=torrent に関する一般的な情報を複数のタブに表示します
Comment[kk]=Бірнеше қойындыда торрент туралы жалпы ақпарат беру
Comment[km]=បង្ហាញ​ព័ត៌មាន​ទូទៅ​អំពី torrent ក្នុង​ច្រើន​ផ្ទាំង
Comment[ko]=여러 탭에 토렌트 일반 정보 표시
Comment[lt]=Pateikia bendrą informaciją apie torrent failą keliose kortelėse
Comment[lv]=Vairākās cilnēs parāda pamata informāciju par torrentu
Comment[nb]=Viser generell informasjon om en strøm i flere faner
Comment[nds]=Wiest Informatschonen över en Torrent binnen en Reeg Paneels
Comment[nl]=Geef informatie over een torrent, verdeeld over meerdere tabbladen
Comment[nn]=Viser generell informasjon om ein torrent i fleire faner
Comment[pl]=Wyświetlanie informacji o torrencie w osobnych kartach
Comment[pt]=Um 'plugin' que mostra informações gerais sobre uma torrente em várias páginas
Comment[pt_BR]=Exibe informações gerais sobre um torrent em diversas abas
Comment[ro]=Afișează informații generale despre un torent în cîteva file
Comment[ru]=Показывает разные сведения о торрентах, распределяя их по нескольким вкладкам
Comment[si]=ටොරෙන්ටයක් පිලිබඳ සාමාන්‍යය තොරතුරු ටැබ කිහිපයක පෙන්වයි
Comment[sk]=Ukáže základné informácie o torrente v niekoľkých záložkách
Comment[sl]=V več zavihkih prikazuje splošne podrobnosti o torentu
Comment[sr]=Приказује опште податке о торенту у неколико језичака
Comment[sr@ijekavian]=Приказује опште податке о торенту у неколико језичака
Comment[sr@ijekavianlatin]=Prikazuje opšte podatke o torentu u nekoliko jezičaka
Comment[sr@latin]=Prikazuje opšte podatke o torentu u nekoliko jezičaka
Comment[sv]=Visa allmän information om ett dataflöde under flera flikar
Comment[tr]=Çeşitli sekmelerde bir torrent hakkındaki genel bilgileri gösterir
Comment[uk]=Показ загальної інформації про торент у декількох вкладках
Comment[x-test]=xxDisplays general information about a torrent in several tabsxx
Comment[zh_CN]=在若干标签内显示一个种子的常规信息
Comment[zh_TW]=使用數個分頁顯示 Torrent 的一般資訊
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktinfowidgetplugin
X-KDE-PluginInfo-Author=Joris Guisson, Ivan Vasic
X-KDE-PluginInfo-Email=joris.guisson@gmail.com, ivasic@gmail.com
X-KDE-PluginInfo-Name=InfoWidgetPlugin
X-KDE-PluginInfo-Website=http://kde.org/applications/internet/ktorrent/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Icon=kt-info-widget
