[Desktop Entry]
Name=Scan for lost files
Name[ca]=Explora els fitxers perduts
Name[ca@valencia]=Explora els fitxers perduts
Name[el]=Σάρωση για χαμένα αρχεία
Name[en_GB]=Scan for lost files
Name[es]=Escanear archivos perdidos
Name[fi]=Etsi kadonneita tiedostoja
Name[fr]=Rechercher des fichiers perdus
Name[it]=Ricerca dei file persi
Name[ko]=잃어버린 파일 검색
Name[nl]=Zoek naar verloren bestanden
Name[pt]=Sondar por ficheiros perdidos
Name[pt_BR]=Escanear por arquivos perdidos
Name[sk]=Skenovať stratené súbory
Name[sl]=Preišči za izgubljenimi datotekami
Name[sv]=Sök efter förlorade filer
Name[uk]=Пошук втрачених файлів
Name[x-test]=xxScan for lost filesxx
Comment=Display files in the selected folder that don't belong to any torrent
Comment[ca]=Mostra els fitxers de la carpeta seleccionada que no pertanyen a cap torrent
Comment[ca@valencia]=Mostra els fitxers de la carpeta seleccionada que no pertanyen a cap torrent
Comment[el]=Να εμφανίζονται αρχεία στον επιλεγμένο φάκελο που δεν ανήκουν σε κανένα torrent
Comment[en_GB]=Display files in the selected folder that don't belong to any torrent
Comment[es]=Mostrar archivos en la carpeta seleccionada que no pertenecen a ningún torrent
Comment[fi]=Näyttää valitun kansion tiedostot, jotka eivät kuulu mihinkään torrenttiin
Comment[fr]=Afficher les fichiers dans le dossier sélectionné n'appartenant à aucun flux « torrent »
Comment[it]=Visualizza i file nella cartella selezionata che non appartengono ad alcun torrent
Comment[ko]=선택한 폴더에 있는 토렌트에 속하지 않은 표시
Comment[nl]=Bestanden in de geselecteerde map tonen die niet behoren tot een torrent
Comment[pt]=Mostrar os ficheiros na pasta seleccionada que não pertencem a nenhuma torrente
Comment[pt_BR]=Mostra arquivos na pasta selecionada que não pertencem a nenhum torrent
Comment[sk]=Zobraziť súbory vo vybranom priečinku, ktoré nepatria k žiadnemu torrentu
Comment[sl]=Prikažite datoteke v izbrani mapi, ki ne pripadajo nobenemu toku
Comment[sv]=Visa filer i den markerade katalogen som inte hör till något dataflöde
Comment[uk]=Показати файли у вибраній теці, які не належать до жодного торента
Comment[x-test]=xxDisplay files in the selected folder that don't belong to any torrentxx
Type=Service
X-KDE-Library=ktscanforlostfilesplugin
X-KDE-PluginInfo-Author=Alexander Trufanov
X-KDE-PluginInfo-Email=trufanovan@gmail.com
X-KDE-PluginInfo-Name=ScanForLostFilesPlugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kde.org/applications/internet/ktorrent/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=edit-find
