[Desktop Entry]
Name=Scan for lost files
Comment=Display files in the selected folder that don't belong to any torrent
Type=Service
X-KDE-Library=ktscanforlostfilesplugin
X-KDE-PluginInfo-Author=Alexander Trufanov
X-KDE-PluginInfo-Email=trufanovan@gmail.com
X-KDE-PluginInfo-Name=ScanForLostFilesPlugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kde.org/applications/internet/ktorrent/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=edit-find
