[Desktop Entry]
Name=RssFeedPlugin
Name[bg]=Приставка за RssFeed
Name[el]=Πρόσθετο ροών Rss
Name[et]=RSS-kanali plugin
Name[sk]=RssFeed Plugin
Name[sv]=RSS-kanalinsticksprogram
Name[uk]=Втулок подач RSS
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktrssfeedplugin
