[Desktop Entry]
Name=RssFeedPlugin
Name[bg]=Приставка за RssFeed
Name[el]=Πρόσθετο ροών Rss
Name[sk]=RssFeed Plugin
Name[sv]=RSS-kanalinsticksprogram
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktrssfeedplugin
