[Desktop Entry]
Name=MediaPlayerPlugin
Name[de]=Mediaplayer-Modul
Name[el]=Πρόσθετο αναπαραγωγής πολυμέσων
Name[es]=Complemento de reproductor multimedia
Name[et]=Meediamängija plugin
Name[fr]=Module externe multimédia
Name[it]=Plugin Lettore multimediale
Name[km]=កម្មវិធី​ជំនួយ​​របស់​កម្មវិធី​ចាក់​មេឌៀ
Name[lt]=Media grotuvo įskiepis
Name[nb]=Mediespiller
Name[nds]=Afspeler-Moduul
Name[nl]=Mediaspelerplugin
Name[pl]=Wtyczka odtwarzacz multimediów
Name[pt]='Plugin' do Leitor Multimédia
Name[pt_BR]=Plugin Tocador de Mídia
Name[sv]=Insticksprogram med mediaspelare
Name[tr]=Medya Oynatıcı Eklentisi
Name[x-test]=xxMediaPlayerPluginxx
Name[zh_CN]=媒体播放器插件
Name[zh_TW]=媒體播放器外掛程式
Comment=Phonon based media player plugin for KTorrent
Comment[ca]=Connector del KTorrent basat en el reproductor de suports Phonon
Comment[cs]=Modul přehrávání médií pro Ktorrent založený na Phononu
Comment[da]=Phonon-baseret medieafspiller-plugin til KTorrent
Comment[de]=Phonon-basiertes Mediaplayer-Modul für KTorrent
Comment[el]=Πρόσθετο αναπαραγωγής πολυμέσων με βάση το Phonon για το KTorrent
Comment[es]=Un complemento de reproductor multimedia para KTorrent basado en Phonon
Comment[et]=KTorrenti Phononil põhinev meediamängija plugin
Comment[fr]=Module externe multimédia utilisant Phonon pour KTorrent
Comment[ga]=Breiseán seinnteora meán le haghaidh KTorrent, bunaithe ar Phonon
Comment[gl]=Extensión de reproducción multimedia baseada en Phonon para KTorrent
Comment[it]=Plugin Lettore multimediale per KTorrent basato su Phonon
Comment[ja]=Phonon をベースにした KTorrent のメディアプレーヤープラグイン
Comment[km]=កម្មវិធី​ជំនួយ​របស់​កម្មវិធី​ចាក់​មេឌៀ​ដែល​មាន​មូលដ្ឋាន​លើ Phonon សម្រាប់ KTorrent
Comment[lt]=Phonon pagrindu veikiantis KTorrent media grotuvo įskiepis
Comment[lv]=Phonon bāzēts multivides atskaņotājs priekš KTorrent
Comment[nb]=Phonon-basert mediespiller for KTorrent
Comment[nds]=Op Phonon opbuut Afspeler-Moduul för KTorrent
Comment[nl]=Phonon-gebaseerde mediaspelerplugin voor KTorrent
Comment[pl]=Wtyczka odtwarzacz multimediów KTorrent oparta na Phonon
Comment[pt]='Plugin' de reprodução multimédia para o KTorrent
Comment[pt_BR]=Extensão que reproduz mídias, baseado do Phonon
Comment[ru]=Медиапроигрыватель на базе Phonon для KTorrent 
Comment[sl]=Vstavek za predvajanje večpredstavnostnih datotek, ki temelji na Phononu
Comment[sv]=Phonon-baserat insticksprogram med mediaspelare för Ktorrent
Comment[tr]=KTorrent için Phonon temelli medya oynatıcı
Comment[uk]=Заснований на Phonon втулок програвача для KTorrent
Comment[x-test]=xxPhonon based media player plugin for KTorrentxx
Comment[zh_CN]=基于 Phonon 的 KTorrent 媒体播放器插件
Comment[zh_TW]=KTorrent 中的 Phonon 媒體播放外掛程式
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktmediaplayerplugin
X-KDE-PluginInfo-Author=Joris Guisson
X-KDE-PluginInfo-Email=joris.guisson@gmail.com
X-KDE-PluginInfo-Name=MediaPlayerPlugin
X-KDE-PluginInfo-Website=http://ktorrent.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=applications-multimedia
