[Desktop Entry]
Name=Media Player
Name[bg]=Медиен плеър
Name[cs]=Přehrávač médií
Name[de]=Mediaplayer
Name[el]=Αναπαραγωγή πολυμέσων
Name[en_GB]=Media Player
Name[es]=Reproductor multimedia
Name[et]=Meediamängija
Name[fr]=Lecteur multimédia
Name[ga]=Seinnteoir Meán
Name[gl]=Reprodutor multimedia
Name[ja]=メディアプレーヤー
Name[km]=កម្មវិធី​ចាក់​មេឌៀ
Name[nb]=Mediespiller
Name[nds]=Afspeler
Name[nl]=Mediaspeler
Name[nn]=Mediespelar
Name[pl]=Odtwarzacz multimediów
Name[pt]=Reprodutor Multimédia
Name[pt_BR]=Reprodutor de mídia
Name[ro]=Redare multimedia
Name[ru]=Проигрыватель
Name[sl]=Večpredstavnostni predvajalnik
Name[sr]=Медија плејер
Name[sv]=Mediaspelare
Name[tr]=Çokluortam Oynatıcısı
Name[uk]=Медіапрогравач
Name[zh_CN]=媒体播放器
Name[zh_TW]=媒體播放器
Comment=Phonon-based media player
Comment[bg]=Програма за преглед на мултимедия на основата на Phonon
Comment[cs]=Přehrávač médií založený na Phononu
Comment[de]=Phonon-basierter Mediaplayer für KTorrent
Comment[el]=Αναπαραγωγή πολυμέσων με βάση το Phonon
Comment[en_GB]=Phonon-based media player
Comment[es]=Reproductor multimedia basado en Phonon
Comment[et]=Phononil põhinev meediamängija
Comment[fr]=Lecteur multimédia utilisant Phonon
Comment[ga]=Seinnteoir meán bunaithe ar Phonon
Comment[gl]=Reprodutor multimedia baseado en Phonon
Comment[ja]=Phonon をベースにしたメディアプレーヤー
Comment[km]=កម្មវិធី​ចាក់​មេឌៀ​ដែល​មាន​មូលដ្ឋាន​លើ Phonon
Comment[nb]=Phonon-basert mediespiller
Comment[nds]=Op Phonon opbuut Afspeler
Comment[nl]=Phonon-gebaseerde mediaspeler
Comment[nn]=Phonon-basert mediespelar
Comment[pl]=Odtwarzacz multimediów KTorrent oparty na Phonon
Comment[pt]=Leitor multimédia baseado no Phonon
Comment[pt_BR]=Reprodutor de mídia baseado no Phonon
Comment[ro]=Lector multimedia bazat pe Phonon
Comment[ru]=Медиапроигрыватель на базе Phonon
Comment[sl]=Predvajanje večpredstavnostnih datotek, ki temelji na Phononu
Comment[sr]=Медија плејер заснован на Фонону
Comment[sv]=Phonon-baserad mediaspelare
Comment[tr]=Phonon temelli çokluortam oynatıcısı
Comment[uk]=Заснований на Phonon додаток програвача для KTorrent
Comment[zh_CN]=基于 Phonon 的媒体播放器
Comment[zh_TW]=Phonon 媒體播放器
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktmediaplayerplugin
X-KDE-PluginInfo-Author=Joris Guisson
X-KDE-PluginInfo-Email=joris.guisson@gmail.com
X-KDE-PluginInfo-Name=MediaPlayerPlugin
X-KDE-PluginInfo-Website=http://ktorrent.org/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=applications-multimedia
