[Desktop Entry]
Name=Media Player
Name[ar]=مشغّل الوسائط
Name[ast]=Reproctor de medios
Name[bg]=Медиен плеър
Name[bs]=Izvođač medija
Name[ca]=Reproductor multimèdia
Name[ca@valencia]=Reproductor multimèdia
Name[cs]=Přehrávač médií
Name[da]=Medieafspiller
Name[de]=Mediaplayer
Name[el]=Media Player
Name[en_GB]=Media Player
Name[eo]=Medioludilo
Name[es]=Reproductor multimedia
Name[et]=Meediamängija
Name[fi]=Mediasoitin
Name[fr]=Lecteur multimédia
Name[ga]=Seinnteoir Meán
Name[gl]=Reprodutor
Name[hr]=Svirač multimedije
Name[hu]=Médialejátszó
Name[ia]=Media Player (Reproductor de Media)
Name[is]=Margmiðlunarspilari
Name[it]=Lettore multimediale
Name[ja]=メディアプレーヤー
Name[kk]=Медиаплейер
Name[km]=កម្មវិធី​ចាក់​មេឌៀ
Name[ko]=미디어 재생기
Name[lt]=Media grotuvas
Name[lv]=Multivides atskaņotājs
Name[mr]=मीडिया प्लेयर
Name[nb]=Mediespiller
Name[nds]=Afspeler
Name[nl]=Mediaspeler
Name[nn]=Mediespelar
Name[pl]=Odtwarzacz multimediów
Name[pt]=Reprodutor Multimédia
Name[pt_BR]=Reprodutor de mídia
Name[ro]=Redare multimedia
Name[ru]=Проигрыватель
Name[si]=මාධ්‍යය ධාවකය
Name[sk]=Prehrávač médií
Name[sl]=Predstavnostni predvajalnik
Name[sq]=Luaj Media
Name[sr]=Медија плејер
Name[sr@ijekavian]=Медија плејер
Name[sr@ijekavianlatin]=Medija plejer
Name[sr@latin]=Medija plejer
Name[sv]=Mediaspelare
Name[tr]=Ortam Oynatıcısı
Name[ug]=ۋاسىتە قويغۇ
Name[uk]=Медіапрогравач
Name[x-test]=xxMedia Playerxx
Name[zh_CN]=媒体播放器
Name[zh_TW]=媒體播放器
Comment=Phonon-based media player
Comment[ar]=مشغّل وسائط يعتمد «فنون»
Comment[ast]=Reproductor de medios basáu en Phonon
Comment[bg]=Програма за преглед на мултимедия на основата на Phonon
Comment[bs]=Medija plejer zasnovan na Fononu
Comment[ca]=Reproductor de suports basat en el Phonon
Comment[ca@valencia]=Reproductor de suports basat en el Phonon
Comment[cs]=Přehrávač médií založený na Phononu
Comment[da]=Phonon-baseret medieafspiller
Comment[de]=Phonon-basierter Mediaplayer für KTorrent
Comment[el]=Αναπαραγωγέας πολυμέσων με βάση το Phonon
Comment[en_GB]=Phonon-based media player
Comment[es]=Reproductor multimedia basado en Phonon
Comment[et]=Phononil põhinev meediamängija
Comment[fi]=Phonon-pohjainen mediasoitin
Comment[fr]=Lecteur multimédia utilisant Phonon
Comment[ga]=Seinnteoir meán bunaithe ar Phonon
Comment[gl]=Reprodutor de imaxe e son baseado en Phonon.
Comment[hu]=Phonon-alapú médialejátszó
Comment[is]=Margmiðlunarspilari byggður á Phonon
Comment[it]=Lettore multimediale basato su Phonon
Comment[ja]=Phonon をベースにしたメディアプレーヤー
Comment[kk]=Phonon-негізіндегі медиаплейер
Comment[km]=កម្មវិធី​ចាក់​មេឌៀ​ដែល​មាន​មូលដ្ឋាន​លើ Phonon
Comment[ko]=Phonon 기반 미디어 재생기
Comment[lt]=Phonon pagrindu veikiantis media grotuvas
Comment[lv]=Phonon bāzēts multivides atskaņotājs
Comment[mr]=फोनॉन आधारित मीडिया प्लेयर
Comment[nb]=Phonon-basert mediespiller
Comment[nds]=Op Phonon opbuut Afspeler
Comment[nl]=Phonon-gebaseerde mediaspeler
Comment[nn]=Phonon-basert mediespelar
Comment[pl]=Odtwarzacz multimediów oparty na Phonon
Comment[pt]=Leitor multimédia baseado no Phonon
Comment[pt_BR]=Reprodutor de mídia baseado no Phonon
Comment[ro]=Lector multimedia bazat pe Phonon
Comment[ru]=Медиапроигрыватель на базе Phonon
Comment[si]=Phonon-මූලික මාධ්‍යය ධාවකය
Comment[sk]=Prehrávač multimédií založený na Phonone
Comment[sl]=Predvajalnik predstavnostnih datotek, ki temelji na Phononu
Comment[sr]=Медија плејер заснован на Фонону
Comment[sr@ijekavian]=Медија плејер заснован на Фонону
Comment[sr@ijekavianlatin]=Medija plejer zasnovan na Phononu
Comment[sr@latin]=Medija plejer zasnovan na Phononu
Comment[sv]=Phonon-baserad mediaspelare
Comment[tr]=Phonon temelli çoklu ortam oynatıcısı
Comment[uk]=Заснований на Phonon додаток програвача для KTorrent
Comment[x-test]=xxPhonon-based media playerxx
Comment[zh_CN]=基于 Phonon 的媒体播放器
Comment[zh_TW]=Phonon 媒體播放器
ServiceTypes=KTorrent/Plugin
Type=Service
X-KDE-Library=ktmediaplayerplugin
X-KDE-PluginInfo-Author=Joris Guisson
X-KDE-PluginInfo-Email=joris.guisson@gmail.com
X-KDE-PluginInfo-Name=MediaPlayerPlugin
X-KDE-PluginInfo-Website=http://kde.org/applications/internet/ktorrent/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Icon=applications-multimedia
