[Desktop Entry]
Encoding=UTF-8
Name=KTorrent
Name[hi]=केटोरेंट
Name[hne]=केटोरेंट
Name[ne]=केडीई टोरेन्ट
Name[sr]=К‑торент
Name[sv]=Ktorrent
Name[th]=โปรแกรม KTorrent
Name[x-test]=xxKTorrentxx
Icon=ktorrent
Comment=Plasmoid to keep track of a single torrent
Comment[de]=Plasmoid zum Überwachen eines einzelnen Torrents
Comment[es]=Un plasmoide para seguir el estado de un único torrent
Comment[et]=Plasmoid üheainsa torrenti jälgimiseks
Comment[fr]=Plasmoïde pour conserver la trace d'un torrent unique
Comment[ga]=Plasmóid a choinníonn tuairisc ar torrent amháin
Comment[gl]=Plasmoide para vixiar un único torrente
Comment[km]=Plasmoid ដែល​ត្រូវ​ទុក​បទ​​របស់ torrent ទោល
Comment[nds]=Plasma-Lüttprogramm, dat op een Enkeltorrent kiekt
Comment[nl]=Plasmoid voor het volgen van een enkele torrent
Comment[nn]=Plasmoide for handsaming av ein enkelt torrent
Comment[pt]=Um plasmóide para acompanhar o estado de uma única torrente
Comment[pt_BR]=Plasmóide para acompanhar um único torrent
Comment[ro]=Plasmoid pentru evidența unui singur torent
Comment[ru]=Плазмоид, следящий за состоянием выбранного торрента
Comment[sl]=Gradnik za spremljanje enega torrenta
Comment[sr]=Плазмоид за праћење једног торента
Comment[sr@latin]=Plazmoid za praćenje jednog torenta
Comment[sv]=Plasmoid för att hålla reda på ett enstaka dataflöde
Comment[tr]=Tekil bir torrentin bilgilerini takip eden Plasma Programcığı
Comment[uk]=Плазмоїд для стеження за окремим торентом
Comment[x-test]=xxPlasmoid to keep track of a single torrentxx
Comment[zh_TW]=保持追蹤單一 torrent 的小程式
Type=Service
X-Plasma-DropMimeTypes=application/x-ktorrent-drag-object
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_ktorrent
X-KDE-PluginInfo-Author=Joris Guisson
X-KDE-PluginInfo-Email=joris.guisson@gmail.com
X-KDE-PluginInfo-Name=ktorrent
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://ktorrent.org
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
