[Desktop Entry]
Encoding=UTF-8
Name=KTorrent
Name[ast]=KTorrent
Name[be]=KTorrent
Name[bg]=KTorrent
Name[ca]=KTorrent
Name[ca@valencia]=KTorrent
Name[cs]=KTorrent
Name[da]=KTorrent
Name[de]=KTorrent
Name[el]=KTorrent
Name[en_GB]=KTorrent
Name[es]=KTorrent
Name[et]=KTorrent
Name[fi]=KTorrent
Name[fr]=KTorrent
Name[ga]=KTorrent
Name[gl]=KTorrent
Name[hi]=केटोरेंट
Name[hne]=केटोरेंट
Name[hr]=KTorrent
Name[is]=KTorrent
Name[it]=KTorrent
Name[ja]=KTorrent
Name[km]=KTorrent
Name[lt]=KTorrent
Name[lv]=KTorrent
Name[ms]=KTorrent
Name[nb]=KTorrent
Name[nds]=KTorrent
Name[ne]=केडीई टोरेन्ट
Name[nl]=KTorrent
Name[nn]=KTorrent
Name[pl]=KTorrent
Name[pt]=KTorrent
Name[pt_BR]=Torrent
Name[ro]=KTorrent
Name[ru]=KTorrent
Name[sk]=KTorrent
Name[sl]=KTorrent
Name[sr]=К‑торент
Name[sr@ijekavian]=К‑торент
Name[sr@ijekavianlatin]=KTorrent
Name[sr@latin]=KTorrent
Name[sv]=Ktorrent
Name[th]=โปรแกรม KTorrent
Name[tr]=KTorrent
Name[uk]=KTorrent
Name[x-test]=xxKTorrentxx
Name[zh_CN]=KTorrent
Name[zh_TW]=KTorrent
Icon=ktorrent
Comment=Plasmoid to keep track of a single torrent
Comment[ca]=Estri per mantenir el seguiment d'un sol torrent
Comment[ca@valencia]=Estri per mantindre el seguiment d'un sol torrent
Comment[cs]=Plasmoid pro sledování jednoho torrentu
Comment[da]=Plasmoid til at holde styr på en enkelt torrent
Comment[de]=Plasmoid zum Überwachen eines einzelnen Torrents
Comment[en_GB]=Plasmoid to keep track of a single torrent
Comment[es]=Un plasmoide para seguir el estado de un único torrent
Comment[et]=Plasmoid üheainsa torrenti jälgimiseks
Comment[fi]=Yksittäistä torrenttia tarkkaileva plasmoidi
Comment[fr]=Plasmoïde pour conserver la trace d'un torrent unique
Comment[ga]=Plasmóid a choinníonn tuairisc ar torrent amháin
Comment[gl]=Plasmoide para vixiar un único torrente
Comment[ja]=単一の torrent を追跡するプラズモイド 
Comment[lv]=Sīkrīks, kas uzrauga vienu torrentu
Comment[nb]=Miniprogram for å holde øye med en enkelt BitTorrent-nedlasting
Comment[nds]=Plasma-Lüttprogramm, dat op een Enkeltorrent kiekt
Comment[nl]=Plasmoid voor het volgen van een enkele torrent
Comment[nn]=Plasmoide for handsaming av ein enkelt torrent
Comment[pt]=Um plasmóide para acompanhar o estado de uma única torrente
Comment[pt_BR]=Plasmóide para acompanhar um único torrent
Comment[ro]=Plasmoid pentru evidența unui singur torent
Comment[ru]=Плазмоид, следящий за состоянием выбранного торрента
Comment[sl]=Gradnik za spremljanje enega torrenta
Comment[sr]=Плазмоид за праћење једног торента
Comment[sr@ijekavian]=Плазмоид за праћење једног торента
Comment[sr@ijekavianlatin]=Plazmoid za praćenje jednog torenta
Comment[sr@latin]=Plazmoid za praćenje jednog torenta
Comment[sv]=Plasmoid för att hålla reda på ett enstaka dataflöde
Comment[tr]=Tekil bir torrentin bilgilerini takip eden Plasma Programcığı
Comment[uk]=Плазмоїд для стеження за окремим торентом
Comment[x-test]=xxPlasmoid to keep track of a single torrentxx
Comment[zh_TW]=保持追蹤單一 torrent 的小程式
Type=Service
X-Plasma-DropMimeTypes=application/x-ktorrent-drag-object
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_ktorrent
X-KDE-PluginInfo-Author=Joris Guisson
X-KDE-PluginInfo-Email=joris.guisson@gmail.com
X-KDE-PluginInfo-Name=ktorrent
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://ktorrent.org
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
