[Desktop Entry]
Encoding=UTF-8
Name=KTorrent
Name[ar]=سيولك
Name[ast]=KTorrent
Name[be]=KTorrent
Name[bg]=KTorrent
Name[bs]=KTorent
Name[ca]=KTorrent
Name[ca@valencia]=KTorrent
Name[cs]=KTorrent
Name[da]=KTorrent
Name[de]=KTorrent
Name[el]=KTorrent
Name[en_GB]=KTorrent
Name[es]=KTorrent
Name[et]=KTorrent
Name[fi]=KTorrent
Name[fr]=KTorrent
Name[ga]=KTorrent
Name[gl]=KTorrent
Name[hi]=केटोरेंट
Name[hne]=केटोरेंट
Name[hr]=KTorrent
Name[hu]=KTorrent
Name[is]=KTorrent
Name[it]=KTorrent
Name[ja]=KTorrent
Name[kk]=KTorrent
Name[km]=KTorrent
Name[ko]=KTorrent
Name[lt]=KTorrent
Name[lv]=KTorrent
Name[mr]=के-टोरंट
Name[ms]=KTorrent
Name[nb]=KTorrent
Name[nds]=KTorrent
Name[ne]=केडीई टोरेन्ट
Name[nl]=KTorrent
Name[nn]=KTorrent
Name[pl]=KTorrent
Name[pt]=KTorrent
Name[pt_BR]=KTorrent
Name[ro]=KTorrent
Name[ru]=KTorrent
Name[si]=KTorrent
Name[sk]=KTorrent
Name[sl]=KTorrent
Name[sq]=KTorrent
Name[sr]=К‑торент
Name[sr@ijekavian]=К‑торент
Name[sr@ijekavianlatin]=KTorrent
Name[sr@latin]=KTorrent
Name[sv]=Ktorrent
Name[th]=โปรแกรม KTorrent
Name[tr]=KTorrent
Name[ug]=KTorrent
Name[uk]=KTorrent
Name[x-test]=xxKTorrentxx
Name[zh_CN]=KTorrent
Name[zh_TW]=KTorrent
Icon=ktorrent
Comment=Plasma widget to keep track of a single torrent
Comment[ar]=ودجة بلازما تراقب سيلًا معيّنًا
Comment[bs]=Plazma grafička kontrola za praćenje jednog torenta
Comment[ca]=Estri de Plasma per a mantenir el seguiment d'un sol torrent
Comment[ca@valencia]=Estri de Plasma per a mantindre el seguiment d'un sol torrent
Comment[cs]=Plasma widget pro sledování jednoho torrentu
Comment[da]=Plasma-widget til at holde styr på en enkelt torrent
Comment[de]=Plasmoid zum Überwachen eines einzelnen Torrents
Comment[el]=Γραφικό συστατικό plasma για ιχνηλάτηση μεμονωμένου torrent
Comment[en_GB]=Plasma widget to keep track of a single torrent
Comment[es]=Un elemento gráfico de Plasma para hacer un seguimiento de un único torrent
Comment[et]=Plasma vidin üheainsa torrenti jälgimiseks
Comment[fi]=Yksittäistä torrentia tarkkaileva Plasma-sovelma
Comment[fr]=Composant graphique pour conserver la trace d'un torrent unique
Comment[ga]=Giuirléid Plasma a choinníonn tuairisc ar torrent amháin
Comment[gl]=Trebello para seguir un torrente.
Comment[hu]=Plazmoid egy egyedi torrent nyomon követéséhez
Comment[it]=Oggetto di Plasma per tenere traccia di un singolo torrent
Comment[kk]=Жалғыз торрентті қадағалау  Plasma виджеті
Comment[km]=ធាតុ​ក្រាហ្វិក​​ប្លាស្មា​​ដែល​ត្រូវ​តាមដាន​ torrent តែ​មួយ
Comment[ko]=단일 토렌트를 추적하기 위한 Plasma 위젯
Comment[lt]=Plazma valdiklis sekti pavienį torrentą
Comment[nb]=Miniprogram for å holde øye med en enkelt torrent
Comment[nds]=Plasma-Lüttprogramm, dat op een Enkeltorrent kiekt
Comment[nl]=Plasma widget voor het volgen van een enkele torrent
Comment[pl]=Element interfejsu Plazmy do śledzenia pojedynczego torrenta
Comment[pt]=Um elemento do Plasma para acompanhar o estado de uma única torrente
Comment[pt_BR]=Widget do Plasma para acompanhar um único torrent
Comment[ro]=Plasmoid pentru evidența unui singur torent
Comment[ru]=Виджет, следящий за состоянием выбранного торрента
Comment[si]=තනි ටොරෙන්ටයක් හඹෑයෑම සඳහා ප්ලාස්මා විජෙට්ටුව
Comment[sk]=Plazmový widget na sledovanie jedného torrentu
Comment[sl]=Gradnik za spremljanje enega torrenta
Comment[sr]=Плазма виџет за праћење једног торента
Comment[sr@ijekavian]=Плазма виџет за праћење једног торента
Comment[sr@ijekavianlatin]=Plasma vidžet za praćenje jednog torenta
Comment[sr@latin]=Plasma vidžet za praćenje jednog torenta
Comment[sv]=Grafisk Plasmakomponent för att hålla reda på ett enstaka dataflöde
Comment[tr]=Tekil bir torrentin bilgilerini takip eden Plasma gereci
Comment[uk]=Віджет Плазми для стеження за окремим торентом
Comment[x-test]=xxPlasma widget to keep track of a single torrentxx
Comment[zh_CN]=跟踪单个种子的 Plasma 部件
Comment[zh_TW]=保持追蹤單一 torrent 的 Plasma 元件
Type=Service
X-Plasma-DropMimeTypes=application/x-ktorrent-drag-object
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_ktorrent
X-KDE-PluginInfo-Author=Joris Guisson
X-KDE-PluginInfo-Email=joris.guisson@gmail.com
X-KDE-PluginInfo-Name=ktorrent
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kde.org/applications/internet/ktorrent
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
